.title {
    text-align: center;
    font-weight: bold;
}

.optionalsInput {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.carousel{
    justify-content: center;
    width: 60%;
}

.carousel-item {
    margin-left: 8rem;
    width: 60vh;
}

.carousel-item textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.carousel-item input {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.carousel-item mat-form-field {
    border: none;
    border-radius: 5px;
    width: 100%;
}

/* .carousel-control-prev {
    margin-top: -20rem;
}

.carousel-control-next {
    margin-top: -20rem
} */

.carousel-control{
    font-weight: bold;
    color: #3f6ad8;
}

.carousel-control img{
    width: 3rem;
    height: 3rem;
}

.carousel-control img:hover{
    width: 3.5rem;
    height: 3.5rem;
}

.botonera {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.lista{
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.card{
    border: none;
    width: 18rem;
}

.card-body{
    margin-bottom: 1rem;
    border: 1px solid #3f6ad8;
    border-radius: 14px;
    width: 20rem;
}

.card-body button{
    margin-left: 1rem;
}