<body>
    <div class="optionalsInput">
        <div id="carouselExampleIndicators" class="carousel">
            <form [formGroup]="optionalsForm">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <mat-form-field>
                            <mat-label>Perfil:</mat-label>
                            <textarea matInput formControlName="profile" cols="30" rows="10"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="webPage">Pagina Web:</mat-label>
                            <input matInput formControlName="webPage" type="text" name="webPage">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="linkedIn">linkedIn:</mat-label>
                            <input matInput formControlName="linkedIn" type="text" name="linkedIn">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="zipCode">Codigo postal:</mat-label>
                            <input matInput formControlName="zipCode" type="number" name="zipCode">
                        </mat-form-field>
                    </div>
                    <div class="carousel-item">
                        <mat-form-field>
                            <mat-label for="aboutMe">Sobre Mi:</mat-label>
                            <textarea matInput formControlName="aboutMe" cols="30" rows="10"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Licencia de conducir</mat-label>
                            <mat-select formControlName="driverLicense" name="driverLicense">
                                <mat-option value="Si">Si</mat-option>
                                <mat-option value="No">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Nacionalidad</mat-label>
                            <mat-select formControlName="countriesId" name="countries">
                                <mat-option *ngFor="let country of countries" [value]="country.id">
                                    {{country.country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="address">Direccion:</mat-label>
                            <input matInput formControlName="address" type="text" name="address">
                        </mat-form-field>
                    </div>
                    <div class="carousel-item">
                        <mat-form-field>
                            <mat-label>Estado Civil</mat-label>
                            <mat-select name="marital" formControlName="maritalId">
                                <mat-option *ngFor="let condition of marital" [value]="condition.id">
                                    {{condition.condition}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Genero</mat-label>
                            <mat-select name="sexs" formControlName="sexsId">
                                <mat-option *ngFor="let sex of gender" [value]="sex.id">
                                    {{sex.gender}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="hobbies">Pasatiempos:</mat-label>
                            <textarea matInput formControlName="hobbies" cols="30" rows="3"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="achievements">Logros:</mat-label>
                            <textarea matInput formControlName="achievements" cols="30" rows="3"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="aptitudes">Aptitudes:</mat-label>
                            <textarea matInput formControlName="aptitudes" cols="30" rows="3"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="botonera">
                    <div class="botones">
                        <button class="plus" type="submit" *ngIf="views.plusOne"
                            (click)="postOptionals()">
                            <img src="./assets/Imagenes/plus.png" alt="+">
                        </button>
                        <button type="submit" mat-raised-button color="primary" *ngIf="views.saveButton"
                            (click)="updateOptionals()">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control">
                    <img src="./assets/Imagenes/arrow.png" alt="<<<">
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control">
                    <img src="./assets/Imagenes/arrowR.png" alt=">>>">
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Lista de opciones cargadas -->
        <div class="lista">
            <ul>
                <li *ngFor="let option of userData.optionals">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{option.profile}}</h5>
                            <p class="card-text">{{option.aboutMe}}</p>
                            <div class="botonera-card">
                                <button (click)="views.changeViews()"
                                    (click)="getOptional(option.id)">
                                    <img src="./assets/Imagenes/editar.png" alt="Editar">
                                </button>
                                <button (click)="removeOptional(option.id)">
                                    <img src="./assets/Imagenes/delete.png" alt="Eliminar">
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>