.title {
    text-align: center;
    font-weight: bold;
}

.optionalsInput {
    display: flex;
}

.carousel-item {
    width: 60vh;
    height: 75vh;
}

.carousel-item textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.carousel-item input {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.carousel-item mat-form-field {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.carousel-control-prev {
    left: -70px;
}

.carousel-control-next {
    right: -70px;
}

.carousel-control{
    font-weight: bold;
    color: #3f6ad8;
}

.botonera {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.lista{
    margin: 1rem 0 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.card{
    border: none;
}

.card-body{
    margin-bottom: 1rem;
    border: 1px solid #3f6ad8;
    border-radius: 14px;
}