

  .example-icon {
    color: #FEA31C;
  }

  .example-button {
    color: rgb(252, 250, 250); 
    transition: color 0.3s; 
    cursor: pointer; 
    transform: scale(1.1);
  }
  
  
  .example-button:hover {
    color: #FEA31C; 
  }