<header
  class="relative w-full p-4 bg-darkSlateBlue rounded-b-3xl shadow-md shadow-dimGray"
>
  <article class="flex items-center justify-start gap-2 sm:pl-8">
    <figure
      *ngIf="dataHeader.image?.imageUrl"
      class="w-[50px] aspect-square rounded-full border-2 border-white sm:w-[80px] shadow-md shadow-dimGray"
    >
      <img
        [src]="dataHeader.image?.imageUrl"
        alt="avatar"
        class="w-full h-full object-cover rounded-full"
      />
    </figure>

    <figure
      *ngIf="!dataHeader.image?.imageUrl"
      class="w-[50px] aspect-square rounded-full border-2 border-white sm:w-[80px] shadow-md shadow-dimGray"
    >
      <img
        src="/assets/imgs/not-found.webp"
        alt="avatar"
        class="w-full h-full object-cover rounded-full"
      />
    </figure>
    <div class="flex flex-col items-start justify-start text-start">
      <h1 class="text-white font-bold sm:text-xl">{{ dataHeader.fullName }}</h1>
      <ul class="flex items-center justify-center gap-2 text-xs sm:text-sm">
        <li>⭐</li>
        <li>⭐</li>
        <li>⭐</li>
      </ul>
    </div>
  </article>
  <div
    class="absolute top-4 right-2 flex flex-col gap-2 min-w-[100px] max-w-[200px] m:right-8 m:top-6 sm:max-w-[250px]"
  >
    <article
      class="p-4 flex items-center justify-center gap-2 bg-white rounded-md shadow-md shadow-dimGray"
    >
      <figure class="w-[80px]">
        <img
          src="/assets/imgs/clock.svg"
          alt="imagen reloj"
          class="w-full h-full object-contain"
        />
      </figure>
      <div class="flex flex-col text-center">
        <h2 class="font-bold text-darkSlateBlue text-5xl">
          {{ dataHeader.pointsAccumulated }}
        </h2>
        <p class="text-xs font-bold sm:text-base">Tus horas acumuladas</p>
      </div>
    </article>
    <button
      class="w-full bg-mediumViolet text-white border-none py-1 px-2 rounded-md font-semibold uppercase shadow-md shadow-dimGray sm:text-xl"
    >
      Canjear tus horas
    </button>
  </div>
</header>
