<section class="h-screen  w-full bg-azul-bg">
  <h1 class=" text-white font-lobster text-center text-6xl pt-16 mb-[128px] ">Turisticapp</h1>
  <div class=" flex ">
    <div class="px-5 bg-gris-contenedor/20  w-full m-5 py-12 rounded-lg">
      <form class="space-y-5">
        <div>
          <label for="password" class=" block mb-2  text-white text-lg font-farro">Ingrese su Token</label>
          <input type="password" id="password" [formControl]="password" required
            class="bg-white/50 border-gray-300 text-black rounded-lg block w-full p-2  ">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

            <div *ngIf="password.errors?.['required']">
              La Token es requerido.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Su  Token tiene que ser mayor a {{password.errors?.['minlength'].requiredLength}} caracteres
            </div>
            
          </div>
        </div>

        <div class=" flex flex-row-reverse ">
          <button (click)="redirectToData()"
            class="bg-azul-button text-white rounded-lg  px-8 py-3 font-farro uppercase tracking-widest  ">INGRESARr</button>
        </div>
      </form>
    </div>
  </div>
</section>