<body>
    <div style="display: flex;" >
        <div class="button-conteiner">
            <div class="button-nav">
                <button routerLink="experiencias" mat-raised-button color="primary">Mis datos personales</button>
            </div>
            <div routerLink="formaciones" class="button-nav">
                <button mat-raised-button color="primary">Mi Formación</button>
            </div>
            <div class="button-nav">
                <button routerLink="experiencias" mat-raised-button color="primary">Mi Experiencia</button>
            </div>
            <div routerLink="lenguajes" class="button-nav">
                <button mat-raised-button color="primary">Idiomas</button>
            </div>
            <div class="button-nav">
                <button mat-raised-button color="primary">Mis Habilidades</button>
            </div>
            <div routerLink="opcionales" class="button-nav">
                <button mat-raised-button color="primary">Opcionales</button>
            </div>
            <div class="button-nav">
                <button mat-raised-button color="primary">Mas datos</button>
            </div>
        </div>
        <div class="textArea">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>
