<app-barra></app-barra>
<div id="divprincipal">
    <div class="formulario">
        <div class="formulario_container">
            <div class="titulo_container">
                <h2>Crear Cuenta</h2>
            </div>
            <div class="arregloFila">
                <div class="">
                    <form>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input [(ngModel)]="corReg" type="email" name="email" placeholder="Email" required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input [(ngModel)]="pasReg" type="password" name="password" placeholder="Contraseña"
                                required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input [(ngModel)]="aliReg" type="text" name="alias" placeholder="Alias" required />
                        </div>
                        <div class="row clearfix">
                            <div class="media_columna">
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                    <input [(ngModel)]="nomReg" type="text" name="nombres" placeholder="Nombres" />
                                </div>
                            </div>
                            <div class="media_columna">
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                    <input [(ngModel)]="apeReg" type="text" name="apellidos" placeholder="Apellidos"
                                        required />
                                </div>
                            </div>
                        </div>
                        <div class="input_field"> <span><i class="fa-solid fa-id-card"></i></span>
                            <input [(ngModel)]="dniReg" type="text" name="DNI" placeholder="DNI" required />
                        </div>
                        <div class="input_field select_option">
                            <select [(ngModel)]="proReg" name="provincia" (change)="actualizarLocalidades()">
                                <option value="0">Seleccione Provincia</option>
                                <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}
                                </option>
                            </select>
                            <div class="select_arrow"></div>
                        </div>
                        <div class="input_field select_option">
                            <select [(ngModel)]="locReg" name="localidad">
                                <option value="0">Seleccione Localidad</option>
                                <option *ngFor="let localidad of localidades[proReg]" [value]="localidad">{{ localidad
                                    }}</option>
                            </select>
                            <div class="select_arrow"></div>
                        </div>
                        <div class="input_field"> <span><i class="fa-solid fa-house"></i></span>
                            <input [(ngModel)]="dirReg" type="text" name="direccion" placeholder="Calle y altura"
                                required />
                        </div>
                        <input (click)="botReg()" class="button" type="submit" value="Registrar" />
                        <div *ngIf="mensajeRegistro">
                            {{ mensajeRegistro }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="creditos">Derechos Reservados - <a href="https://github.com/Karenale05/SantexAcademy"
            target="_blank">DELKAT C©</a>
    </p>
</div>