<app-barra></app-barra>
<div id="divprincipal">
    <div class="formulario">
        <div class="formulario_container">
            <div class="titulo_container">
                <h2>Crear Cuenta</h2>
            </div>
            <div class="arregloFila">
                <div class="">
                    <form>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input [(ngModel)]="corReg" type="email" name="email" placeholder="Email" required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input [(ngModel)]="pasReg" type="password" name="password" placeholder="Contraseña" required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input [(ngModel)]="pas2Reg" type="password" name="password" placeholder="Repetir Contraseña" required />
                        </div>
                        <div class="row clearfix">
                            <div class="media_columna">
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                    <input [(ngModel)]="nomReg" type="text" name="nombres" placeholder="Nombres" />
                                </div>
                            </div>
                            <div class="media_columna">
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                    <input [(ngModel)]="apeReg" type="text" name="apellidos" placeholder="Apellidos" required />
                                </div>
                            </div>
                        </div>
                        <div class="input_field"> <span><i class="fa-solid fa-id-card"></i></span>
                            <input [(ngModel)]="dniReg" type="text" name="DNI" placeholder="DNI" required />
                        </div>
                        <div class="input_field"> <span><i class="fa-solid fa-calendar-days"></i></span>
                            <input [(ngModel)]="nacReg" type="text" name="Fecha de Nacimiento" placeholder="DD/MM/AAAA" required />
                        </div>
                        <div class="input_field"> <span><i class="fa-solid fa-house"></i></span>
                            <input [(ngModel)]="dirReg" type="text" name="direccion" placeholder="Direccion" required />
                        </div>
                        <div class="input_field"> <span><i class="fa-solid fa-archway"></i></span>
                            <input [(ngModel)]="codReg" type="text" name="cp" placeholder="Código Postal" required />
                        </div>
                        <input (click)="botReg()" class="button" type="button" value="Registrar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="creditos">Derechos Reservados - <a href="https://github.com/Karenale05/SantexAcademy"
            target="_blank">DELKAT &copy</a>
    </p>
</div>
<app-footer></app-footer>


     <!--
                    <div class="input_field radio_option">
                        <input type="radio" name="radiogroup1" id="rd1">
                        <label for="rd1">Hombre</label>
                        <input type="radio" name="radiogroup1" id="rd2">
                        <label for="rd2">Mujer</label>
                    </div>
                    <div class="input_field select_option">
                        <select>
                            <option>Selecione Provincia</option>
                            <option>Córdoba</option>
                            <option>Formosa</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
                     
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">Estoy de acuerdo con los términos y condiciones</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">Quiero recibir publicidad y spam para siempre en mi correo</label>
                    </div>
                    -->