<footer class="py-2 bg-dark text-white ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 text-lg-start">Copyright &copy; 2023</div>
      <div class="col-lg-3 my-3 my-lg-0">
        <a class="btn btn-dark" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark" href="#!"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>