<footer class="py-2 text-white ">
  <div class="container" id="cont1">
    <div class="container" id="cont2">
      <div>
        <h1>PREGUNTAS FRECUENTES</h1>
      </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" outline="none">
                ¿Cómo es la modalidad de cursado?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Nuestra modalidad virtual proporciona una forma flexible y conveniente de adquirir conocimientos y habilidades a través de la tecnología y la interacción en línea. Los estudiantes pueden aprender a su propio ritmo y desde cualquier ubicación, lo que la convierte en una opción atractiva para personas con diversos horarios y necesidades de aprendizaje.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cuáles son los metodos de pago?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Nos enorgullece ofrecer una amplia variedad de métodos de pago para que 
                elijas el que mejor se adapte a tus necesidades. Aceptamos pagos a través de tarjetas de crédito, 
                PayPal, transferencias bancarias, pago por móvil y otros métodos convenientes. 
                Si en algún momento tienes preguntas o requieres asistencia con el proceso de pago, 
                nuestro equipo está a tu disposición para ayudarte. No dudes en contactarnos en cualquier momento.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Cómo me inscribo a un curso?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul style="list-style-type: none; padding-left: 0;">
                  <li>Registro de Usuario:
                    <ul style="list-style-type: none; padding-left: 0;">
                      <li>Para comenzar, asegúrate de estar registrado como usuario en nuestra plataforma. 
                        Si aún no tienes una cuenta, puedes crear una de forma sencilla siguiendo estos pasos <a href="http://localhost:4200/register">Registrarse</a></li>
                    </ul>
                  </li>
                  
                  <li>Explorar los Cursos:
                    <ul style="list-style-type: none; padding-left: 0;">
                      <li>Navega por nuestra amplia oferta de cursos en línea para encontrar el que te interese.</li>
                    </ul>
                  </li>
                  
                  <li>Detalle del Curso:
                    <ul style="list-style-type: none; padding-left: 0;">
                      <li>Haz clic en el curso que deseas tomar para acceder a la página de detalles del curso. Aquí encontrarás información detallada sobre el curso, incluyendo descripción, contenido, instructor y requisitos.</li>
                    </ul>
                  </li>
                
                  <!-- Otros pasos en la misma estructura -->
                </ul>
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="container text-center" id="cont3">
          <div class="row">
            <div class="col">
              <h5>Educación</h5>
              <a href="http://localhost:4200/catalogo-cursos">Cursos</a>
            </div>
            <div class="col">
              <h5>Equipo</h5>
              <a href="http://localhost:4200/quienes-somos">¿Quiénes somos?</a>
            </div>
            <div class="col">
              <h5>Perfil</h5>
              <a href="http://localhost:4200/login">Iniciar sesión</a>
              <br>
              <a href="http://localhost:4200/register">Registrarse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-9 text-lg-start">
        <p id="copy">&copy; 2023 IncubadoradelNoc</p>
      </div>
      <div class="col-lg-3 my-3 my-lg-0">
        <a class="btn btn-white" href="https://twitter.com/incubadora_noc" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-white" href="https://www.facebook.com/profile.php?id=100063640024874" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-white" href="https://www.instagram.com/incubadoradelnoc" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
