<footer class="py-2 text-white ">
  <div class="container" id="cont1">
    <div class="container" id="cont2">
      <div>
        <h1>PREGUNTAS FRECUENTES</h1>
      </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" outline="none">
                ¿Cómo es la modalidad de cursado?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. A pariatur aut ut magni facere praesentium rem ad aliquam, veritatis asperiores tempore iusto vero quam voluptas eos temporibus odit laboriosam dicta.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cuáles son los metodos de pago?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque rem, aut consectetur iste provident at obcaecati voluptatibus quod! Maxime nulla voluptas provident fuga architecto voluptatum accusantium voluptatem autem recusandae tempore?</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Cómo me inscribo a un curso?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium pariatur ab non rem. Sequi, perferendis fugiat a, repellat laboriosam quaerat nisi, modi saepe minus numquam officiis inventore magnam consequuntur doloremque.</div>
            </div>
          </div>
        </div>
        <div class="container text-center" id="cont3">
          <div class="row">
            <div class="col">
              <h5>Educación</h5>
              <a href="http://localhost:4200/catalogo-cursos">Cursos</a>
            </div>
            <div class="col">
              <h5>Equipo</h5>
              <a href="http://localhost:4200/quienes-somos">¿Quiénes somos?</a>
            </div>
            <div class="col">
              <h5>Perfil</h5>
              <a href="http://localhost:4200/login">Iniciar sesión</a>
              <br>
              <a href="http://localhost:4200/register">Registrarse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-9 text-lg-start">
        <p id="copy">&copy; 2023 IncubadoradelNoc</p>
      </div>
      <div class="col-lg-3 my-3 my-lg-0">
        <a class="btn btn-white" href="https://twitter.com/incubadora_noc" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-white" href="https://www.facebook.com/profile.php?id=100063640024874" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-white" href="https://www.instagram.com/incubadoradelnoc" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
