/* Estilos para el footer */
footer {
  background-color: #0f226d;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilos para los enlaces en el footer */
footer a {
  color: #f9f9f9;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #ff4500; /* Cambia el color al pasar el mouse */
}

/* Estilos para el texto de derechos de autor */
#copy {
  color: gray;
}

/* Resto de estilos que has proporcionado */
#cont1 {
  background-color: #0f226d;
  padding: 20px;
}

#cont2 {
  padding: 20px;
}

#cont3 {
  padding: 20px;
}

.accordion-button {
  background-color: #0f226d;
  color: aliceblue;
  outline: none;
}

#accordionFlushExample {
  background-color: #0f226d;
}

button {
  background-color: #0f226d;
  color: aliceblue;
  outline: none;
}

button:hover {
  background-color: #ff6501;
}

#flush-collapseOne {
  background-color: #0f226d;
  color: aliceblue;
}

#flush-collapseTwo {
  background-color: #0f226d;
  color: aliceblue;
}

#flush-collapseThree {
  background-color: #0f226d;
  color: aliceblue;
}

h1 {
  color: #ff6501;
  padding: 20px;
}
