
body {
    margin: 0;
}
p { 
    margin-right: 40px;
}
h1 {
    margin: 0px 400px;
    text-align: center;
}

.Inicio:hover{
    text-decoration: underline;
}

.Cursos:hover{
    text-decoration: underline;
}

.Sesion:hover{
    text-decoration: underline;
}

.Registro:hover{
    text-decoration: underline;
}


/*
#bienvenidos{       
   /* background-color: rgb(31, 31, 229);
    width:"100px";
    height: "500px";
    color:white;
    font-size: 50px;
    /*background-image: linear-gradient(to bottom, blue,orangered);
    background: url("../src/resources/banner.png") ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   
}*/
#bienvenidos {
    background: url("../../../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover; /* Esto ajustará la imagen al 100% del ancho del contenedor */
    width: 100%;
    height:1500px;

    background-position: center;
    padding-right: 100px;
}



.banner{
    background-repeat: no-repeat;
   
   
}



.txt_programa{
    background-image: linear-gradient(to right, #0056b3, #F5670E , #0056b3);
    text-align: left;
    background-color: #F5670E ;  
    font-size: 25px;
    color: white;

}


.detalles{
    color: white;       
    background-color:  #0056b3;  
    width:150px;
    height: 40px;
    font-size: 20px;

    display: inline-block; 
    margin-right: 10px;
    
}



.cursos{      
    display: flex;
    padding: 1rem;
    justify-content:space-between ;  

    
   
   
}

.taller-seminario{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background: #fdfdfd;
    width: 190px;
   
   
   
}  


.imagen_equipo{
    height: 200px;
}

.descripcion ,h4,p{
text-align: center;
}


.footer{
    background-image: linear-gradient(to bottom,white,#F5670E );
    background-color: #F5670E ;
    height: 250px;      
    color:  #0056b3;

}
.sobre{
    font-size:30px;
    
    padding-left: 50px;
    padding-top: 40px;
    text-decoration: none;
    color:blue;
   
}
.sobre:hover{
    color:red;

}
.pago{
    font-size: 30px;
    text-decoration: none;
   
    padding-left: 50px;
    padding-top: 40px;
    color:blue;
}
.pago:hover{
    color:red;
}

.Siguenos{
    font-size: 30px;
    vertical-align:top;
   
}
.redes-sociales{
 display:flex;
 
justify-content:space-evenly;
}

#header-right{
    color: blue;
    
  
    
}


