<link rel="stylesheet" href="pagina-principal.component.css">
    <div id="header" style="border-bottom: 1px solid gray; display: flex; padding: 10px 100px; justify-content: space-between">
        <div id="header-left">
            
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/descarga.png" height="60px">
        </div>
        <div id="header-right" style="display: flex; align-items: center; ">
            <p class="Inicio">Inicio</p>
            <p class="Cursos">Cursos </p>
            <p class="Sesion">Iniciar sesion</p>
            <p class="Registro">Registrarse</p>
           
        </div>
    </div>
    <div id="bienvenidos" style="padding: 48px;"  >
   
  
  
        
       
        
    </div>

    <div class="txt_programa">
        <h1>Nuestros cursos,talleres y seminarios</h1>

    </div>
    <br>


    <div class="cursos">
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/tallerluminaria.png"  class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Taller de diseño y luminaria</h4>
           <button class="detalles">Ver mas </button>
          
                
            </div>
        </div>
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/tallerdiseño.png"  class="imagen_equipo"  alt="">
            <div class="descripcion">
                <h4>Taller de diseño de imagen y video con canva </h4>
                <button class="detalles">Ver mas </button>
              
            </div>
        </div>
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/tallermacrame.png" class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Taller de macrame y tejido crochet</h4>
                <button class="detalles">Ver mas </button>
              
            </div>
        </div>
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/curso1.png" class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Curso de subimacion con maquina</h4>
                <button class="detalles">Ver mas </button>
                
            </div>
        </div>
 
    </div>

    <div class="cursos">
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/seminario1.png" class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Seminario de sublimacion artesanal</h4>
                <button class="detalles">Ver mas </button>
              
            </div>
        </div>
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/seminario2.png" class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Seminario
                    <br> de velas</h4>
                <button class="detalles">Ver mas </button>

            </div>
        </div>
        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/taller1.png" class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Taller de diseño y reciclaje:packaging</h4>
                <button class="detalles">Ver mas </button>

            </div>
        </div>

        <div class="taller-seminario">
            <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/seminariolen.png" class="imagen_equipo" alt="">
            <div class="descripcion">
                <h4>Seminario 
                   <br> de lencería</h4>
                <button class="detalles">Ver mas </button>

            </div>
        </div>
  
</div>
<footer class="footer">
    <br>
    <br>
    
   <a href="#"  class="sobre">Sobre nosotros</a>
   <br>
   <br>
   

   <a href="#" class="pago">Metodos de pago</a>


   <p class="Siguenos">¡Seguí nuestras redes sociales y enterate de todo! </p>
   <div class="redes-sociales">
    <a href="https://www.instagram.com/incubadoradelnoc/"><img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/instagram.png" alt=""  > </a>
    <a href="https://www.facebook.com/people/Incubadora-del-NOC/100063640024874/?_se_imp=07BvKOX7s60H0HecF&paipv=0&eav=AfazsVDwWjn1-L1pHPASiGSHvgEGbdNE7jiBUlypsC2fCZn9-tA8H-9ksL0PZHLcn-c&_rdr"> <img src="/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/facebook.png" alt=""></a>

   </div>
<style>
  body {
    margin: 0;
}
p { 
    margin-right: 40px;
}
h1 {
    margin: 0px 400px;
    text-align: center;
}

.Inicio:hover{
    text-decoration: underline;
}

.Cursos:hover{
    text-decoration: underline;
}

.Sesion:hover{
    text-decoration: underline;
}

.Registro:hover{
    text-decoration: underline;
}


/*
#bienvenidos{       
   /* background-color: rgb(31, 31, 229);
    width:"100px";
    height: "500px";
    color:white;
    font-size: 50px;
    /*background-image: linear-gradient(to bottom, blue,orangered);
    background: url("../src/resources/banner.png") ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   
}*/
#bienvenidos {
    background: url("/home/eliana/Escritorio/Incubadora-NOC/front/src/assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover; /* Esto ajustará la imagen al 100% del ancho del contenedor */
    width: 100%;
    height:1500px;

    background-position: center;
    padding-right: 100px;
}



.banner{
    background-repeat: no-repeat;
   
   
}



.txt_programa{
    background-image: linear-gradient(to right, #0056b3, #F5670E , #0056b3);
    text-align: left;
    background-color: #F5670E ;  
    font-size: 25px;
    color: white;

}


.detalles{
    color: white;       
    background-color:  #0056b3;  
    width:150px;
    height: 40px;
    font-size: 20px;

    display: inline-block; 
    margin-right: 10px;
    
}



.cursos{      
    display: flex;
    padding: 1rem;
    justify-content:space-between ;  

    
   
   
}

.taller-seminario{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background: #fdfdfd;
    width: 190px;
   
   
   
}  


.imagen_equipo{
    height: 200px;
}

.descripcion ,h4,p{
text-align: center;
}


.footer{
    background-image: linear-gradient(to bottom,white,#F5670E );
    background-color: #F5670E ;
    height: 250px;      
    color:  #0056b3;

}
.sobre{
    font-size:30px;
    
    padding-left: 50px;
    padding-top: 40px;
    text-decoration: none;
    color:blue;
   
}
.sobre:hover{
    color:red;

}
.pago{
    font-size: 30px;
    text-decoration: none;
   
    padding-left: 50px;
    padding-top: 40px;
    color:blue;
}
.pago:hover{
    color:red;
}

.Siguenos{
    font-size: 30px;
    vertical-align:top;
   
}
.redes-sociales{
 display:flex;
 
justify-content:space-evenly;
}

#header-right{
    color: blue;
    
  
    
}





</style>
</footer>





