<div class="selector" *ngIf="views.selectorHide">
    <div class="title">
        <h1> DISEÑOS DISPONIBLES</h1>
    </div>
    <section>
        <img routerLink="four" (click)="views.profileSelct()" src="assets/Imagenes/CV1.png" alt="">
        <img routerLink="one" (click)="views.profileSelct()" src="assets/Imagenes/CV2.png" alt="">
        <img routerLink="two" (click)="views.profileSelct()" src="assets/Imagenes/CV3.png" alt="">
        <img src="assets/Imagenes/CV4.png" alt="">
    </section>    
</div>
<router-outlet></router-outlet>
