<div class="container-fluid" style="padding: 0">
  <div>
<!--     <div class="d-grid gap-2 col-6 mx-auto">
      <button
        class="btn btn-primary"
        type="button"
        style="box-shadow: 3px 3px 5px #273c9b"
      >
        Categorias
      </button>
      <button
        class="btn btn-primary"
        type="button"
        style="
          box-shadow: 2px 2px 5px #000000;
          text-shadow: 1px 1px 2px #000000;
        "
      >
        Horarios
      </button>
    </div>
   
    <div class="row mt-5">
      <div class="col">
        <button
          class="btn"
          style="
            background-color: var(--colorOrange);
            width: 100%;
            border-color: #000;
            border-width: 2px;
          "
        >
          Categorias
        </button>
      </div>
      <div class="col">
        <button
          class="btn"
          style="
            width: 200px;
            background-color: #4f75bd;
            border-radius: 2px;
            border-color: #000;
            box-shadow: 3px 3px 5px #4e66d1;
            text-shadow: 1px 1px 5px #fff;
          "
        >
          Horarios
        </button>
      </div>
      <div class="col">
        <button
          type="submit"
          class="btn"
          style="
            border-color: var(--colorOrange);
            box-shadow: 5px 5px 0 var(--colorOrange);
            margin: 0;
          "
        >
          Categorias
        </button>
      </div>
      <div class="col">
        <button
          type="submit"
          class="btn focus"
          style="
            border-color: var(--colorBlue);
            box-shadow: 0px 0px 5px var(--colorBlue);
            margin: 0;
          "
        >
          Categorias
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          class="btn btn"
          style="
            background-color: var(--colorOrange);
            border-radius: 15px;
            padding-left: 30px;
            padding-right: 30px;
            color: #fff;
          "
        >
          Categorias
        </button>
      </div>
    </div> -->
    <div class="row" style="background-color: #fff">
      <div class="col">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Agregar
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="addCourse">Curso</a></li>
          <li>
            <a class="dropdown-item" routerLink="categories/addCourseCategory"
              >Categoria</a
            >
          </li>
          <li><a class="dropdown-item" routerLink="schedule">Horario</a></li>
        </ul>
      </div>
      <div class="col">
        <a routerLink="categories" style="text-decoration: none; color: #000"
          >Categorias</a
        >
      </div>
    </div>
    <table class="table rounded">
      <thead>
        <tr>
          <th scope="col fs-1">Curso</th>
          <th scope="col">
            Activo
            <i class="fa fa-check-circle"></i>
          </th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let course of courses">
        <tr>
          <th scope="row">
            <h5>{{ course.name }}</h5>
          </th>

          <th scope="row">
            <div *ngIf="course.active">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-check"
                viewBox="0 0 16 16"
              >
                <path
                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                />
              </svg>
            </div>
            <div *ngIf="!course.active">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-x"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </th>
          <th scope="row">
            <button
              class="btn border rounded"
              style="background-color: var(--colorOrange)"
              routerLink="editCourse/{{ course.id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                />
              </svg>
            </button>
          </th>
          <th scope="row">
            <button
              class="btn border rounded"
              (click)="deleteCourse(course.id)"
              style="background-color: var(--colorOrange)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
