<div class="container-fluid userSelect" style="width: 100%">
  <div class="panel mt-3 offset-xl-2 offset-lg-1 offset-md-0 offset-sm-0">
    <div class="mt-3 mb-5 row">
      <button
        class="botonS col fs-2 pt-0"
        routerLink="courses"
        style="position: relative; top: 40%"
      >
        Cursos
      </button>
    </div>
    <div class="mt-3 mb-5 row">
      <button
        class="botonS col fs-2 pt-0"
        routerLink="categories"
        style="position: relative; top: 40%"
      >
        Categorias
      </button>
    </div>
    <div class="mt-3 mb-5 row">
      <button
        class="botonS col fs-2 pt-0"
        routerLink="schedules"
        style="position: relative; top: 40%"
      >
        Horarios
      </button>
    </div>
    <div class="mt-3 mb-5 row">
      <button
        class="botonS col fs-2 pt-0"
        routerLink="about-us"
        style="position: relative; top: 40%"
      >
        Sobre nosotros
      </button>
    </div>
    <div class="mt-3 mb-5 row">
      <button
        class="botonS col fs-2 pt-0"
        routerLink="admins"
        style="position: relative; top: 40%"
      >
        Administradores
      </button>
    </div>
    <div class="row">
      <img
        src="../../../assets/img/logo.png"
        class="img-fluid"
        style="
          height: 150px;
          width: 180px;
          position: relative;
          top: 40%;
          left: 38%;
        "
        alt=""
      />
    </div>
  </div>
</div>
