.customScroll::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #888888df;
  border-radius: 5px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #888888df;
}
