.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background: var(--background-gradient);
}

.body {
    text-align: center;
    margin: 1vh;
}

.form-container {
    background-color: VAR(--color-0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: VAR(--box-shadow-1);
    max-width: 400px;
    width: 60vh;
    margin: 0 auto;
}

input {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-color: var(--color-3);
}

select {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-color: var(--color-3);
}

textarea {
    font-size: 14px;
}

.btn-custom {
    background-color: VAR(--color-primary);
    color: var(--color-0);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}