<div class="empty" *ngIf="productList.length  === 0">
    <span>El Carrito esta Vacio...</span>
  </div>
  
  <main class="main" *ngIf="productList.length !== 0">
    <h2 class="h2">Carrito de Compras</h2>
    <div class="shopping-cart">
      <app-card *ngFor="let product of productList" [product]="product"></app-card>
    </div>
    <button type="submit" class="button empty-cart" (click)="emptyCart()">Vaciar Carrito</button>
    
    <section class="summary">
      <h2 class="h2">Resumen de Compras</h2>
      <div class="price-shopping">
        <div class="summary-item">
          <span class="product-cost">Productos ({{productList.length}})</span>
          <span class="product-cost">$ {{ totalPrice }}</span>
        </div>
        <div class="summary-item">
          <span class="shipping-cost">Costo de Envio</span>
          <span class="shipping-cost">$ {{"envio"}}</span>
        </div>
        <div class="summary-item total">
          <span class="total-price">Total</span>
          <span class="total-price">$ {{ totalPrice }}</span>
        </div>
        <button type="submit" class="button button-buy">Comprar</button>
      </div>
    </section>
  </main>
  