<div class="row justify-content-center">
    <div id="carouselExampleAutoplaying" class="carousel slide col-sm-8" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="url1" class="d-block w-100" (click)="redCategory()" alt="banner-01">
          </div>
          <div class="carousel-item">
            <img [src]="url2" class="d-block w-100" (click)="redireccion('2')" alt="banner-02">
          </div>
          <div class="carousel-item">
            <img [src]="url3" class="d-block w-100" (click)="redireccion('3')" alt="banner-03">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>