<div>
    <div class="pagina-perfil">
      <!-- Contenido de la página de perfil -->
  
      <div class="contenedor-titulo-y-boton">
        <div>
          <h2>Mi Perfil</h2>
        </div>
        <div>
          <a [routerLink]="['/catalogo-cursos']" class="boton-derecho"
            >Conocé nuestros cursos</a>
        </div>
      </div>
      <br />
      <br />
  
      <!-- Agregar más detalles del perfil aquí -->
  
    
          <div class="container">
            <div class="row">
              <!-- Columna para el icono de casa -->
              
                
            
          <div class="col-4 d-flex flex-column">
            <a href="/dashboard/perfil-docente/" class="dashboard-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
              </svg>
              Home
            </a>
            <a routerLink="/perfil-alumno/editar" class="boton-personalizado"><!--dejo para no crear mas fuera del mvp-->
              Editar mi perfil &nbsp;&nbsp;
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-people-fill"
                viewBox="0 0 16 16">
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
                />
              </svg>
            </a>
            <a routerLink="/perfil-docente/mis-cursos"  class="boton-personalizado">
              Mis cursos
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-mortarboard-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"
                />
                <path
                  d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"
                />
              </svg>
            </a>
            <a (click)="logout()"  class="boton-personalizado">
              Cerrar sesión &nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="19"
                height="19"
                fill="currentColor"
                class="bi bi-box-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </a>
          </div>
              <div class="col-8">
            <h3>¡Bienvenido a tu perfil de Docente!</h3>
            <br>
            <p>
              Hola! Te damos la bienvenida a nuestros cursos. <br />
              Incubadora del NOC es una empresa que apoya a emprendedores,<br>
              brindándoles herramientas para alcanzar el éxito.
            </p>
            <img src="assets/images/logo circular-nuevo.png" alt="Logo de la empresa" class="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  