<div class="signup-a">
    <h1>LOG IN</h1>
<form >
   <div >
    <p class="texto">No tienes cuenta?<a>Crea tu cuenta </a>te tomara menos de un minuto.</p>
   </div>
    <label for="username"> <i class="fa-solid fa-user"></i> Usuario</label>
    <input type="text" placeholder="Escribe tu Usuario" id="username">

    <label for="password"> <i class="fa-solid fa-lock"></i> Contraseña</label>
    <input type="password" placeholder="************" id="password">

    <div class="rm">
     <input type="checkbox" id="rem">
     <label  for="rem">Recuerdame</label>
    </div>

    <div>
        <a class="contra" href="#">Olvidaste la contraseña?</a><br>
    </div>

   <button id="button" class="btn" (click)= 'onLogin($event)'>Login</button>

    <div class="redes">
        <ul>
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
    
    <img class="avatar" src="../../../assets/img/nuevo-fondo-incubadora.png"alt="">
</form>
   
</div>
