<body>
    <div class="container">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">CONTACTANOS</h3>
                <p class="text">Queremos siempre estar en contacto contigo, puedes usar cualquiera de estos medios para poder preguntarnos cualquier duda.</p>
                <div class="info">
                    <div class="information">
                        <i class="fa-solid fa-location-dot"></i> 
                        <p>Mitre 757, Argentina</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-envelope"></i> 
                        <p>incubadoradelnoc@gmail.com</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-phone"></i>  
                        <p>354-963-6800</p>
                    </div>
                </div>
                <div class="social-media">
                    <p>Nuestras redes sociales:</p>
                    <div class="social-icon">
                        <a href="https://www.facebook.com/profile.php?id=100063640024874" target="_blank">
                            <i class="fab fa-facebook-f" ></i>
                        </a>
                        <a href="https://www.instagram.com/incubadoradelnoc/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3407.574711886247!2d-64.33624861594883!3d-31.343116326419988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329df152e08e05%3A0x9773696c484564ea!2sC.%20Bartolom%C3%A9%20Mitre%20757%2C%20La%20Calera%2C%20C%C3%B3rdoba%2C%20Argentina!5e0!3m2!1ses-419!2spe!4v1695928313946!5m2!1ses-419!2spe" width="570" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
    </div>
    
</body>