body {
    margin: 0;
  }
  
  * {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }
  
  h1 {
    margin: 100px 400px;
    text-align: center;
    font-size: 1.67em;
    width: 40%;
  }
  
  button.redondo {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
  }
  
  div#introduction-actions {
    display: flex;
    justify-content: center;
  }
  
  
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  

  nav {
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
    font-size: 14px;
  }
  
  .menu li:first-child {
    margin-left: 0;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li:hover {
    color: #6b53f0;
  }

.font-icons:hover {
  color: #d153f0;
}

  .redondo {
    background-color: white;
    color: black;
    border-radius: 25%;
    padding: 10px 25px;
    font-size: 14px;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .redondo:hover {
    background-color: black;
    color: white;
  }

  .r-violeta {
    background-color:#ffffff;
    color: #6b53f0;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 14px;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .r-violeta:hover {
    background-color: #6b53f0 ;
    color:#ffffff;
  }

  .border-purple {
    border-color: #6b53f0;
    color: #6b53f0;
  }
  
  .border-black {
    border-color: black;
  }
  
  #btn-join {
    height: 3em;
    width: 8.5em;
  }
  
  #btn-join:hover {
    background-color: #201b24;
    color: white;
  }
  
  
  #introduction {
    padding-top: 140px;
    padding-bottom: 70px;
  }
  
  #introduction-text {
    display: flex;
    justify-content: center;
    
  }
  

  
  #impact {
    background-color: #201b24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 405px;
  }
  
  #impact-text-1 {
    font-size: 1.9em;
    font-weight: bolder;
    margin: 0.6em 0;
  }
  
  #impact-text-2 {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .impact-col {
    width: 44%;
  }
  
  #item-3 {
    width: 50%;
  }
  
  #item-4 {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .counters-box {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .counter-number {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }
  
  .counter-text {
    font-size: 0.9em;
    color: #8c939c;
  }

  #plus {
    color: #6b53f0;
    font-size: 2em;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  
  

  #impact {
    background-color: #F8F8F8;
    padding: 50px 0px;
  }
  
  .counters-row {
    margin-top: 50px;
    justify-content: center;
  }
  
  .counters-box {
    text-align: center;
    margin: 0 50px;
  }
  
  .counter-number {
    font-size: 60px;
    font-weight: 700;
    color: #2980b9;
  }
  
  .counter-text {
    color: #8c999c;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .counters-row {
      flex-direction: column;
    }
    
  }
  .caja-externa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20%;
  }
  
  #introduction {
    display: flex;
    justify-content: center;
    padding: 18px 0px;  }

  .fusion-row {
      margin: 0 auto;
  }
  .contenedor-todo {
    height: 100vh;
  }
  
  .counter {
    color: #fff;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
  }
  
  
  #counter-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  #counter-container > div {
    flex-basis: 50%;
  }
  
  @media screen and (min-width: 600px) {
    #counter-container > div {
      flex-basis: auto;
    }
  }
