@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
*{
   /*  Reseteadores */
    font-family: 'Inter', 'Arial','Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize; /* para que ela primera letra empiece en mayuscula */
    text-decoration: none;   /* quita las linea de los enlaces */
    list-style: none; /* quitas las visñetas de las listas */
}
:root{
    /* =========color========= */
    --body-color: #ffff;
}
body {
    margin: 0;
}
p {
    margin-right: 40px;
}
h1 {
    margin: 0px 370px;
    text-align:center;
    font-size: 28px;
}
button.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 35px;
    font-size: 12px;
}
button.redondo1:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}
button.redondo2 {
    background-color: white;
    border: 2px solid #6B53F0;
    color: #6B53F0;
    border-radius: 25px;
    padding: 0px 20px;
    height: 35px;
    font-size: 12px;
}
button.redondo2:hover {
    background-color: #6B53F0;
    border: 2px solid white;
    color: white;
}
div#introduction-actions {
    display: flex;
    justify-content: center;
}
#header{
    margin-top: 10px;
    border-bottom: 1px solid gray; 
    display: flex; 
    padding: 10px 60px; 
    justify-content: space-between
}
#header-right{
    display: flex; 
    align-items: center;
    font-size: 13px;   
}
#header-right a{
    color: black;
    margin-left: 25px;
}