<div class="form-container">
  <form class="form" [formGroup]="registroForm" (change)="dataUser.markForm(registroForm)">

    <!-- * Input de NOMBRE -->
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput required placeholder="Nombre" type="text" class="input" formControlName="name">
    </mat-form-field>
    <p class="error" *ngIf="name?.errors?.['required'] && name?.dirty">Este campo es obligatorio</p>

    <!-- * Input de APELLIDO -->
    <mat-form-field>
      <mat-label>Apellido:</mat-label>
      <input matInput required name="lastName" placeholder="Apellido" type="text" class="input"
        formControlName="lastName">
    </mat-form-field>
    <p class="error" *ngIf="lastName?.errors?.['required'] && lastName?.dirty">Este campo es obligatorio</p>

    <!-- * Input de CORREO -->
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput required name="email" placeholder="Email" type="email" class="input" formControlName="email">
    </mat-form-field>
    <p class="error" *ngIf="email?.errors?.['required'] && email?.dirty">Este campo es obligatorio</p>
    <p class="error" *ngIf="email?.errors?.['email']">Debe ingresar un correo valido</p>

    <!-- * Input de NICK -->
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput required name="nick" placeholder="Usuario" type="text" class="input" formControlName="nick">
    </mat-form-field>
    <p class="error" *ngIf="nick?.errors?.['required'] && nick?.dirty">Este campo es obligatorio</p>

    <!-- * Input de PASSWORD -->
    <mat-form-field>
      <mat-label>Contraseña:</mat-label>
      <input matInput required name="password" placeholder="Password" type="password" class="input"
        formControlName="password">
    </mat-form-field>
    <p class="error" *ngIf="password?.errors?.['required'] && password?.dirty">Este campo es obligatorio</p>
    <p class="error" *ngIf="password?.errors?.['minlength']">La longitud minima es de 6 caracteres</p>

    <button class="submit" type="button" (click)="submit(registroForm)"
      [disabled]="registroForm.status==='INVALID'">Registrar
    </button>
  </form>
</div>

<p class="error">{{mensajeError}}</p>

<!--  -->