.ng-valid:not(form).ng-touched {
  border-left: 5px solid green;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid red;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 35px;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* max-width: 350px; */
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 30px;
  color: royalblue;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

.submit:disabled {
  background-color: #808080;
}

.error {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 1px; 
  padding: 0px; 
  color: red;
}
