.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    background: white;
    margin: 2em;
}

.nombre {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.cuerpo {
    padding: 10px;
}

.categoria {
    text-align: center;
}

.precio {
    text-align: center;
}

.detalle {
    text-align: center;
}