<section class="w-full flex flex-col gap-4 mt-[100px] md:mt-[120px] lg:mt-[0px] mb-12">
  <div class="flex justify-center items-center curved relative h-36 pb-10"
    style="background: linear-gradient(to left top, rgb(255, 55, 147), rgb(63, 40, 131), rgb(255, 64, 33));">
    <p class="text-[32px] text-white font-semibold title-steps">Beneficios de ser Voluntario</p>
  </div>
 <div class="flex justify-center items-center ">
    <ul class="benefits w-[70%] gap-40">
      <div class="benefits-content flex ">
        <li class="mb-4">
          <div class="flex">
            <div>
             <div class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"  style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">1</div>
            </div>
            <div class="flex flex-col items-center gap-2">

              <b>Amplia tus redes sociales</b>
              <img src="../../../assets/icons/humano.png" alt="" class="w-20">
              <p class="text-center">Conoces a nuevas personas que tienen mucho que aportarte y haces nuevos amigos</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex">

            <div class="flex flex-col items-center gap-2">

              <b>Descubre tus competencias</b>
              <img src="../../../assets/icons/diamante.png" alt="" class="w-20">
              <p class="text-center">Seguro que tienes muchas habilidades para las que aún no sabes que eres bueno</p>
            </div>
            <div>
             <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">2</div>
            </div>
          </div>
        </li>
      </div>
      <div class="benefits-content flex ">
        <li class="mb-4">
          <div class="flex">
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">3</div>
            </div>
            <div class="flex flex-col items-center gap-2">

              <b>Aumenta tu realización personal</b>
              <img src="../../../assets/icons/autoconciencia.png" alt="" class="w-20">
              <p class="text-center">Puedes experimentar una manera de ser más feliz, encontrar un espacio para hacer lo que te gusta y mejorar tu autoestima</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex">

            <div class="flex flex-col items-center gap-2">

              <b>Siéntete útil para la sociedad</b>
              <img src="../../../assets/icons/ayudando.png" alt="" class="w-20">
              <p class="text-center">Ayudando a los que más lo necesitan con tu tiempo y tus talentos</p>
            </div>
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">4</div>
            </div>
          </div>
        </li>
      </div>
      <div class="benefits-content flex ">
        <li class="mb-4">
          <div class="flex">
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">5</div>
            </div>
            <div class="flex flex-col items-center gap-2">

              <b>Agrega valor a tu hoja de vida</b>
              <img src="../../../assets/icons/cv.png" alt="" class="w-20">
              <p class="text-center">Incluye tu voluntariado en tu hoja de vida, es una experiencia que valoran mucho las empresas</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex">

            <div class="flex flex-col items-center gap-2">

              <b>Invierte tu tiempo libre</b>
              <img src="../../../assets/icons/tiempo.png" alt="" class="w-20">
              <p class="text-center">Aporta las horas que te quedan en la semana para hacer una labor social. ¡Serás recompensado!</p>
            </div>
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">6</div>
            </div>
          </div>
        </li>
      </div>
      <div class="benefits-content flex ">
        <li class="mb-4">
          <div class="flex">
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">7</div>
            </div>
            <div class="flex flex-col items-center gap-2">

              <b>Contrasta tus conocimientos</b>
              <img src="../../../assets/icons/sabiduria.png" alt="" class="w-20">
              <p class="text-center">Una cosa es lo que dicen los libros y otra la realidad: fortalece tus conocimientos y esperiencia</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex">

            <div class="flex flex-col items-center gap-2">

              <b>Deja Huella</b>
              <img src="../../../assets/icons/huella.png" alt="" class="w-20">
              <p class="text-center">Contribuye con el mundo que dejaremos a futuras generaciones</p>
            </div>
            <div>
            <div
              class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
              style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">8</div>
            </div>
          </div>
        </li>
      </div>
      <div class="benefits-content flex ">
        <li class="mb-4">
          <div class="flex">
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">9</div>
            </div>
            <div class="flex flex-col items-center gap-2">

              <b>Te mantiene saludable</b>
              <img src="../../../assets/icons/salud.png" alt="" class="w-20">
              <p class="text-center">Se ha encontrado que luego de 10 semanas de observación médica a jóvenes voluntarios, su salud cardiovascular mejora, tienen niveles más bajos de colesterol y de grasa corporal</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex">

            <div class="flex flex-col items-center gap-2">

              <b>¡Diviértete!</b>
              <img src="../../../assets/icons/risa.png" alt="" class="w-20">
              <p class="text-center">No todo es trabajo, también puedes encontrar diversión en tu voluntariado</p>
            </div>
            <div>
              <div
                class="w-16 h-16 flex justify-center items-center text-white text-[40px] rounded-3xl border-2 border-[#3F2883] border-b-[5px]  border-b-[#3F2883]"
                style="background: linear-gradient(rgb(63, 40, 131), rgb(177, 35, 125));">10</div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>
