/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

body {
  background-color: #fff59d;
  margin: 0;
}

.header {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 20px;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}



.header .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.header .nav-links li {
  padding: 0 20px;
}

.header .nav-links li:first-child {
  padding-right: 0;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-weight: 700;
  color: #eceff1;
  text-decoration: none;
  transition: color 0.3s;
}

.header .nav-links li.active {
  background-color: white; /* Fondo blanco */
}

.header .nav-links li.active a {
  color: #ffbc0e; /* Texto en naranja */
}

.menu-button {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-button.open {
  animation: rotateToClose 0.3s forwards;
  content: "☰";
}

@keyframes rotateToClose {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

/* Estilos para pantallas más pequeñas, por ejemplo, teléfonos móviles */
@media screen and (max-width: 768px) {
  .header {
    padding: 5px 10px;
    height: auto;
  }

  .header .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    display: none;
  }

  .header .nav-links.active {
    display: flex;
  }

  .header .nav-links li {
    padding: 10px 0;
  }

  .menu-button {
    font-size: 30px;
  }
}

/* Estilos adicionales */
/* Agrega tus estilos adicionales aquí */

/* Estilos para la foto de perfil y el menú desplegable */
.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre la foto de perfil y la flecha */
  margin-right: 20px; /* Espacio entre la navegación y la foto de perfil */
  position: relative;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 60px; /* Ajusta la posición vertical según sea necesario */
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

/* Mostrar el menú desplegable cuando se abre */
.user-profile.active .profile-dropdown {
  display: block;
}

/* Estilos para las opciones de menú seleccionadas */
.header .nav-links li.selected {
  background-color: white; /* Fondo blanco */
  height: 100%; /* Ocupar todo el alto del nav */
  display: flex;
  align-items: center; /* Para centrar verticalmente el texto */
  border-radius: 10px; /* Borde redondeado */
}

.header .nav-links li.selected a {
  color: #ffbc0e; /* Texto en naranja */
}

/* Estilos para el estado hover */
.header .nav-links li:hover {
  background-color: white; /* Fondo blanco al pasar el mouse */
  border-radius: 10px; /* Borde redondeado al pasar el mouse */
}

.header .nav-links li:hover a {
  color: #ffbc0e; /* Texto en naranja al pasar el mouse */
}
