<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incubadora NOC</title>
    <link rel="stylesheet" href="nav.component.css">
</head>
<body>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo">
      <img src="./assets/images/nuevologo.png" alt="Nuevologo" routerLink="/dashboard">

    </div>

    <ul class="nav-links-left ">
      <li [class.selected]="activeRoute.includes('/quienes-somos')">
        <a routerLink="/quienes-somos" class="nav-link ">¿Quiénes somos?</a>
      </li>
      <li [class.selected]="activeRoute.includes('/catalogo-cursos')">
        <a routerLink="/catalogo-cursos" class="nav-link ">Nuestros cursos</a>
      </li>
      <li [class.selected]="activeRoute.includes('/contacto')">
        <a routerLink="/contacto" class="nav-link ">Contacto</a>
      </li>
    </ul>

   <!-- nav.component.html -->

      <ul class="nav-links-right">
        <li *ngIf="!authService.isLoggedIn"> <!-- Mostrar solo si el usuario no ha iniciado sesión -->
          <a routerLink="/register" class="nav-link">Registrarse</a>
        </li>
        <li *ngIf="!authService.isLoggedIn"> <!-- Mostrar solo si el usuario no ha iniciado sesión -->
          <a routerLink="/login" class="nav-link">Iniciar Sesión</a>
        </li>
        <li *ngIf="authService.isLoggedIn">
          <span class="nav-link" style="color: white;">Hola, {{ authService.user.username }} !!</span>
        </li>
        <li *ngIf="authService.isLoggedIn && authService.user.tipoDeUsuario === 'Docente'"> <!-- Mostrar solo si el usuario ha iniciado sesión como Docente -->
          <a routerLink="/perfil-docente" class="nav-link">Mi perfil docente</a>
        </li>
        <li *ngIf="authService.isLoggedIn && authService.user.tipoDeUsuario === 'Alumno' "> <!-- Mostrar solo si el usuario ha iniciado sesión como Alumno -->
          <a routerLink="/perfil-alumno" class="nav-link">Mi perfil</a>
        </li>
        <li *ngIf="authService.isLoggedIn" > <!-- Mostrar solo si el usuario ha iniciado sesión como Alumno -->
          <a routerLink="/login" (click)="logout()">Cerrar sesión</a>
        </li>
        <li *ngIf="authService.isLoggedIn && authService.user.tipoDeUsuario === 'Administrador'"> <!-- Mostrar solo si el usuario ha iniciado sesión como Alumno -->
          <a routerLink="/admin">Administrador</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item dropdown-center">
        <a *ngIf="isLoggedIn" class="nav-link-profile dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./assets/images/no-perfil.jpg" alt="Foto de perfil" class="profile-image">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a *ngIf="isLoggedIn" routerLink="/perfil-alumno" class="nav-link">Mi perfil</a></li>
          <li><a *ngIf="isLoggedIn" class="nav-link" href="http://localhost:4200/login">Iniciar sesión</a></li>
          <li><a *ngIf="isLoggedIn" class="nav-link" routerLink="/login" (click)="logout()">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>

    <button *ngIf="isSmallScreen" class="menu-button" (click)="toggleMenu()" [class.open]="isMenuOpen">
      ☰
    </button>
  </div>
</nav>
</body>
</html>

























































