<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incubadora NOC</title>
    <link rel="stylesheet" href="nav.component.css">
</head>
<body>
  <header class="header">
    <div class="logo">
        <img src="./assets/images/nuevologo.png" alt="Nuevologo"routerLink="/dashboard">
    </div>
    <button *ngIf="isSmallScreen" class="menu-button" (click)="toggleMenu()" [class.open]="isMenuOpen">
      ☰
    </button>

    <nav>
        <ul [class.active]="isMenuOpen" class="nav-links">
            <li><a routerLink="/catalogo-cursos" class="nav-link">Nuestros cursos</a></li>
            <li><a routerLink="/quienes-somos" class="nav-link">¿Quiénes somos?</a></li>
            <li><a routerLink="/register" class="nav-link">Registrarse</a></li>
            <li><a routerLink="/login" class="nav-link">Iniciar sesión</a></li>
            <li><a routerLink="/admin" class="nav-link">Administrador</a></li>
        </ul>
    </nav>
  </header>
</body>
</html>
