/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 20px;
}


.navbar {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 20px 20px;
}

.navbar .logo {
  cursor: pointer;
}

.navbar .logo img {
  height: 45px;
  width: auto;
  transition: all 0.3s;
}

.navbar .logo img:hover {
  transform: scale(1.2);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  padding: 15px 20px;
}

.nav-links li:first-child {
  padding-right: 0;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav-links a {
  font-weight: 700;
  color: #eceff1;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li.active {
  background-color: white; /* Fondo blanco */
}

.nav-links li.active a {
  color: #ffbc0e; /* Texto en naranja */
}

.menu-button {
  background: none;
  border: 2px solid transparent; /* Agrega bordes al botón */
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color de la hamburguesa */
  padding: 5px 5px; /* Espaciado interno para ajustar el tamaño del botón */

}

.menu-button.open {
  /* Cambia el fondo del botón a blanco cuando está abierto */
  background-color: white;
  color: black; /* Cambia el color de la hamburguesa a negro */
}



@keyframes rotateToClose {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

/* Estilos para pantallas más pequeñas, por ejemplo, teléfonos móviles */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px 10px;
    height: auto;
  }

  .navbar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    display: none;
  }

  .navbar .nav-links.active {
    display: flex;
  }

  .navbar .nav-links li {
    padding: 10px 0;
  }

  .menu-button {
    font-size: 30px;
  }
}

/* Estilos para la foto de perfil y el menú desplegable */
.nav-item {
  position: relative;
  z-index: 100;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  top: 30px; /* Ajusta la posición vertical según sea necesario */
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

/* Mostrar el menú desplegable cuando se abre */
.nav-item.active .profile-dropdown {
  display: block;
}
.dropdown-menu a.nav-link {
  font-size: 16px; /* Cambia el tamaño de fuente deseado */
}


/* Estilos para las opciones de menú seleccionadas */
.nav-links li.selected {
  background-color: rgb(255, 255, 255); /* Fondo blanco */
  height: 100%; /* Ocupar todo el alto del nav */
  display: flex;
  align-items: center; /* Para centrar verticalmente el texto */

}

.nav-links li.selected a {
  color: #ffbc0e; /* Texto en naranja */

}

/* Estilos para el estado hover */
.nav-links li:hover {
  background-color: white; /* Fondo blanco al pasar el mouse */

}

.nav-links li:hover a {
  color: #ffbc0e; /* Texto en naranja al pasar el mouse */
}
