
.nav-link {
color: #f7efe5;
}
.nav-item:hover, .nav-item-2:hover {
	background:linear-gradient(to bottom, #fcebd5 5%, #f7efe5 100%);
	background-color:#033E8C;
  border-color:cadetblue ;
  border-radius:6px;
}

.navbar-custom {
  background-color:#2B2D42;;

}
.nav-link:hover {
  color:#F24405;
  font-weight: bold;
}

.nav-item-2 {
  float: "right";
}

.container-fluid{
  background-color:#2B2D42;
}




/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
*/

/*.navbar-brand {
  color:blue;
}*/

/*p{
  text-align: left;
  /*padding-left: 2.5em;*/

/*.nav-item, .nav-item-2 {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	/*background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);*/
	/*background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;*/
	/*padding:3px 5px;*/
/*text-decoration:none;*/
	/*text-shadow:0px 1px 0px #cc9f52;*/
 /* margin: 3px;*/

 /*.nav-item:active {
	position:relative;
	top:1px;*/