<app-modal-add></app-modal-add>
<body>
    

<div class="todo">
    <div class="botonera">
    <input type="color" [(ngModel)]="selectedColor">
    <button mat-raised-button color="primary" (click)="applyColors()">Aplicar Color</button>    
    <button mat-raised-button color="primary" (click)="downloadPDF()" >Descargar PDF</button>
    </div>    
    <div class="conteiner" id="profile-two">
        <div class="izquierdo" >
            <div class="conteiner-img" [ngStyle]="{ 'background-color': selectedColor }">
                <div class="foto">
                    <img src="{{userData.urlPicture}}" alt="">
                </div>
                
            </div>
            <div class="card-item">
                <div class="titulo-card">
                    <h3 [ngStyle]="{ 'color': selectedColor }">· EDUCACIÓN</h3>
                </div>
                <div class="contenido-card">
                    <ul>
                        <li *ngFor="let formation of userData.formations">
                             <h4>{{formation.institute}}</h4>
                             <h5>{{formation.title}} - ({{formation.endDate}})</h5>   
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-item">
                <div class="titulo-card">
                    <h3 [ngStyle]="{ 'color': selectedColor }">· CURSOS / EXTRAS</h3>
                </div>
                <div class="contenido-card">
                    <ul>
                        <li *ngFor="let language of userData.languages">
                            <h4>IDIOMA: {{language.language}}</h4>
                            <h5>Nivel: {{language.level}}</h5>
                        </li>
                        <li *ngFor="let skill of userData.skills">
                            <h4>{{skill.skill}} - - Nivel: {{skill.level}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-item">
                <div class="titulo-card">
                    <h3 [ngStyle]="{ 'color': selectedColor }">Datos personales</h3>
                </div>
                <div class="datos">
                    <h5 class="footer"><mat-icon>phone</mat-icon> - 351-3554850</h5><br>
                    <h5 class="footer"><mat-icon>email</mat-icon> - marianoS@gmail.com</h5><br>
                    <h5 class="footer"><mat-icon>home</mat-icon> - Av colon 1221</h5>
                </div>
            </div>
        </div>
        <div class="derecho">
            <div class="nombre">
                <h1 [ngStyle]="{ 'border-bottom-color': selectedColor }">{{userData.userName}}<br>{{userData.lastName}}</h1>
                                
            </div>
            <div class="contenido-card">
                <h5 style="height: 15em;">Soy un profesional apasionado y altamente motivado con una sólida formación en [tu campo de estudio o profesión]. A lo largo de mi carrera, he adquirido una valiosa experiencia en [mencionar áreas relevantes], lo que me ha permitido desarrollar habilidades excepcionales en [lista de habilidades clave relacionadas con tu campo].</h5>
            </div>
            <div class="card-item">
                <div class="titulo-card">
                    <h3 [ngStyle]="{ 'color': selectedColor }">· EXPERIENCIAS LABORALES</h3>
                </div>
                    <div class="contenido-card">
                        <ul>
                            <li *ngFor="let experience of userData.experiences">                                
                                <h4>{{experience.position}}</h4>
                                <h5>{{experience.company}} | ({{experience.startDate}} - {{experience.endDate}})</h5>
                                <h5>{{experience.description}}</h5>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>                
    </div>
</div>
</body>