.wrapper {
  margin-top: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;  
}

.body {
  text-align: center;
  margin-top: 0; 
}

.form-container {
  background-color: VAR(--color-0);
  padding: 20px;
  border-radius: 5px;
  box-shadow: VAR(--box-shadow-1)
}

input {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: var(--color-3);
}

.btn-custom {
  background-color: VAR(--color-primary); 
  color: var(--color-0); 
}







