<div class="surface-hover py-8">
    <div class="flex flex-column w-8 lg:w-3 text-center m-auto 
    bg-white my-5 border-round">

        <p class="bg-red-400 border-round-top py-2">
            <i class="pi pi-exclamation-circle font-bold text-4xl text-white "></i></p>
        <h1 class="text-lg py-6">No pudimos procesar tu pago</h1>
    
        <p class="px-3">
            Verifica tu cuenta y comunicate con tu
            banco emisor e intentalo nuevamente.
        </p>
        
        <div class="border-dashed border-green-400 border-2 
        border-round p-2 w-full mt-7 mb-1 mx-auto">

            <button class="bg-primary text-center w-full text-lg p-2 mb-2 
            border-round">Elegir otro medio de pago</button>
            <buttom routerLink="/" pButton label="Cancelar" 
            class="w-full text-lg 
            text-primary mt-2">Volver al Inicio</buttom>
        </div>

    
    </div>
</div>
