<div class="surface-hover py-8">
    <div class="flex flex-column w-8 lg:w-3 text-center m-auto 
    bg-white my-5 border-round">

        <p class="bg-green-400 border-round-top py-2">
            <i class="pi pi-verified font-bold text-4xl text-white "></i></p>
        <h1 class="text-lg py-6">Tu pago fue aprobado</h1>
    
        <p class="px-3">
            Te estaremos enviado un mail con las instrucciones
            para poder loguearte en tu cuenta, y comenzar a estudiar!!
        </p>
    
        <buttom routerLink="/" pButton label="Cancelar" 
        class="border-dashed border-green-400 border-2 
        border-round p-2 w-full mt-7 mb-1 mx-auto text-lg 
        text-primary">Volver al Inicio</buttom>
    
    </div>
</div>
