<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-2">
      <div
        class="p-4 rounded"
        style="background-color: #f0f0f0; box-shadow: 1px 1px 7px #000"
      >
        <h1
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
          "
        >
          {{ course.name }}
        </h1>
        <p>
          {{ course.description }}
        </p>

        <h3><b>Profesor/a</b></h3>
        <h4>{{ course.teacher }}</h4>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <img
        class="img-thumbnail m-2"
        src="{{ course.image }}"
        alt=""
        height="350px"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Horario</h2>
      <div *ngIf="existSchedule">
        <div *ngFor="let scheduleItem of course.ScheduleCourses">
          <p>Horario: {{ scheduleItem?.Schedule?.schedule }}</p>
        </div>
      </div>
      <div *ngIf="!existSchedule">
        <h1>Aún no se a asignado un horario</h1>
      </div>
    </div>
    <div class="col">
      <h2>Duración</h2>
      <h5>Inicio: {{ startFormat }}</h5>
      <h5>Finalización: {{ endFormat }}</h5>
    </div>
    <h2>DESCRIPCION DEL PROGRAMA</h2>
    <br />
    <p>
      {{ course.description }}
    </p>

    <div class="requisito-clase">
      <h2>REQUISITOS</h2>
      <ul>
        <li>{{ course.requirement }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h2>OTROS CURSOS QUE TE PODRIAN INTERESAR</h2>
  </div>

  <div class="row">
    <div
      *ngFor="let courseOption of coursesSelect.slice(0, 4)"
      class="col p-2 m-2 rounded options"
      
    >
    <div>
      <img width="200" src="{{ courseOption.image }}" alt="" />
      <h5>
        <b>{{ courseOption.name }}</b>
      </h5>
      <p>
        {{ courseOption.description }}
      </p>
      <button class="verMas" (click)="redirect(courseOption.id)">
        Ver mas
      </button>
    </div>
    </div>
  </div>
  <!-- <div>
      <img src="img/curso2.png" alt="" />
      <h2>TALLER DE DISEÑO Y RECICLAJE: LUMINARIA</h2>
      <p>
        Diseño y materialización de productos ecológicos.Te llevas tu lampara
        terminada.
      </p>
      <button>Ver mas</button>
    </div>
    <div>
      <img src="img/curso3.png" alt="" />
      <h2>TALLER DE DISEÑO Y RECICLAJE: Packaging</h2>
      <p>
        Diseño y materializacion de envoltorios ecologicos.Te llevas tu
        packaging terminado
      </p>
      <button>Ver mas</button>
    </div>
    <div>
      <img src="img/curso5.png" alt="" />
      <h2>CURSO SEMIPERMANENTE</h2>
      <p>
        Preparación de uñas, Pasos de manicure,Manicure basica, Formas de limado
        y mas.
      </p>
      <button>Ver mas</button>
    </div> -->
  <!-- 
  <div>
    <div class="fin">
      <div class="fin-caja">
        <img class="fin-logo" src="../../../assets/img/logo.png" alt="" />
        <div class="descrive">
          <p>
            Somos una empresa que apoya a emprendedores, brindándoles
            herramientas para alcanzar el éxito
          </p>
        </div>
      </div>
      <div class="fin-media">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
    <div class="base">
      <div class="base1">
        <p>Copyright © 2023 Incubadora del N.O.C. All right reserved</p>
      </div>
      <div class="base2">
        <a href="">Condiciones de uso</a>
        <a href="">Politica de cookies</a>
        <a href="">Politica de privacidad</a>
      </div>
    </div>
  </div> -->
</div>
