*{
    padding: 0;
    margin:0;
    
}

.buy{
    width: 150px;
    height: 50px;
    color:white;
    background-color: orange;
    border-color: transparent;
    border-radius: 30px;
    font-size: 25px;
}


.verMas{
    margin: 10px 0 20px 0;
    background-color: orange;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}
.options{
    box-shadow: 1px 2px 5px #000; 
    width: 250px;
}
@media (max-width: 768px) {
    .options{
        width: 350px;
    }
}


/* ___-------------PIE DE PAGINA----------- */


.fin{
    background-color: white;
    margin-top: 130px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: left;
}

.fin .fin-logo{
    height: 100px;
    width: 100px;
}

.fin-caja .fin-logo{
    max-width: 320px;
    font-size: 50px;
    color: gray;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fin-caja .descrive{
    margin-top: 30px;
    color: gray;
}

.fin-media{
    margin-top: 40px;
    font-size: 30px;
    margin-left: 50%;
}
.fin-media .fa-brands{
    padding-left: 15px;
}

.fin-media a{
    color: gray;
}

.fin-media a:hover{
    color:black;
}
/* -------------------------------------------- */

.base{
    background-color: rgb(214, 212, 212);
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.base .base1 p{
    margin-left: 20px;
    color: gray;
}
.base .base2 {
    margin-left: 50%;
}

.base2 a{
    margin-left: 10px;
    color: gray;
}

.base2 a:hover{
    color: black;
}
.tableColor{
    background-color: lightgray;
}
.tableContainer{
    overflow-x: auto;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}