<div class="container-fluid">
  <div class="row ">
    <div class="col-md-6 col-sm-12 p-2">
        <div class="p-4 rounded" style="background-color: #f0f0f0; box-shadow: 1px 1px 7px #000;">
      <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{course.name}}</h1>
      <p>
        Podras aprender a sublimar distintos productos como gorras, tazas,
        llaveros, entre otros.
      </p>

      <h3><b>Profesor/a</b></h3>
      <h4>{{course.teacher}}</h4>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 ">
        <img class="img-thumbnail m-2" src="{{course.image}}" alt="" height="350px"/>
    </div>
  </div>
<!--   <div class="row">
    <div class="profe">
      <div class="nombre-profe">
        
        <h2 class="h2">Juliana Lopez De La Rosa</h2>
        <h3>Diseñadora Grafica</h3>
        <div class="media-profe">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <div class="descripcion-profe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
          scelerisque sem eu mattis scelerisque. Cras at blandit nisi. Aliquam
          neque ipsum, mollis vitae tortor eget, sollicitudin bibendum justo.
          Nunc iaculis nulla at dui pretium tincidunt. Phasellus finibus, magna
          vel convallis sagittis, tortor massa fermentum magna, eu vulputate
          risus eros non eros. Integer ac malesuada lacus. Nam facilisis neque
          ac mattis pulvinar. Etiam feugiat ullamcorper placerat.
        </div>
      </div>
    </div>
    <div class="precio">
      <div class="descuento">
        <h2>30% Descuento</h2>
      </div>
      <div class="monto">
        <h1>$300</h1>
        <h2>$390</h2>
      </div>
      <div class="valido">
        <h3>Esta oferta es valida por todo el Mes de Setiembre del 2023</h3>
      </div>
      <div class="btn-comprar">
        <button>Comprar</button>
      </div>
      <div class="condiciones-comprar">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam,
          cum animi. Blanditiis quis, placeat ducimus nobis omnis praesentium
          voluptatibus veniam?
        </p>
      </div>
    </div>
  </div> -->
  <div class="info-clase">
    <div class="horario-clase" *ngIf="existSchedule">
      <h2>HORARIO</h2>

      <br />
<!--       <div  *ngFor="let scheduleItem of ScheduleCourses">
        <p>Día: {{ scheduleItem?.Schedule.day }}</p>
        <p>Horario: {{ scheduleItem?.Schedule.schedule }}</p>
        <p>Lugar: {{ scheduleItem?.Schedule.where }}</p>
        <p>Activo: {{ scheduleItem?.Schedule.active }}</p>  -->
        <!-- Puedes acceder a otras propiedades según tus necesidades
      </div>
      De esta manera, se generará un bloque de HTML para cada objeto en el array ScheduleCourses, lo que te permitirá mostrar los detalles de ambos objetos en tu página.
      
      
      
      
      
      
      <br />
      <h2>DURACION</h2>
      <br />
      <ul>
        <li>2 semanas</li>
      </ul>
      <br />
      <h2>DESCRIPCION DEL PROGRAMA</h2>
      <br />
      <p>
{{course.description}}
      </p>
    </div>
    <div class="requisito-clase">
      <h2>REQUISITOS</h2>
      <br />
      <ul>
        <li>{{course.requirement}}</li>
      </ul>
      <br />
     <!--  <h2>QUE APRENDERAS EN EL CURSO DE SUBLIMACION CON MAQUINA?</h2>
      <br />
      <ul>
        <li>Aprenderas todo sobre sublimación.</li>
        <li>
          Aprenderas sobre los tipo de materiales en que se puede sublimar.
        </li>
        <li>Aprenderas los tipo de tela para el uso de sublimacion.</li>
        <li>Aprenderás sobre las temperaturas de la maquina.</li>
        <li>
          Aprenderas sobre como posicionarte en el mercado de la sublimacion.
        </li>
        <li>Aprenderán a potenciar su negocio y conseguir grandes clientes.</li>
      </ul> -->
    </div>
  </div>
<!--   <div class="fotos-clase">
    <div class="img-curso">
      <h2>FOTOS DEL CURSO</h2>
    </div>
  </div>
  <div class="img-varios">
    <img src="img/ph1.png" alt="" />
    <img src="img/ph2.png" alt="" />
    <img src="img/ph3.png" alt="" />
    <img src="img/ph4.png" alt="" />
    <img src="img/ph5.png" alt="" />
  </div>
  <hr /> -->
  <div class="opinion">
    <h2>OPINIONES</h2>
  </div>
<!--   <div class="opinion-texto">
    <div>
      <i class="fa-solid fa-circle-user"></i>
      <h3>Claudia Cuadros</h3>
      <h4>hace 2 años</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque et
        veniam quia eius voluptate ab.
      </p>
    </div>
    <div>
      <i class="fa-solid fa-circle-user"></i>
      <h3>Pamela Delgado</h3>
      <h4>hace 2 meses</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque et
        veniam quia eius voluptate ab.
      </p>
    </div>
    <div>
      <i class="fa-solid fa-circle-user"></i>
      <h3>Juaquin Pereda</h3>
      <h4>hace 1 mes</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque et
        veniam quia eius voluptate ab.
      </p>
    </div>
  </div> -->
  <div class="otras-opciones">
    <h2>OTROS CURSOS QUE TE PODRIAN INTERESAR</h2>
  </div>
<!--   <div class="img-opciones">
    <div>
      <img src="img/curso1.png" alt="" />
      <h2>SEMINARIO DE SUBLIMACION ARTESANAL</h2>
      <p>
        Diseña y crea! a tu gusto y comodidad. Te llevas tu producto Terminado.
      </p>
      <button>Ver mas</button>
    </div>
    <div>
      <img src="img/curso2.png" alt="" />
      <h2>TALLER DE DISEÑO Y RECICLAJE: LUMINARIA</h2>
      <p>
        Diseño y materialización de productos ecológicos.Te llevas tu lampara
        terminada.
      </p>
      <button>Ver mas</button>
    </div>
    <div>
      <img src="img/curso3.png" alt="" />
      <h2>TALLER DE DISEÑO Y RECICLAJE: Packaging</h2>
      <p>
        Diseño y materializacion de envoltorios ecologicos.Te llevas tu
        packaging terminado
      </p>
      <button>Ver mas</button>
    </div>
    <div>
      <img src="img/curso5.png" alt="" />
      <h2>CURSO SEMIPERMANENTE</h2>
      <p>
        Preparación de uñas, Pasos de manicure,Manicure basica, Formas de limado
        y mas.
      </p>
      <button>Ver mas</button>
    </div>
  </div> -->

  <div>
    <div class="fin">
      <div class="fin-caja">
        <img class="fin-logo" src="img/LOGIN-INCUBADORA-1-LOGO.png" alt="" />
        <div class="descrive">
          <p>
            Somos una empresa que apoya a emprendedores, brindándoles
            herramientas para alcanzar el éxito
          </p>
        </div>
      </div>
      <div class="fin-media">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
    <div class="base">
      <div class="base1">
        <p>Copyright © 2023 Incubadora del N.O.C. All right reserved</p>
      </div>
      <div class="base2">
        <a href="">Condiciones de uso</a>
        <a href="">Politica de cookies</a>
        <a href="">Politica de privacidad</a>
      </div>
    </div>
  </div>
</div>
