*{
    padding: 0;
    margin:0;
    
}

.buy{
    width: 150px;
    height: 50px;
    color:white;
    background-color: orange;
    border-color: transparent;
    border-radius: 30px;
    font-size: 25px;
}

.titulo h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: 90px;
    margin: 30px 0 0 10px;
}

.descripcion p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin: 40px 30px 0 10px;
    color: gray;
}

.descripcion h3{
    margin: 30px 0 0 10px;
    font-size: 20px;
}



/* Descipcion de profesor con precio */

.segunda-parte{
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.segunda-parte .profe{
    background-color: white;
    width: 50%;
    height: 450px;
    margin: 20px 20px 20px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
}

.profe .foto-profe{
    float: left;
}

.profe .foto-profe img{
    margin-top: 30px;
    height: 200px;
    margin-left: 20px;
}

.profe .nombre-profe .h2{
    padding: 100px 200px 0 0 ;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.nombre-profe h3{
    padding: 20px 350px 0 0;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: rgb(122, 120, 120);
}
.media-profe{
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 250px;
}

.media-profe .fa-brands{
    margin-left: 10px;
    font-size: 30px;
    color: rgb(122, 120, 120);
}

.profe .descripcion-profe{
    padding: 40px 30px 10px 40px;
    font-size: 20px;
}





.segunda-parte .precio{
    background-color: white;
    width: 50%;
    height: 450px;
    margin: 20px 20px 20px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
}

.descuento h2{
    height: 40px;
    width: 200px;
    font-size: 28px;
    background-color: red;
    color: white;
    align-items: left;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px 0 0 50px;
}
.monto{
    display: flex;
}

.monto h1{
    font-size: 80px;
    margin: 20px 0 0 50px;
}
.monto h2{
    margin: 45px 0 0 20px;
    font-size: 50px;
    background-color: white;
    color: rgb(177, 176, 176);
    text-decoration: line-through rgb(215, 130, 130);
}

.valido h3{
    text-align: center;
    justify-content: center;
    color: orange;
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.btn-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-comprar button{
    margin: 30px;
    height: 60px;
    width: 300px;
    font-size: 30px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
}

.condiciones-comprar{
    margin: 20px 50px 50px 50px;
    color: rgb(184, 182, 182);
}

/* --------------------------------- */

.info-clase{
    display: flex;
}

.info-clase .horario-clase{
    width: 50%;
    margin: 30px 30px 30px 60px;
}

.info-clase .requisito-clase{
    width: 50%;
    margin: 30px 30px 30px 70px
}
.info-clase h2{
    font-size: 30px;
}
.info-clase ul{
    font-size: 20px;
}
.info-clase p{
    font-size: 20px;
}

.info-clase li{
    margin-bottom: 7px;
}

/* ---------------------------------- */

.fotos-clase{
    width: 100%;
    background-color:rgb(60, 90, 154);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    
}
.fotos-clase h2{
    margin-left: 50px;
    font-size: 30px;
}

.img-varios{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-varios img{
    margin: 20px 20px 20px 40px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

/* --------------OPINIONES------ */

.opinion{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: black;
    
}
.opinion h2{
    margin-left: 50px;
    margin-bottom: 0;
    font-size: 30px;
}

/* ----- */

.opinion-texto{
    width: 100%;
    height: 260px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.opinion-texto div{
    margin: 0 10px 10px 10px;
    height: 250px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.opinion-texto .fa-solid{
    margin: 30px 30px 0 30px;
    font-size: 80px;
    float: left;
}
.opinion-texto h3{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 150px;
   
}
.opinion-texto h4{
    margin-left: 155px;
}
.opinion-texto p{
 margin:  60px 50px 20px 50px;
 font-size: 20px;
}

/* ----------otros cursos que te podrian interesar------------ */

.otras-opciones{
    margin-top: 10px;
    width: 100%;
    background-color: orange;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}
.otras-opciones h2{
    margin-left: 50px;
    margin-bottom: 0;
    font-size: 30px;
}
/* -------- */

.img-opciones{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
}

.img-opciones div{
    margin: 20px;
    text-align: center;
}

.img-opciones button{
    margin: 10px 0 20px 0;
    background-color: orange;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

.img-opciones img{
    margin-bottom: 10px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ___-------------PIE DE PAGINA----------- */


.fin{
    background-color: white;
    margin-top: 130px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: left;
}

.fin .fin-logo{
    height: 100px;
    width: 100px;
}

.fin-caja .fin-logo{
    max-width: 320px;
    font-size: 50px;
    color: gray;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fin-caja .descrive{
    margin-top: 30px;
    color: gray;
}

.fin-media{
    margin-top: 40px;
    font-size: 30px;
    margin-left: 50%;
}
.fin-media .fa-brands{
    padding-left: 15px;
}

.fin-media a{
    color: gray;
}

.fin-media a:hover{
    color:black;
}
/* -------------------------------------------- */

.base{
    background-color: rgb(214, 212, 212);
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.base .base1 p{
    margin-left: 20px;
    color: gray;
}
.base .base2 {
    margin-left: 50%;
}

.base2 a{
    margin-left: 10px;
    color: gray;
}

.base2 a:hover{
    color: black;
}
