<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula virtual</title>
  <link rel="stylesheet" href="aula-virtual.component.css">

</head>

<body>
    <!-- //////////////////////////// Contenido especifico para alumnos ////////////////////////// -->
    <div *ngIf="tipoDeUsuario === 'Alumno'">
        <div class="contenedor">
            <div>
                <h2>Estas ahora en tu aula virtual de:</h2>
            </div>
            <div>
                <h1>{{ nombreCurso }}</h1>
            </div>
            <div>
                <img [src]="imagenCurso" alt="{{ nombreCurso }}">
            </div>
            <div>
                <h1>Esta página se encuentra</h1>
                <h1>fuera del alcance del Proyecto Actual.</h1>
                <h1>Muchas GRACIAS por permitirnos ser parte de él.</h1>
                <h1>¡Cuenta con nosotros para las próximas etapas!!!</h1>
            </div>
        </div> 
    </div>

    <!-- ////////////////////////// Contenido especifico para docente ///////////////////////// -->
    <div *ngIf="tipoDeUsuario === 'Docente'">
        <div class="curso-titulo">
            <div class="curso-com">
                <h2>Estas en el aula virtual de:</h2>
            </div>
            <div class="curso-nombre">
                <h1>{{ nombreCurso }}</h1>
            </div>
            <div class="curso-imagen">
                <img [src]="imagenCurso" alt="{{ nombreCurso }}">
            </div>
        </div>

        <div class="aula-virtual">
            <!-- Formulario para la búsqueda -->
            <form [formGroup]="formulario" (ngSubmit)="search()" class="formSearch">
              <label for="selectedField" class="formSelected">Seleccionar campo: </label>
              <select id="selectedField" formControlName="selectedField" class="formSelected">
                <option value="nombre">Nombre</option>
                <option value="apellido">Apellido</option>
                <option value="username">Usuario</option>
                <option value="email">E-mail</option>
              </select>
              
              <label for="searchQuery" class="formInput">Buscar: </label>
              <input type="text" id="searchQuery" formControlName="searchQuery" class="formInput">
              
              <button type="submit" class="formButton">Buscar</button>
            </form>

            <!-- <div>
              <p>Valor seleccionado: {{ this.formulario.get('selectedField')?.value }}</p>
              <p>Valor de búsqueda: {{ this.formulario.get('searchQuery')?.value }}</p>
            </div> -->
          
            <div>
              <p class="mensaje-positivo" *ngIf="alumnoSeleccionado; else noCoincidencias">
                Coincidencia encontrada: {{ alumnoSeleccionado.username }}
              </p>
              <ng-template #noCoincidencias>
                <p class="mensaje-negativo">No se encontraron coincidencias</p>
              </ng-template>
            </div>

            <!-- Detalles del alumno -->
            <div *ngIf="alumnoSeleccionado" class="alumno-datos">
              <h2>Detalles del alumno:</h2>
              <p>Nombre: {{ alumnoSeleccionado.nombre }}</p>
              <p>Apellido: {{ alumnoSeleccionado.apellido }}</p>
              <p>Usuario: {{ alumnoSeleccionado.username }}</p>
              <p>E-mail: {{ alumnoSeleccionado.email }}</p>
            </div>

            <!-- Casillas para calificaciones -->
            <div *ngIf="alumnoSeleccionado" class="alumno-datos">
              <h2>Calificaciones:</h2>
              <form [formGroup]="formulario" (ngSubmit)="courseId !== undefined ? agregarDatos(courseId) : null">
                <label for="notaInput">Notas: </label>
                <input type="number" id="notaInput" formControlName="notaInput">
                <button type="submit" class="buttonNotas">Agregar Datos</button>

                <!-- Mostrar todas las notas y el promedio -->
                <div *ngIf="notas.length > 0" class="notasIngresadas">
                  <p>Notas ingresadas: </p>
                  <div class="notaBox" *ngFor="let nota of notas">{{ nota }}</div>
                </div>
                <div *ngIf="notas.length > 0" class="prom">
                  <p class="enSerio">Promedio: </p>
                  <p class="promBox">{{ notaFinal }}</p>
                </div>
              </form>
            </div>

            <!-- Casillas para asistencia -->
            <div *ngIf="alumnoSeleccionado" class="alumno-datos">
              <h2>Asistencia:</h2>
              
              <select id="mesInput" [(ngModel)]="mesInput">
                <option value="Enero">Enero</option>
                <option value="Febrero">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>
                <option value="Junio">Junio</option>
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Septiembre">Septiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Diciembre">Diciembre</option>
              </select>

              <label for="cantidadClasesInput">Cantidad de Clases:</label>
              <input type="number" id="cantidadClasesInput" [(ngModel)]="cantidadClasesInput">

              <label for="umbralInput">Umbral de asistencia:</label>
              <input type="number" id="umbralInput" [(ngModel)]="umbralAsistencia">

              <label>Registro de Asistencia:</label>
              <div class="asistencia-checkboxes">
                <label *ngFor="let dia of diaDelMes; let i = index" (click)="onCasillaVerificadaChange(i)">
                  <input type="checkbox" [id]="'asistenciaDia' + i" [(ngModel)]="casillasVerificadas[i]">
                  {{ dia }}
                </label>
              </div>
              
              <div *ngIf="casillasVerificadasInput !== undefined">
                <p>Porcentaje de Asistencia: {{ calcularPorcentajeAsistencia(cantidadClasesInput, casillasVerificadasInput) }}%</p>
                <p>Condición de Asistencia: {{ calcularCondicionAsistencia(calcularPorcentajeAsistencia(cantidadClasesInput, casillasVerificadasInput)) ? 'Regular' : 'Libre' }}</p>
              </div>
              
            </div>
          </div>

          <div class="buttonEnd">
            <button (click)="guardarDatosDB()">Guardar Datos</button>
          </div>
    </div>
    
</body>