<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <h1 id="titulo" class="h2 mb-0 ls-tight" style="padding-top: 10px; padding-bottom: 10px">
                                Gestión de usuarios
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="card shadow border-0 mb-7">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-3" style="white-space: nowrap; width: 250px;">Filtrar usuarios por apellido:</h5>
                    <input [(ngModel)]="searchUser" name="searchUser" type="search" class="form-control" placeholder="Buscar" aria-controls="example" />
                    <!-- Llamar método buscar -->
                    <a class="btn btn-sm btn-primary" (click)="buscarUsuariosPorNombre()" style="margin-left: 10px;">Buscar</a>
                </div>
                <button id="botonalta" type="button" class="btn btn-sm btn-primary" [routerLink]="['/users/create']">
                    Agregar usuario
                </button>
            </div>
        </div>        

        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Tipo de usuario</th>
                        <th scope="col">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usuariosFiltrados">
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.nombre }}
                        </td>
                        <td>
                            {{ user.apellido }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.TipoDeUsuario?.nombre }}
                        </td>
                        <td>
                            <span [style.color]="user.activoactualmente ? 'black' : 'red'">
                                {{ user.activoactualmente ? 'Activado' : 'Desactivado' }}
                              </span>
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-primary" (click)="confirmarActivarDesactivarUser(user, !user.activoactualmente)">
                                {{ user.activoactualmente ? 'Desactivar' : 'Activar' }}
                            </a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>

                            <a class="btn btn-sm btn-primary" [routerLink]="['/users/edit/', user?.id]">Ver/Editar</a>
                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>

                            <a class="btn btn-sm btn-danger" (click)="confirmarEliminarUsuario(user.id!)">Eliminar</a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Mostrando {{usuariosMostrados}} registros de {{totalUsuarios}} resultados encontrados</span>
        </div>
    </div>
</div>
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <h1 id="titulo" class="h2 mb-0 ls-tight" style="padding-top: 10px; padding-bottom: 10px">
                                Gestión de cursos
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="card shadow border-0 mb-7">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-3" style="white-space: nowrap; width: 250px;">Filtrar cursos por nombre:</h5>
                    <input [(ngModel)]="searchCurso" name="searchUser" type="searchCurso" class="form-control" placeholder="Buscar" aria-controls="example" />
                    <!-- Llamar método buscar -->
                    <a class="btn btn-sm btn-primary" (click)="buscarCursosPorNombre()" style="margin-left: 10px;">Buscar</a>
                </div>
                <button id="botonaltacurso" type="button" class="btn btn-sm btn-primary" [routerLink]="['/cursos/create']">
                    Agregar curso
                </button>
            </div>
        </div>
        

        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Requisitos</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de inicio</th>
                        <th scope="col">Fecha de fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursosFiltrados">
                        <td>
                            {{ curso.id }}
                        </td>
                        <td>
                            {{ curso.nombre }}
                        </td>
                        <td>
                            {{ curso.descripcion }}
                        </td>
                        <td>
                            {{ curso.duracion }}
                        </td>
                        <td>
                            {{ curso.capacidad }}
                        </td>
                        <td>
                            {{ curso?.Nivel?.nombre }}
                        </td>
                        <td>
                            {{ curso.requisitos }}
                        </td>
                        <td>
                            <span [style.color]="curso.habilitado ? 'black' : 'red'">
                                {{ curso.habilitado ? 'Activado' : 'Desactivado' }}
                              </span>
                        </td>
                        <td>
                            {{ curso.fechainicio | date : "dd/MM/yyyy HH:mm" }}
                        </td>
                        <td>
                            {{ curso.fechafin | date : "dd/MM/yyyy HH:mm" }}
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-primary" (click)="confirmarActivarDesactivarCurso(curso, !curso.habilitado)">
                                <span [appActivardesactivarcurso]="curso.habilitado"></span>
                            </a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>

                            <a class="btn btn-sm btn-primary" [routerLink]="['/cursos/edit/', curso.id]">Ver/Editar</a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>
                            <a class="btn btn-sm btn-danger" (click)="confirmarEliminarCurso(curso.id)">Eliminar</a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>
                           
                        </td>            
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <span class="text-muted text-sm">Mostrando {{cursosMostrados}} registros de {{totalCursos}} resultados encontrados</span>
        </div>
    </div>
</div>

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <h1 id="titulo" class="h2 mb-0 ls-tight" style="padding-top: 10px; padding-bottom: 10px">
                                Gestión de matrículas
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="card shadow border-0 mb-7">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-3" style="white-space: nowrap;">Filtrar matrículas por curso:</h5>
                    <input [(ngModel)]="searchMatricula" name="searchMatricula" type="search" class="form-control" placeholder="Buscar" aria-controls="example" />
                    <!-- Llamar método buscar -->
                    <a class="btn btn-sm btn-primary" (click)="buscarMatriculasPorCurso()" style="margin-left: 10px;">Buscar</a>
                </div>
                <!-- Comento el botón agregar matrículas porque debemos definir si se podrá matricular desde el admin
                <button id="botonaltacurso" type="button" class="btn btn-sm btn-primary" [routerLink]="['/matricula/create']">
                    Agregar matrícula
                </button> -->
            </div>
        </div>
        

        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Alumno</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let matricula of matriculasFiltradas">
                        <td>
                            {{ matricula.id }}
                        </td>
                        <td>
                            {{ matricula?.Curso?.nombre }}
                        </td>
                        <td>
                            {{ matricula?.User?.apellido + ', ' + matricula?.User?.nombre }}
                        </td>
                        <td>
                            <span [style.color]="matricula.habilitado ? 'black' : 'red'">
                                {{ matricula.habilitado ? 'Habilitada' : 'Deshabilitada' }}
                              </span>
                        </td>
                        <td>            
                          <a class="btn btn-sm btn-primary" (click)="habilitarMatricula(matricula, !matricula.habilitado)">
                                <span [appHabilitarmatricula]="matricula.habilitado"></span>
                            </a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <span class="text-muted text-sm">Mostrando {{matriculasMostradas}} registros de {{totalMatriculas}} resultados encontrados</span>
        </div>
    </div>
</div>

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <h1 id="titulo" class="h2 mb-0 ls-tight" style="padding-top: 10px; padding-bottom: 10px">
                                Gestión de docentes
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="card shadow border-0 mb-7">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-3" style="white-space: nowrap;">Filtrar docentes por apellido:</h5>
                    <input [(ngModel)]="searchDocente" name="searchDocente" type="search" class="form-control" placeholder="Buscar" aria-controls="example" />
                    <!-- Llamar método buscar -->
                    <a class="btn btn-sm btn-primary" (click)="buscarDocentes()" style="margin-left: 10px;">Buscar</a>
                </div>
            </div>
        </div>
        

        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Asignar especialidad</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Habilitar como docente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docente of docentesFiltrados">
                        <td>
                            {{ docente.id }}
                        </td>
                        <td>
                            {{ docente?.UserDocente?.apellido + ', ' + docente?.UserDocente?.nombre }}
                        </td>
                        <td>
                            <span [style.color]="docente?.Especialidad?.nombre ? 'black' : 'red'">{{ docente?.Especialidad?.nombre || 'Sin especificar' }}</span>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" [routerLink]="['/docente/asignarespecialidad/',docente.id]">
                                  Asignar especialidad
                              </a>
                              <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                  <i class="bi bi-trash"></i>
                              </button>
                          </td>
                          <td>
                            <span [style.color]="docente.habilitado ? 'black' : 'red'">
                                {{ docente.habilitado ? 'Habilitado como docente' : 'Deshabilitado como docente' }}
                              </span>
                        </td>
                          <td>
                            <a class="btn btn-sm btn-primary" (click)="habilitarDocente(docente, !docente.habilitado)">
                                <span [appHabilitardocente]="docente.habilitado"></span>
                            </a>
                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>
                          </td>

                          
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <span class="text-muted text-sm">Mostrando {{docentesMostrados}} registros de {{totalDocentes}} resultados encontrados</span>
        </div>
    </div>
</div>



<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <h1 id="titulo" class="h2 mb-0 ls-tight" style="padding-top: 10px; padding-bottom: 10px">
                                Gestión de docentes por curso
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="card shadow border-0 mb-7">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-3" style="white-space: nowrap;">Filtrar por curso:</h5>
                    <input [(ngModel)]="searchDocente" name="searchDocente" type="search" class="form-control" placeholder="Buscar" aria-controls="example" />
                    <!-- Llamar método buscar -->
                    <a class="btn btn-sm btn-primary" (click)="buscarDocentesPorCurso()" style="margin-left: 10px;">Buscar</a>
                </div>
            </div>
        </div>
        

        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docenteporcurso of docentesFiltradosPorCurso">
                        <td>
                            {{ docenteporcurso.id }}
                        </td>
                        <td>
                            <span *ngIf="!docenteporcurso?.DocenteEnDocentePorCurso" style="color: red;">Sin especificar</span>
                            <span *ngIf="docenteporcurso?.DocenteEnDocentePorCurso">{{ docenteporcurso.DocenteEnDocentePorCurso.UserDocente.apellido + ', ' + docenteporcurso.DocenteEnDocentePorCurso.UserDocente.nombre }}</span>                            
                        </td>
                        <td>
                            {{ docenteporcurso?.CursoEnDocentePorCurso?.nombre || 'Sin especificar' }}
                        </td>
                         <td>
                            <span [style.color]="docenteporcurso?.CursoEnDocentePorCurso ? 'black' : 'red'">
                                {{ docenteporcurso?.CursoEnDocentePorCurso ? 'Con docente asignado' : 'Sin docente asignado' }}
                              </span>
                        </td>
                          <td>
                            <!--<a class="btn btn-sm btn-primary" [routerLink]="['/curso/asignardocente/',docenteporcurso.id]">Asignar docente</a>-->

                            <a class="btn btn-sm btn-primary" [routerLink]="docenteporcurso?.CursoEnDocentePorCurso ? ['/curso/asignardocente/', docenteporcurso.id] : ['/curso/asignardocente/', docenteporcurso.id]">
                                {{ docenteporcurso?.CursoEnDocentePorCurso ? 'Cambiar asignación de docente' : 'Asignar docente' }}
                              </a>

                            <button type="button" class="btn btn-sm btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <span class="text-muted text-sm">Mostrando {{docentesMostradosPorCurso}} registros de {{totalDocentesPorCurso}} resultados encontrados</span>
        </div>
    </div>
</div>