<mat-sidenav-container class="side-bar">
    <mat-sidenav mode="side" opened>
      <div class="title-container">
        <img src="assets/img/incubadora-image.png" alt="Logo" class="logo-sidenav">
        <p class="title-sidenav">IncubadoraNOC</p>
      </div>

      <div class="sidenav-container">
        <a class="text-sidenav" href="#" routerLink="/students/user-dashboard"><img class="icon" src="assets/img/home.png" alt="home-icon">Inicio</a>
        <a class="text-sidenav" href="#" routerLink="/students/student-courses"><img class="icon" src="assets/img/cursos.png" alt="cursos-icon">Cursos</a>
        <a class="text-sidenav" href="#" routerLink="/students/student-personalData"><img class="icon" src="assets/img/personal-data.png" alt="personal-data-icon">Mis Datos</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>