<h1 class="h1">Productos Disponibles</h1>
<section class="products">
  <div class="card" *ngFor="let product of productList">
    <p class="card_title">{{product.name}}</p>
    <div class="card_img">
      <img src="{{product.image}}"height="48" width="48" alt="{{product.name}}">
    </div>
    <span class="card-stock">Stock: {{product.quantity}}</span>
    <span class="card-price"> ${{product.price}}</span>
    <button class="botton-add" (click)="openDialog(product)">ver más</button>
  </div>
</section>
