<body>
    <div style="display: flex;">
        <div class="button-conteiner">
            <div class="button-nav" id="first">
                <button routerLink="cv" mat-raised-button color="primary" 
                >Reseteo de contraseñas</button>
            </div>
            <div class="button-nav">
                <button routerLink="personal" mat-raised-button color="primary"
                 >Filtros</button>
            </div>
        </div>
        <div class="textArea">             
            <router-outlet></router-outlet>
        </div>
    </div>
</body>
