.hidden {
    display: none;
  }
  .registeranswer {
    min-height: 67vh;
    background-color: #0bf439;
    border-radius: 5px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
  }