<div class="row mb-3 mt-3 offset-lg-2 userSelect">
    <div
      class="card text-white mb-3"
      style="max-width: 50rem; background-color: var(--colorBlue)"
    >
      <div class="card-header text-center fs-3"style="text-shadow: 2px 2px 5px #000000;"><b> Agregar tarjeta: Sobre Nosotros</b></div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="add()">
            <div class="row mb-3">
                <label class="form-label mb-0 p-0"><b>Titulo (Se mostrara solo 1 titulo por prioridad)</b></label>
                <input
                  formControlName="title"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Ingrese Titulo"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label mb-0 p-0"><b>Subtitulo</b></label>
                <input
                  formControlName="subtitle"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Ingrese Subtitulo"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label mb-0 p-0"><b>Descripcion</b></label>
                <input
                  formControlName="description"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Ingrese descripcion"
                />
                <span
                  *ngIf="
                    form.get('description')?.hasError('required') &&
                    form.get('description')?.touched
                  "
                  class="mt-1"
                  style="background-color: rgb(255, 73, 73); border-radius: 5px"
                >
                  El campo descripcion es <strong>requerido</strong>
                </span>
              </div>
              <div class="row mb-3">
                <label class="form-label mb-0 p-0"><b>Imagen</b></label>
                <input
                  formControlName="image"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Ingrese Imagen"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label mb-0 p-0"><b>Prioridad</b></label>
                <input
                  formControlName="priority"
                  type="number"
                  class="form-control mt-2"
                  placeholder="Ingrese prioridad"
                />
              </div>
  
          <input
            formControlName="active"
            type="checkbox"
            class="form-check-input mt-2"
            placeholder="Ingrese si se encuentra activo"
          />
          <label class="form-label mb-0 p-0 p-1">Esta activa la tarjeta?</label>
  
          <div class="row mb-3 mt-2 text-center">
            <div class="col-lg-6">
              <button class="boton" routerLink="/admin/panel/about-us">
                Volver
              </button>
            </div>
            <div class="col-lg-6">
              <button
                [disabled]="form.invalid"
                type="submi
                </div>t"
                class="boton"
              >
                Aceptar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  