<section class="h-screen ">
    <h1 class="leading-tight text-gray-50 text-center text-6xl mt-16 mb-24 ">Turisticapp</h1>
    <div class=" flex ">

        <div class=" fondoemail w-full m-5 rounded-lg">
            <div class="p-6 space-y-4">

                <form class="space-y-4">
                    <div>
                        <label for="email" class="block mb-2  text-gray-50 text-lg font-sans">Ingrese su email</label>
                        <input type="text" id="email"
                            class="bg-blue-100 border-gray-300 text-gray-50 rounded block w-full p-2  ">
                    </div>
                    <div class=" flex flex-row-reverse ">
                        <button
                            class="button px-14  border-blue-600 text-gray-50 rounded p-2.5 font-sans ">Iniciar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>