<app-dashboard-page></app-dashboard-page>

<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="form">
      <h2>Nuevo Perro</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="nombre" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Raza</mat-label>
        <mat-select formControlName="raza">
          <mat-option *ngFor="let item of razas" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        Guardar
      </button>
    </form>
  </mat-card-content>
</mat-card>
