<!-- <div class="footer">    
   <p>Todos los derechos reservados - CurIncubadora Noc</p>
</div> -->


<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <a href="https://www.facebook.com" target="_blank" class="icon-container">
                <img class="icon-image" src="../../../../../assets/logos/facebook.png" alt="foto-face">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="icon-container">
                <img class="icon-image" src="../../../../../assets/logos/instagram.png" alt="foto-ig">
            </a>
            <a href="https://www.linkedin.com" target="_blank" class="icon-container">
                <img class="icon-image" src="../../../../../assets/logos/linkedin.png" alt="foto-linkedin">
            </a>
            <a href="https://www.twitter.com" target="_blank" class="icon-container">
                <img class="icon-image" src="../../../../../assets/logos/twitter.png" alt="foto-twitter">
            </a>
        </div>
        <div class="img-new">
            <div class="image-container">
                <a class="nav-link active" aria-current="page" routerLink="/">
                    <img class="image" src="../../../../../assets/imagen/IncubadoraNOC_logo-noBackground.png"
                        alt="foto-logo">
                </a>

            </div>
            <div class="footer-copyright">
                <h6>Todos los derechos reservados &copy; {{ currentYear }}</h6>
            </div>
        </div>
    </div>
</footer>