.mySwiper {
  width: 98vw !important;
  padding-inline: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .swiper-button-prev,
.swiper-button-next {
  color: #f3f4f6 !important;
  width: calc(1em / 10px * 10px) !important;
  height: 2em !important;
} */
