<section class="w-full flex items-center justify-center mb-16">
  <swiper-container
    slides-per-view="3"
    speed="500"
    loop="true"
    navigation="true"
    pagination="true"
    scrollbar="true"
    class="mySwiper px-4"
  >
    <swiper-slide class="flex items-center justify-center pb-2"
      ><figure class="w-[200px]">
        <img
          src="/assets/logotypes_organizations/orgOne.svg"
          class="w-full h-full object-cover"
        /></figure
    ></swiper-slide>
    <swiper-slide class="flex items-center justify-center pb-2"
      ><figure class="w-[200px]">
        <img
          src="/assets/logotypes_organizations/orgOne.svg"
          class="w-full h-full object-cover"
        /></figure
    ></swiper-slide>
    <swiper-slide class="flex items-center justify-center pb-2"
      ><figure class="w-[200px]">
        <img
          src="/assets/logotypes_organizations/orgTwo.svg"
          class="w-full h-full object-contain"
        /></figure
    ></swiper-slide>
    <swiper-slide class="flex items-center justify-center pb-2"
      ><figure class="w-[200px]">
        <img
          src="/assets/logotypes_organizations/orgThree.svg"
          class="w-full h-full object-cover"
        /></figure
    ></swiper-slide>
  </swiper-container>
</section>
