<app-barra></app-barra>
<div id="general">
    <div id="recuadro">
        <div id="articulo" *ngFor="let articulo of articulos">
            <div id="imagen">
                <!-- <img [src]="Images[0]"> -->
                <img src="/front/src/assets/t796003.png">
            </div>
            <div id="datosVen">
                <p id="nomArt">Nombre: {{articulo.nomArt}}</p>
                <!-- <p id="nombreVen">{{articulo.nomVen}}</p> -->
                <p id="catArt">Categoría: {{articulo.catArt}}</p>
            </div>
            <div id="descripcion">
                <p id="desArt">{{articulo.desArt}}</p>
            </div>
            <div id="datosArt">
                <p id="envArt">Entrega: {{articulo.envArt}}</p>
                <p id="preArt">Precio: ${{articulo.preArt}}</p>
            </div>
            <div id="acciones"> 
                <a id="verArt" [(ngModel)]="articulo.idArt" (click)="redireccion1(modelo.idArt)">Visualizar Artículo</a>
                <a id="modArt" (click)="redireccion2()">Modificar Artículo</a>
                <a id="eliArt" (click)="redireccion3()">Eliminar Artículo</a>
            </div>
        </div>
    </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
