<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="Logo" src="../../../assets/logoimage.jpg" alt="Logo" width="60" height="60">
    </a>
    <a class="navbar-brand" href="#">Delkat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button data-bs-toggle="dropdown">Categorías</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let categoria of listCategorias">{{categoria.name}}</a> 
      </div>
      <form class="d-flex">
        <input (keyup)="filtrarProductos(inputFilter.value)" #inputFilter class="form-control me-2" type="search" placeholder="Busque un producto" aria-label="Search">
      </form>
      <button (click)="buscar()" class="btn btn-outline-success" type="submit">Buscar</button>
      <div id="espacioApp"></div>
      <app-barra-lateral [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-barra-lateral>
    </div>
  </div> 
</nav>