<nav id="BarraGeneral" class="navbar navbar-expand-lg ">
  <div id="BarraColor" class="container-fluid">
    <!-- logos -->
    <i class="navbar-brand" href="#"><img id="logo" class="img-fluid" src="../../../assets/delkat4.png" alt="Logo" width="60" height="60"></i>
    <a id="delkat" class="navbar-brand" href="#">Delkat</a>
    <div class="collapse navbar-collapse" >
      <!-- categorias -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=".." role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
          <ul class="dropdown-menu">
            <li id="liCat" *ngFor="let categoria of listCategorias">
              <a class="dropdown-item" (click)="filtrar(categoria.id)" >{{categoria.name.charAt(0).toUpperCase() + categoria.name.slice(1)}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- buscador -->
      <form id="buscador" ><input #inputFilter spellcheck="false" autocomplete="off" (keyup)="filtrarProductos(inputFilter.value)" (keyup.enter)="buscar()" aria-label="Search" placeholder="Busque un producto"></form>
      <button id="BotonBuscar" (click)="buscar()" class="btn btn-outline-success" type="submit">Buscar</button>
      <!-- barra lateral -->
      <app-barra-lateral [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-barra-lateral>
    </div>
  </div> 
</nav>