<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h2>Registrar nuevo perro</h2>
      <!-- PetName -->
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" />
        <mat-hint *ngIf="name?.pristine">Min 3 - Max 60 caracteres</mat-hint>
        <mat-error *ngIf="name?.errors?.required">
          El nombre del perro es requerido.
        </mat-error>
      </mat-form-field>
      <!-- Breed -->      
      <mat-form-field>
        <mat-label>Raza</mat-label>
        <mat-select formControlName="breedId">
          <mat-option *ngFor="let item of breedList" [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
        <mat-hint *ngIf="breedId?.pristine">
          Seleccione una Raza del listado
        </mat-hint>
        <mat-error *ngIf="breedId?.errors?.required">
          La Raza del perro es requerida.
        </mat-error>
      </mat-form-field>
      <!-- Birth Date -->
      <mat-form-field>
        <mat-label>Seleccione fecha de nacimiento</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="ToDAyDate"
          [matDatepicker]="picker"
          formControlName="birth_date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birth_date?.errors?.required">
          El campo es requerido.
        </mat-error>
      </mat-form-field>
      <!-- Gender -->
      <mat-radio-group        
        formControlName="gender"
        fxLayout="row"
        fxLayoutAlign="space-between"
        fxLayoutGap=".25rem"
      >
        <mat-label>Seleccione el Sexo</mat-label>
        <mat-radio-button value="M">Macho</mat-radio-button>
        <mat-radio-button value="F">Hembra</mat-radio-button>
      </mat-radio-group>
      <div class="separate-top">
        <button
          mat-raised-button
          class="block-button"
          color="primary"
          [disabled]="registerForm.invalid || loading"
        >
          Registrar
        </button>
        <a mat-raised-button class="block-button" routerLink="/pet/list"
          >Cancelar
        </a>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
