<div class="header-home">
    <header>
        <h1>Esto es un Header</h1>
    </header>
</div>
<div style="display: flex; height: 70%; ">
<div class="container-button">
    <div style="margin-top: 5px;"><button mat-raised-button color="primary" class="button">Mis datos personales</button></div>
    <div><button mat-raised-button color="primary" class="button">Mi formación</button></div>
    <div><button mat-raised-button color="primary" class="button">Mis experiencias</button></div>
    <div><button mat-raised-button color="primary" class="button">Mis habilidades</button></div>
    <div><button mat-raised-button color="primary" class="button">Mis Cv's</button></div>
    <div><button mat-raised-button color="primary" class="button">Sugerencias</button></div>
    <div><button mat-raised-button color="primary" class="button">Otro boton por las dudas</button></div>
</div>
<div class="container">
<h1>contenido</h1>
</div>
</div>
<div class="footer-home">
    <footer>
        <h1>Esto es un footer</h1>   
    </footer>
</div>
