<!-- <div class="card" style="width: 30rem;">
    <img src="../../../../../assets//imagen//no-image.png" class="card-img-top" alt="no-image">
    <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Descripcion del curso</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">no se que data tiene el curso</li>
        <li class="list-group-item">no se que data tiene el curso</li>
        <li class="list-group-item">no se que data tiene el curso</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Link al curso</a>
        <a href="#" class="card-link">Cursos relacionados</a>
    </div>
</div> -->



<!-- <div class="border">
    <div class="card container-big">
        <img src="../../../../../assets/imagen//no-image.png" class="card-img-top" alt="no-image">
        <div class="card-body">
            <h2 class="card-title">Nombre del curso</h2>
            <p class="card-description">Descripción del curso</p>
        </div>
        <div class="card-body-down">
            <h4 class="card-professor">Profesor: Bla</h4>
            <h4 class="card-duration">Duracion: 10hs</h4>
        </div>

        <div class="card-body">
            <button class="btn btn-primary" type="submit">Ir al curso</button>
        </div>
    </div>
</div> -->


<div class="border">
    <div class="card container-big">
        <img src="../../../../../assets/imagen/no-image.png" class="card-img-top" alt="no-image">
        <div class="card-body">
            <h2 class="card-title">{{ course.name }}</h2>
            <p class="card-description">{{ course.description }}</p>
        </div>
        <div class="card-body-down">
            <h4 class="card-professor">Profesor: {{ course.professor }}</h4>
            <h4 class="card-duration">Duración: {{ course.duration }}</h4>
        </div>
        <div class="card-body">
            <button class="btn btn-primary" type="submit">Ir al curso</button>
        </div>
    </div>
</div>