<section
  class="fixed top-0 right-0 bottom-0 left-0 m-auto w-full min-h-screen flex items-center justify-center bg-black z-10 bg-opacity-[.6]"
>
  <article
    class="w-11/12 p-4 flex flex-col items-center justify-center gap-4 rounded-md bg-white sm:w-[600px] sm:mt-[3em]"
  >
    <figure class="w-full h-[150px]">
      <img
        [src]="
          status === 'success'
            ? '/assets/icons/good.png'
            : '/assets/icons/bad.png'
        "
        alt="icono good"
        class="w-full h-full object-contain"
      />
    </figure>

    <p *ngIf="message" class="text-center">{{ message }}</p>
    <ng-container *ngIf="!message">
      <ng-container *ngFor="let item of errors">
        <p class="text-center">{{ item.msg }}</p>
      </ng-container>
    </ng-container>

    <button
      type="button"
      (click)="handlleContinue()"
      class="py-2 px-4 bg-mediumViolet text-white rounded-md font-semibold shadow-md shadow-dimGray"
    >
      {{ textBtn }}
    </button>
  </article>
</section>
