<app-barra></app-barra>
<div class="container mt-5">
    <div id="botonNavegacion">
        <app-boton-navegacion></app-boton-navegacion>
    </div>
    <h2>Bases y Condiciones de Uso</h2>

    <h3>1. Introducción</h3>
    <p>1.1. DELKAT es una plataforma en línea que facilita la interacción entre usuarios para el alquiler y publicación de productos. Al utilizar los servicios de DELKAT, aceptas y estás sujeto a estas bases y condiciones, por lo que te recomendamos leerlas detenidamente.</p>
    <p>1.2. Los usuarios pueden ser tanto personas naturales como jurídicas y deben tener la capacidad legal para celebrar contratos.</p>

    <h3>2. Registro de Usuario</h3>
    <p>2.1. Para utilizar los servicios de DELKAT, debes crear una cuenta de usuario proporcionando información precisa y actualizada.</p>
    <p>2.2. Eres responsable de mantener la confidencialidad de tu contraseña y de cualquier actividad que ocurra en tu cuenta.</p>

    <h3>3. Publicación de Productos</h3>
    <p>3.1. Los usuarios pueden publicar productos para alquilar o vender en la plataforma, siempre y cuando cumplan con las políticas de publicación de DELKAT.</p> 
    <p>3.2. Los usuarios son responsables de la precisión y la integridad de la información proporcionada en sus anuncios, incluyendo precios, descripciones y condiciones de alquiler.</p>

    <h3>4. Alquiler de Productos</h3>
    <p> 4.1. Los usuarios pueden alquilar productos de otros usuarios de acuerdo con los términos y condiciones establecidos en cada anuncio.</p>
    <p>4.2. Al alquilar un producto, los usuarios aceptan cumplir con los términos de alquiler establecidos por el propietario del producto.</p>

    <h3>5. Responsabilidad y Seguro</h3>
    <p>5.1. DELKAT no es responsable de los productos publicados o alquilados a través de la plataforma. Los usuarios deben tomar las precauciones necesarias y verificar la calidad y condiciones de los productos.</p>
    <p>5.2. Los usuarios pueden optar por obtener su propio seguro para cubrir posibles daños o pérdidas durante el alquiler.</p>

    <h3>6.Cancelación y Reembolsos</h3>
    <p>6.1. Los términos de cancelación y las políticas de reembolso pueden variar según el anuncio y deben ser acordados entre las partes involucradas.</p>

    <h3>7. Modificaciones a las Bases y Condiciones</h3>
    <p>7.1. DELKAT se reserva el derecho de modificar estas bases y condiciones en cualquier momento. Los cambios se notificarán a los usuarios y entrarán en vigor después de su publicación.</p>

    <h3>8. Terminación de Cuenta</h3>
    <p>8.1. DELKAT puede suspender o cancelar cuentas de usuarios que violen estas bases y condiciones o incurran en actividades fraudulentas.</p>

    <p class="text-center mt-4">Al registrarte y utilizar los servicios de DELKAT, aceptas cumplir con estas bases y condiciones. Te recomendamos consultar estas bases y condiciones periódicamente, ya que pueden cambiar. Si no estás de acuerdo con estas bases y condiciones, no debes utilizar la plataforma DELKAT.</p>
</div>


<app-footer></app-footer>