.container {
  max-width: 800px;
  padding: 10px 20px 60px;
  font-family: Arial, sans-serif;
}
h2 {
  font-size: 24px;
  text-align: center;
}
h3 {
  font-size: 20px;
  margin-top: 20px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
#botonNavegacion {
  display: flex;
  justify-content: start;
}