.hidden {
    display: none;
  }
  .registeranswer {
    /* min-height: 67vh; */
    background-color: #d87920;
    border-radius: 5px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    color: rgb(2, 2, 126);
  }