.container{
  background-color: rgb(231, 231, 231);
  padding: 20px;
}

.form-control{
  margin: 15px;
}

h1,h2{
  font-weight: bold;
  padding: 20px;
}

#firstName, #lastName, #phone, #email{
  margin: 10px 1px;
} 

.user-details {
  margin-bottom: 20px;
}
  
.edit-user {
  margin-top: 20px;
}

.boton{
  margin: 10px;
}

  