<app-sidebar-user></app-sidebar-user> <!--Menu de navegación para info de usuario-->
<br>
<div class="container">
    <h1><strong>Información del Usuario</strong></h1>
  
    <div class="user-details">
      <div class="row">
        <div class="col-md-4">
          <label for="firstname"><strong>Nombre:</strong> </label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="userPrueba.firstname" name="firstname" disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="lastname"><strong>Apellido:</strong> </label>
          <input type="text" class="form-control" id="lastname" [(ngModel)]="userPrueba.lastname" name="lastname" disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="phone"><strong>Teléfono:</strong> </label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="userPrueba.phone" name="phone" disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="email"><strong>Correo Electrónico:</strong> </label>
          <input type="email" class="form-control" id="email" [(ngModel)]="userPrueba.email" disabled>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="editUser()">Editar</button>
    <hr>
  
    <div class="edit-user" *ngIf="isEditing">
      <h2>Editar Usuario</h2>
  
      <form (ngSubmit)="saveUser()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="userPrueba.firstname" name="editfirstname"
          value="{{userPrueba.firstname}}" required>
        </div>
  
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" class="form-control" id="apellido" [(ngModel)]="userPrueba.lastname" name="editlastname"
          value="{{userPrueba.lastname}}" required>
        </div>
  
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="text" class="form-control" id="telefono" [(ngModel)]="userPrueba.phone" name="editphone"
          value="{{userPrueba.phone}}" required>
        </div>
        <br>  
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>          
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>      
      </form>
      <hr>
    </div>
  </div>
  