.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--font-size-1);
}

.btn-info {
    color: var(--color-0) ;
    background-color: var(--color-4);
    padding: var(--font-size-1);
}
