<app-navbar></app-navbar>
<div class="container">
  <div class="title">
    <h1>LISTA DE USUARIOS</h1>
  </div>
  <div class="wrapper">
  <div>
    <button routerLink="/user/add-user" type="button" class="btn btn-info">Nuevo Usuario</button>
  </div>
  <br>
    <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Detelles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td><button (click)="viewUserDetails(user.id)">Detalles</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>