.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background: var(--background-gradient);
}

.icons i {
    padding: 2vh;
    margin: 1vh;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-container {
    background-color: VAR(--color-0);
    padding: 20vh;
    border-radius: 5px;
    box-shadow: VAR(--box-shadow-1);
    max-width: 400vh;
    width: 60vh;
    margin: 0 auto;
}

input {
    font-size: 2vh;
    width: 100%;
    padding: 1vh 2vh;
    margin: 1vh 0;
    box-sizing: border-box;
    border-color: var(--color-3);
}

.custom-checkbox {
    transform: scale(1);
}

textarea {
    font-size: 3vh;
}

.btn-custom {
    background-color: VAR(--color-primary);
    color: var(--color-0);
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--color-grad-5);
}

.custom-checkbox input[type="checkbox"] {
    width: 1vh;
    height: 1vh;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    margin-right: 5px;
}