<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
      <h2>Log In de Usuario</h2>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          required
        />
        <mat-error *ngIf="loginForm.controls.username?.errors?.required">
          El nombre de usuario es requerido.
        </mat-error>
        <mat-error *ngIf="loginForm.controls.username?.errors?.maxlength">
          La cantidad máxima de caracteres es 255.
        </mat-error>
        <mat-error *ngIf="loginForm.controls.username?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
        <mat-error *ngIf="loginForm.controls.username?.errors?.backendErr">
          Revisá tu Usuario.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error *ngIf="loginForm.controls.password?.errors?.required">
          La contraseña es requerida.
        </mat-error>
        <mat-error *ngIf="loginForm.controls.password?.errors?.maxlength">
          La cantidad máxima de caracteres es 60.
        </mat-error>
        <mat-error *ngIf="loginForm.controls.password?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="block-button" [disabled]="loading">
        Ingresar
      </button>
      <p>¿Primera vez ingresando al Sitio?</p>
      <a mat-stroked-button color="primary" class="block-button" routerLink="/auth/register"
        >Registrar nuevo Usuario</a
      >
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
