<section class="h-auto w-screen grid-cols-1 justify-center items-center overflow-hidden py-aut relative">
  <video autoplay loop muted preload="auto" class="absolute top-0 left-0 w-full h-full object-cover">
    <source src="/assets/Fondo fucsia.mp4" type="video/mp4">
  </video>
  <div class="my-0 mx-auto transition-all ease duration-[400ms] flex justify-center items-center relative w-screen h-screen align-middle">

    <div class=" circle w-[60%] h-[60%] top-[20%] left-[20%] min-w-[400px] min-h-[400px] absolute]" data-depth="1.2"></div>

      <div class="one w-[60%] h-[60%] top-[20%] left-[20%] min-w-[400px] min-h-[400px]" data-depth="0.9">
        <div class="content w-[600px] h-[600px] flex justify-center items-center absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
        </div>
      </div>

      <div class="two w-[60%] h-[60%] top-[20%] left-[20%] min-w-[400px] min-h-[400px]" data-depth="0.60">
        <div class="content w-[600px] h-[600px] flex justify-center items-center absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
        </div>
      </div>

      <div class="three w-[60%] h-[60%] top-[20%] left-[20%] min-w-[400px] min-h-[400px]" data-depth="0.40">
        <div class="content w-[600px] h-[600px] flex justify-center items-center absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
          <span class="piece w-[200px] h-[80px] flex absolute rounded-[80px] z-10"></span>
        </div>
      </div>

      <p class="p404 w-[60%] h-[60%] top-[20%] left-[20%] min-w-[400px] min-h-[400px] font-[700] tracking-[4px] text-white flex justify-center items-center absolute z-20" data-depth="0.50">404</p>
      <p class="p404 w-[60%] h-[60%] top-[20%] left-[20%] min-w-[400px] min-h-[400px] font-[700] tracking-[4px] text-white flex justify-center items-center absolute z-20" data-depth="0.10">404</p>



    <div class="text w-[60%] h-[40%] min-w-[250px] min-h-[500px] absolute my-[40px]">
      <article class="w-[400px] absolute bottom-0 z-40 flex flex-col justify-center items-center text-center left-[50%] -translate-x-[50%]">
        <p class="text-white tracking-[.6px] mb-10">Oops! Parece que te perdiste. Página no encontrada <br>¡Vuelve a la página de inicio!</p>
        <!-- <button (click)="navigateToLogin()">¡Volver!</button> -->
        <button (click)="navigateToLogin()"
          class="px-4 py-2 bg-darkSlateBlue text-white font-semibold text-sm shadow-md rounded-md sm:text-base btn-shadow">
          ¡Volver!
        </button>
      </article>
    </div>

  </div>
</section>
