<header class="jumbotrol bg-cover text-black">
  <div class="container py- text-center">
  <div class="word-container">
      <span class="display-8 font-weight-bold" src="">Turismo</span>
      <span class="display-8 font-weight-bold" src="">Municipalidad</span>
      <img src="../../../../assets/logominaclaver.png" alt="Logo" class="logo">
      <span class="display-8 font-weight-bold" src="">Encuestas</span>
      <span class="display-8 font-weight-bold" src="">Novedades</span>
    </div>
  </div>
  </header> 