.navbar {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 90px;
  left: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  transition: 0.3s ease;
}

.navbar-closed {
  left: 0;
  transition: 0.3s ease;
}

.iconRow {
  transition: ease 0.3s;
}

.rotate {
  transform: rotate(180deg);
  transition: ease 0.3s;
}

@media screen and (min-width: 1024px) {
  .navbar {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    min-height: auto;
  }
}
