<header
  class="fixed top-0 left-0 w-full flex flex-col p-6 bg-white z-20 lg:gap-4 lg:relative lg:flex-row lg:justify-between"
  id="arriba"
>
  <a routerLink="/" class="w-auto"
    ><figure class="lg:w-[200px] flex items-center gap-2">
      <img
        src="/assets/logo/logohand.svg"
        alt="logo"
        class="w-[50px] m:w-[70px]"
      />
      <img
        src="/assets/logo/logovoluntime.svg"
        alt="logo"
        class="w-[80px] m:w-[100px]"
      /></figure
  ></a>

  <i
    [ngClass]="!isOpen ? 'hidden' : 'visible'"
    class="bx bx-menu text-3xl cursor-pointer m:text-4xl lg:hidden"
    (click)="handleMenu()"
  ></i>
  <i
    [ngClass]="isOpen ? 'hidden' : 'visible'"
    class="bx bx-x text-3xl cursor-pointer m:text-4xl lg:hidden"
    (click)="handleMenu()"
  ></i>

  <nav [ngClass]="isOpen ? 'navbar' : 'navbar navbar-closed'">
    <ul
      class="w-full flex flex-col items-center justify-center gap-4 m:text-lg lg:flex-row lg:justify-end lg:gap-8 lg:items-start lg:pt-4 lg:absolute"
    >
      <li class="">
        <div
          class="w-full flex items-center justify-center cursor-pointer optionDesk"
          (click)="openOpOne()"
        >
          <span class="text-xl whitespace-nowrap max-w-[200px]"
            >Hazte voluntario/a</span
          >
          <i
            class="bx bx-chevron-down text-2xl iconRow"
            [ngClass]="{ rotate: openOptionOne }"
          ></i>
        </div>

        <ul
          [ngClass]="
            openOptionOne
              ? 'flex flex-col items-center gap-2 bg-white p-2 lg:shadow-md lg:shadow-blueViolet'
              : 'hidden'
          "
          [ngStyle]="{ 'max-height.px': openOptionOne ? maxHeight : 0 }"
        >
          <li class="cursor-pointer lg:hover:text-blueViolet">
            <a routerLink="/voluntariados">Buscar voluntariados</a>
          </li>

          <li class="cursor-pointer lg:hover:text-blueViolet">
            6 pasos para ser voluntario
          </li>
        </ul>
      </li>
      <li>
        <div
          class="w-full flex items-center justify-center cursor-pointer"
          (click)="openOpTwo()"
        >
          <span class="text-xl whitespace-nowrap max-w-[200px]">
            ¿Tienes dudas?
          </span>

          <i
            class="bx bx-chevron-down text-2xl iconRow"
            [ngClass]="{ rotate: openOptionTwo }"
          ></i>
        </div>
        <ul
          [ngClass]="
            openOptionTwo
              ? 'flex flex-col items-center gap-2 p-2 bg-white lg:shadow-md lg:shadow-blueViolet lg:items-start'
              : 'hidden'
          "
        >
          <li class="cursor-pointer lg:hover:text-blueViolet">
            ¿Quienes Somos?
          </li>
          <li class="cursor-pointer lg:hover:text-blueViolet">
            Testimonios de voluntarios
          </li>
        </ul>
      </li>
      <li class="lg:hidden text-xl cursor-pointer">Acerca de nosotros</li>
      <li class="lg:hidden text-xl cursor-pointer">Contacto</li>
      <div class="w-[90%] h-[.5px] my-4 bg-lightGray lg:hidden"></div>
      <li
        class="flex flex-col items-center justify-center gap-4 lg:flex-row font-semibold lg:items-start"
      >
        <a
          routerLink="/auth/login"
          class="lg:text-xl whitespace-nowrap max-w-[200px] lg:hover:text-blueViolet"
          >Iniciar sesión</a
        >
        <a
          routerLink="/auth/options-register"
          class="py-1 px-4 bg-darkSlateBlue text-white rounded-md"
          >Registrarse</a
        >
        <i class="bx bx-search hidden lg:flex lg:text-xl cursor-pointer"></i>
      </li>
    </ul>
  </nav>
</header>
