.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; 
  margin-bottom: 10px;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}