/* ------VOLUNTEERING-SEARCH------ */

.bg-image {
  background-image: url(https://res.cloudinary.com/carina-bosio/image/upload/v1691970346/xAcademy/img-volunteering-search_sm0vvp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
