<div class="bg-image w-screen h-full py-[60px] px-[20px]">
  <h1 class="text-centered text-[clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem)] mb-10  font-poppins font-bold">BUSCÁ UN VOLUNTARIADO SEGÚN TUS PREFERENCIAS</h1>
  <div class="flex flex-wrap justify-center">
    <div class="rounded-full w-[350px] h-[350px] bg-midnightBlue/[.6] space-y-7 px-[100px]">
      <img class="w-20" src="https://res.cloudinary.com/carina-bosio/image/upload/v1691944413/xAcademy/medioambiente_vn0xt9.png" alt="Icono medioambiente">
      <p class="category text-white text-center font-semibold font-poppins">Medioambiente y fauna</p>
      <a href="#" class="text-white rounded-md bg-[#3F2883] px-[15px] py-[5px] font-semibold font-poppins btn-shadow">Buscar</a>
    </div>
    <div class="rounded-full w-[350px] h-[350px]  bg-orangeRed/[.6] space-y-7 px-[100px]">
        <img class="w-20"
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1691968784/xAcademy/comunitario_eialip.png"
          alt="Icono asistencia social">
        <p class="category text-white text-center font-semibold font-poppins">Asistencia social</p>
        <a href="#"
          class="text-white rounded-md bg-[#3F2883] px-[15px] py-[5px] font-semibold font-poppins btn-shadow">Buscar</a>
    </div>
    <div class="rounded-full w-[350px] h-[350px]  bg-mediumViolet/[.6] space-y-7 px-[100px]">
      <img class="w-20" src="https://res.cloudinary.com/carina-bosio/image/upload/v1691968944/xAcademy/salud_f0sgn7.png"
        alt="Icono salud">
      <p class="category text-white text-center font-semibold font-poppins">Salud y discapacidad</p>
      <a href="#"
        class="text-white rounded-md bg-[#3F2883] px-[15px] py-[5px] font-semibold font-poppins btn-shadow">Buscar</a>
    </div>
  </div>
</div>
