<!--<p>form-delete works!</p>-->
<div class="containerGral">
    <div class="column4col positionInic" *ngIf="hasProducts">
        <ul class="list-group">
            <li *ngFor="let product of productList">
                <div class="card">
                    <div class="img"></div>
                      <div class="info">
                        <span>{{product.nombreProd}}</span>
                        <p>{{product.precio | currency}} </p>
                      </div>
                      <!--<a  (click)="selectedProduct = product">Seleccionar</a>-->
                      <button (click)="selectProduct(product)">Seleccionar</button>

                </div>
            </li>
        </ul>
    </div>
    <div class="column8col positionInic" *ngIf="hasProducts">
      <form class="form_container" [formGroup]="myForm">
        <div class="title_container">
          <p class="title">Eliminar Producto</p>
          <span class="subtitle">Datos del producto.</span>
        </div>
        <br>
        <div *ngIf="selectedProduct" class="input_container">
          <label class="input_label" for="name_field">Nombre del Producto</label>
          <input [value]="selectedProduct.nombreProd" type="text" class="input_field" id="name_field" disabled>
        </div>
        <div *ngIf="selectedProduct" class="input_container">
          <label class="input_label" for="categoria_field">Categoria</label>
          <input [value]="selectedProduct.categoria" title="Input category" type="text" class="input_field" id="categoria_field" disabled>
        </div>
    
        <div *ngIf="selectedProduct" class="input_container">
          <label class="input_label" for="precio_field">Precio</label>
          <input [value]="selectedProduct.precio" title="Input precious" type="number" class="input_field" id="precio_field" disabled>
        </div>
        <div *ngIf="selectedProduct" class="input_container">
          <label class="input_label" for="description_field">Descripción</label>
          <textarea [value]="selectedProduct.descripcion" title="Input description" class="input_field input-description" id="password_field" disabled></textarea>
        </div>
        
        <button title="Delete" type="submit"  class="sign-in_btn" (click)="showDelete()" [disabled]="!selectedProduct">
          Eliminar
        </button>
        <!--<button (click)="mostrar()">Aloha</button>-->
      </form>
    
    </div>
    <div class="hit-the-floor" *ngIf="!hasProducts">
      No hay productos cargados aún.
    </div>
</div> 

