<!--<p>form-delete works!</p>-->
<div class="containerGral">
    <div class="column4col positionInic">
        <ul class="list-group">
            <li >
                <div class="card">
                    <div class="img"></div>
                      <div class="info">
                        <span>Product 1</span>
                        <p>$2000 </p>
                      </div>
                      <a href="#">Seleccionar</a>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="img"></div>
                      <div class="info">
                        <span>Product 2</span>
                        <p>$3000</p>
                      </div>
                      <a href="#">Seleccionar</a>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="img"></div>
                      <div class="info">
                        <span>Product3</span>
                        <p>$3500</p>
                      </div>
                      <a href="#">Seleccionar</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="column8col positionInic">
      <form class="form_container">
        <div class="title_container">
          <p class="title">Eliminar Producto</p>
          <span class="subtitle">Datos del producto.</span>
        </div>
        <br>
        <div class="input_container">
          <label class="input_label" for="name_field">Nombre del Producto</label>
          <input placeholder="ProductoX" title="Input nameProduc" name="input-name" type="text" class="input_field" id="name_field">
        </div>
        <div class="input_container">
          <label class="input_label" for="categoria_field">Categoria</label>
          <input placeholder="CategoriaX" title="Input title" name="input-categoria" type="text" class="input_field" id="categoria_field">
        </div>
    
        <div class="input_container">
          <label class="input_label" for="precio_field">Precio</label>
          <input placeholder="$ 1500" title="Input title" name="input-precio" type="number" class="input_field" id="precio_field">
        </div>
        <div class="input_container">
          <label class="input_label" for="password_field">Descripción</label>
          <textarea placeholder="Descripción de producto" title="Input title" name="input-name" class="input_field input-description" id="password_field"></textarea>
        </div>
        
        <button title="Delete" type="submit"  class="sign-in_btn" (click)="showDelete()">
          Eliminar
        </button>
        <!--<button (click)="mostrar()">Aloha</button>-->
      </form>
    
    </div>
</div> 

