<div class="fondo-degradado">
    <div *ngIf="datosOrganizacion$ | async as resumenOrganizacion" >
        <h2 class="titulo">Dashboard de la organización {{resumenOrganizacion.coordinador.name}}</h2>
        <p>Descripción de la organización: {{resumenOrganizacion.coordinador.description}}</p>
        <p>Email de la organización: {{resumenOrganizacion.coordinador.email}}</p>
        <p>Dirección de la organización: {{resumenOrganizacion.coordinador.address}}</p>
        <p>Teléfono de la organización: {{resumenOrganizacion.coordinador.phone}}</p>
    </div>

    <ng-template #sinDatos>
        <div>
            <h2 class="titulo">SIN DATOS</h2>
        </div>
    </ng-template>


</div>
