

<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h2>Registro de usuario</h2>
      <mat-form-field appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput placeholder="Nombre de usuario" formControlName="username" required>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="registerForm.controls.username?.errors?.required">
          El nombre de usuario es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username?.errors?.maxlength">
          La cantidad máxima de caracteres es 15.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username?.errors?.backendErr">
          Revisá tu Usuario.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="nombre" formControlName="name" required>
        <mat-error *ngIf="registerForm.controls.name?.errors?.required">
          El nombre es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.name?.errors?.maxlength">
          La cantidad máxima de caracteres es 15.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.name?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="apellido" formControlName="lastname" required>
        <mat-error *ngIf="registerForm.controls.lastname?.errors?.required">
          El apellido es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.lastname?.errors?.maxlength">
          La cantidad máxima de caracteres es 15.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.lastname?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
      </mat-form-field>

    
      <mat-form-field appearance="outline">
        <mat-label>CUIL</mat-label>
        <input matInput placeholder="CUIL 00-00000000-00" formControlName="cuil" required>
        <mat-error *ngIf="registerForm.controls.cuil?.errors?.required">
          El CUIL es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.cuil?.errors?.maxlength">
          La cantidad máxima de caracteres es 15.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.cuil?.errors?.minlength">
          La cantidad mínima de caracteres es 13.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.cuil?.errors?.pattern">
          ingresar un cuil correcto.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <input type="email" matInput [errorStateMatcher]="matcher"
               placeholder="user@example.com" formControlName="email">
      
        <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
          Por favor, ingresar un email valido
        </mat-error>
       <mat-error *ngIf="registerForm.controls.email?.errors?.required">
          el Email es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.controls.email?.errors?.pattern">
          
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input type= "tel" matInput placeholder="Telefono" formControlName="phone_number" required>
        <mat-error *ngIf="registerForm.controls.phone_number?.errors?.required">
          El Telefono es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.phone_number?.errors?.maxlength">
          La cantidad máxima de caracteres es 30.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.phone_number?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Domicilio</mat-label>
        <input matInput placeholder="domicilio" formControlName="adress" required>
        <mat-error *ngIf="registerForm.controls.adress?.errors?.required">
          El domicilio es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.adress?.errors?.maxlength">
          La cantidad máxima de caracteres es 60.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.adress?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
      </mat-form-field>



      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        </button>
        <mat-error *ngIf="registerForm.controls.password?.errors?.required">
          La contraseña es requerida.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password?.errors?.maxlength">
          La cantidad máxima de caracteres es 60.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        
        <button mat-raised-button color="primary">Register</button>
      </mat-card-actions>
    </form>
    <button mat-raised-button color="secondary" [routerLink]="['/auth/login']">Cancel</button>
  </mat-card-content>
</mat-card> 

