<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="registerForm" (onSubmit)="register()">
      <h2>Registrar</h2>
      <mat-form-field class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" formControlName="username" />
        <mat-error *ngIf="registerForm.controls.username?.errors?.required">
          El nombre de usuario es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username?.errors?.maxlength">
          La cantidad máxima de caracteres es 255.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password" />
        <mat-error *ngIf="registerForm.controls.password?.errors?.required">
          El password es requerido.
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password?.errors?.pattern">
          El password debe contener 5 carecteres como mínimo y al menos una letra minuscula, una letra mayuscula, un número y un caracter especial.
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <a mat-raised-button routerLink="/auth/login">Cancel</a>
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Registrar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
