<body>
    <div class="formationsInput">
        <form [formGroup]="languageForm" (ngSubmit)="languageAdd()">
            <mat-form-field>
                <mat-label for="company">Idioma:</mat-label>
                <input matInput formControlName="language" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="position">Nivel:</mat-label>
                <input matInput formControlName="level" type="number">
            </mat-form-field>
            <div class="botonera">
                <div class="botones">
                    <div class="addExperience">
                        <button type="submit" mat-mini-fab color="primary">
                            <mat-icon>plus_one</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="lista">
            <ul>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Elemento 1</h5>
                            <p class="card-text">Aca se carga la lista de experiencias, formaciones..etc</p>
                            <button mat-raised-button color="primary">Editar</button>
                            <button mat-raised-button color="warn">Eliminar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>