<div class="flex items-center justify-between pt-6">
    <h1 class="font-lobster text-white text-[40px]">Turisticapp</h1>
    <button (click)="openLogoutModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
            <path d="M9 12h12l-3 -3" />
            <path d="M18 15l3 -3" />
          </svg>
    </button>
</div>
<app-logout-modal
    class="fixed top-0 left-0 flex items-center justify-center w-screen min-h-screen"
    *ngIf="isLogoutModalOpen"
    (closeModal)="closeLogoutModal($event)"
    (logoutConfirmed)="logout($event)"
></app-logout-modal>