.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

}
.card-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-container{
    width: 320px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px auto;
   
    
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.card-content p{
    width: 100%;
    white-space: normal ;
    overflow-wrap: break-word;
}

.card-actions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    width: 20ex;
    white-space: normal;
    overflow-wrap: break-word;
}


.inscriptos span{
    font-size: 16px;
    font-weight: 500;

}

button{
    font-size: 12px;
    margin: 10px 15px;
    
}

.boton-inscripto{
    background-color: #13c92b;
    cursor: auto;
}

.puntos{
    font-size: 24px;
    font-weight: 500;
    color: #ff4081;
    
}


@media (min-width:700px) {
    
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }

    .card-container{
        margin: 20px 20px;
       
        
    }
}

@media (min-width:1000px) {
    
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
    }
}