<!--<p>register-users works!</p>-->

<form class="form_container" [formGroup]="myForm" (ngSubmit)="registrarUs()" >
    <div class="title_container">
        <p class="title">ABC Muebleria</p>
        <span class="title">Registro de Usuario </span>
    </div>
    <div class="title_container_left">
        <span class="subtitle">Datos del usuario </span>
    </div>
 
    <hr>
    <div class="input_container">
        <label class="input_label" for="name_field">
            Nombre de Usuario 
        </label>
        
        <input placeholder="Nombre de Usuario" title="Nombre de Usuario" name="input-name-us" type="text" class="input_field"  formControlName="nombreUs">
        <p class="errorInput" *ngIf="myForm.get('nombreUs')?.touched && myForm.get('nombreUs')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="name_field">
            Nombre 
        </label>
        
        <input placeholder="Nombres" title="Nombre" name="input-name-us" type="text" class="input_field"  formControlName="nombreCompleto">
        <p class="errorInput" *ngIf="myForm.get('nombreCompleto')?.touched && myForm.get('nombreCompleto')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="name_field">
            Apellido 
        </label>
        
        <input placeholder="Apellido" title="Apellido" name="input-name-us" type="text" class="input_field"  formControlName="apellidoCompleto">
        <p class="errorInput" *ngIf="myForm.get('apellidoCompleto')?.touched && myForm.get('apellidoCompleto')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="name_field">
            Email 
        </label>
        
        <input placeholder="Email" title="Email" name="input-name-us" type="email" class="input_field" formControlName="emailUs">
        <p class="errorInput" *ngIf="myForm.get('emailUs')?.touched && myForm.get('emailUs')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="name_field">Contraseña</label>
        <input placeholder="Contraseña" title="Contraseña" name="input-password" type="password" class="input_field" formControlName="passwordUs">
        <p class="errorInput" *ngIf="myForm.get('passwordUs')?.touched && myForm.get('passwordUs')?.hasError('required')">Campo Obligatorio</p>
        
    </div>
    <button type="submit" class="sign-in_btn" [disabled]="myForm.invalid" >
        <span>Registrarme</span>
    </button>
</form>


