<article
  class="w-full flex flex-col items-center justify-center shadow shadow-lightGray p-4 gap-4 rounded-lg sm:flex-row lg:p-6"
>
  <figure class="w-[100px] sm:w-[200px]">
    <img
      src="/assets/logotypes_organizations/orgOne.svg"
      alt=""
      class="w-full h-full object-contain"
    />
  </figure>
  <div
    class="w-full flex flex-col items-center justify-center text-center gap-2 border-b border-b-lightGray sm:border-b-0 sm:text-start sm:items-start sm:pl-8"
  >
    <h3 class="font-semibold xl:text-xl">
      Se necesitan tutores para apoyo escolar
    </h3>
    <div class="sm:flex items-center justify-center text-center gap-4">
      <span
        class="bg-darkSlateBlue text-white py-1 px-2 rounded-lg text-xs uppercase"
        >A DISTANCIA</span
      >
      <div
        class="flex items-center justify-center gap-2 mt-2 sm:mt-0 lg:text-lg"
      >
        <p>Córdoba Capital</p>
        <div class="h-[1em] w-[1px] bg-lightGray rounded-lg"></div>
        <p>A Tiempo Parcial</p>
      </div>
    </div>
    <p class="text-sm text-lightGray pb-2">Publicado hace 1 minuto</p>
  </div>
  <div
    class="flex items-center justify-center gap-12 sm:flex-col sm:w-[20%] sm:border-l sm:border-l-lightGray sm:gap-4 lg:text-lg"
  >
    <button>Aplicar</button>
    <div
      class="h-[2em] w-[1px] bg-lightGray rounded-lg sm:w-[80%] sm:h-[1px]"
    ></div>
    <button>Ver más</button>
  </div>
</article>
