<div class="flex flex-col items-center justify-center w-full min-h-screen bg-black/70">
    <div class="flex flex-col items-center justify-center gap-y-5 px-8 py-14 bg-[#d9d9d9] rounded-md">
        <p class="text-lg">¿Estás seguro que quieres cerrar sesión?</p>
        <div class="flex gap-x-6">
            <button 
                class="py-6 text-lg font-bold text-white bg-green-600 rounded-md px-7"
                (click)="confirmedLogout()"
            >Sí
            </button>

            <button 
                class="py-6 text-lg font-bold text-white bg-red-600 rounded-md px-7"
                (click)="cancelLogout()"
            > No
            </button>
        </div>
    </div>
</div>