<section class="p-5 page-section bg-light" id="team">
  <div class="container">
    <div class="text-center" style="padding-bottom: 3%;">
      <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>
          <img class="rounded-circle img-fluid" src="assets/images/team/1.jpg" alt="..."
            style="height: 200px; width: 200px;" />
          <h4>Rony</h4>
          <p class="text-muted">Desarrollador Web</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-dark" routerLink="/quienes-somos/1">Ver Perfil</a>




          <a class="nav-link" routerLink="/dashboard">Home</a>


          <a class="nav-link active" routerLink="/catalogo-cursos">Nuestros cursos</a>


          <a class="nav-link" routerLink="/quienes-somos/1">¿Quiénes somos?</a>


          <a class="nav-link">Registrarse</a>


          <a class="nav-link">Iniciar sesión</a>


        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img class="rounded-circle img-fluid" src="assets/images/team/2.jpg" alt="..."
            style="height: 200px; width: 200px;" />
          <h4>Mariano</h4>
          <p class="text-muted">Desarrolladora Web</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-dark" routerLink="/quienes-somos/3">Ver Perfil</a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div>
          <img class="rounded-circle img-fluid" src="assets/images/team/3.jpg" alt="..."
            style="height: 200px; width: 200px;" />
          <h4>Jorgelina</h4>
          <p class="text-muted">Diseñador Gráfico</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-dark" routerLink="/quienes-somos/3">Ver Perfil</a>
        </div>
      </div>
    </div>
  </div>
</section>