<div class="image-area">
  <div class="img-wrapper">
      <img src="assets/images/team/1.jpg" alt="Rony">
      <h2><a routerLink="/quienes-somos/1" class="team-link">Rony</a></h2>
      <p>Desarrollador Web</p>
      <ul class="social-links">
        <li><a href="https://github.com/ronymari" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100090675751191" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/in/rony-mari-/" target="_blank"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
      </ul>
  </div>

  <div class="img-wrapper">
      <img src="assets/images/team/2.jpg" alt="Mariano">
      <h2><a routerLink="/quienes-somos/2" class="team-link">Mariano</a></h2>
      <p>Desarrollador Web</p>
      <ul class="social-links">
          <li><a href="#!" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="#!" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#!" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
  </div>
  <div class="img-wrapper">
      <img src="assets/images/team/3.jpg" alt="Jorgelina">
      <h2><a routerLink="/quienes-somos/3" class="team-link">Jorgelina</a></h2>
      <p>Diseñador Web</p>
      <ul class="social-links">
          <li><a href="https://github.com/JorBaez" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/jor.baez" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jorgelinabaez/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
  </div>
  <div class="img-wrapper">
    <img src="assets/images/team/4.jpg" alt="Eduardo">
    <h2><a routerLink="/quienes-somos/4" class="team-link">Eduardo</a></h2>
    <p>Diseñador Web</p>
    <ul class="social-links">
        <li><a href="https://github.com/Eduardo-Villella" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="#!" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#!" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
</div>
<div class="img-wrapper">
  <img src="assets/images/team/5.jpg" alt="Melisa">
  <h2><a routerLink="/quienes-somos/5" class="team-link">Melisa</a></h2>
  <p>Diseñador Web</p>
  <ul class="social-links">
      <li><a href="https://github.com/melisaapaz" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.facebook.com/melisa.apaz" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://www.linkedin.com/in/melisa-apaz-22b90652/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  </ul>
</div>
<div class="img-wrapper">
  <img src="assets/images/team/6.jpg" alt="Juanjo">
  <h2><a routerLink="/quienes-somos/6" class="team-link">Juanjo</a></h2>
  <p>Diseñador Web</p>
  <ul class="social-links">
      <li><a href="https://github.com/diazjuanjo" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#!" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#!" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  </ul>
</div>
<div class="img-wrapper">
      <img src="assets/images/team/7.jpg" alt="Alejandra">
      <h2><a routerLink="/quienes-somos/7" class="team-link">Alejandra</a></h2>
      <p>Diseñador Web</p>
      <ul class="social-links">
          <li><a href="https://github.com/Marialer27" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100087712833506&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#!" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
  </div>
</div>
