<div class="image-area">
  <div class="img-wrapper">
      <img src="assets/images/team/1.jpg" alt="Rony">
      <h2><a routerLink="/quienes-somos/1" class="team-link">Rony</a></h2>
      <p>Desarrollador Web</p>
      <ul class="social-links">
        <li><a href="https://github.com/ronymari" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100090675751191" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/in/rony-mari-/" target="_blank"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
      </ul>
  </div>

  <div class="img-wrapper">
      <img src="assets/images/team/2.jpg" alt="Mariano">
      <h2><a routerLink="/quienes-somos/2" class="team-link">Mariano</a></h2>
      <p>Desarrollador Web</p>
      <ul class="social-links">
          <li><a href="#!" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="#!" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#!" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
  </div>
  <div class="img-wrapper">
      <img src="assets/images/team/3.jpg" alt="Jorgelina">
      <h2><a routerLink="/quienes-somos/3" class="team-link">Jorgelina</a></h2>
      <p>Diseñador Web</p>
      <ul class="social-links">
          <li><a href="https://github.com/JorBaez" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/jor.baez" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="www.linkedin.com/in/jorgelinabaez" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
  </div>
</div>
