<div class="row mt-3 offset-lg-2">
  <div class="card text-white mb-3" style="max-width: 50rem; background-color: var(--colorBlue);">
    <div class="card-header text-center">Editar curso</div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="add()">
        <label class="form-label">Nombre</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Ingrese Nombre"
        />
        <span
          *ngIf="
            form.get('name')?.hasError('required') &&
            form.get('name')?.touched
          "
        >
          El campo nombre es <strong>requerido</strong>
        </span>
        <label class="form-label">description</label>
        <input
          formControlName="description"
          type="text"
          class="form-control mt-2"
          placeholder="Ingrese descripcion"
        />
        <span
          *ngIf="
            form.get('description')?.hasError('required') &&
            form.get('description')?.touched
          "
        >
          El campo descripcion es <strong>requerido</strong>
        </span>
        <label class="form-label">image</label>
        <input
          formControlName="image"
          type="text"
          class="form-control mt-2"
          placeholder="Ingrese imagen"
        />
        <span
          *ngIf="
            form.get('image')?.hasError('required') &&
            form.get('image')?.touched
          "
        >
          El campo descripcion es <strong>requerido</strong>
        </span>
        <label class="form-label">maxStudents</label>
        <input
          formControlName="maxStudents"
          type="number"
          class="form-control mt-2"
          placeholder="Ingrese maximo de estudiantes"
        />
        <span
          *ngIf="
            form.get('maxStudents')?.hasError('required') &&
            form.get('maxStudents')?.touched
          "
        >
          El campo descripcion es <strong>requerido</strong>
        </span>
        <label class="form-label">start</label>
        <input
          formControlName="start"
          type="text"
          class="form-control mt-2"
          placeholder="Ingrese fecha de inicio"
        />
        <span
          *ngIf="
            form.get('start')?.hasError('required') &&
            form.get('start')?.touched
          "
        >
          El campo descripcion es <strong>requerido</strong>
        </span>
        <label class="form-label">end</label>
        <input
          formControlName="end"
          type="text"
          class="form-control mt-2"
          placeholder="Ingrese fecha de finalizacion"
        />
        <span
          *ngIf="
            form.get('end')?.hasError('required') && form.get('end')?.touched
          "
        >
          El campo descripcion es <strong>requerido</strong>
        </span>
        <label class="form-label">price</label>
        <input
          formControlName="price"
          type="number"
          class="form-control mt-2"
          placeholder="Ingrese el precio"
        />
        <span
          *ngIf="
            form.get('price')?.hasError('required') &&
            form.get('price')?.touched
          "
        >
          El campo descripcion es <strong>requerido</strong>
        </span>
        <label class="form-label">Requisitos</label>
        <input
          formControlName="requirement"
          type="text"
          class="form-control mt-2"
          placeholder="Ingrese los requerimientos"
        />
        <span
          *ngIf="
            form.get('requirement')?.hasError('required') &&
            form.get('requirement')?.touched
          "
        >
          El campo Requisitos es <strong>requerido</strong>
        </span>

        <label class="form-label">Profesor</label>
        <input
          formControlName="teacher"
          type="text"
          class="form-control mt-2"
          placeholder="Ingrese los requerimientos"
        />
        <span
          *ngIf="
            form.get('teacher')?.hasError('required') &&
            form.get('teacher')?.touched
          "
        >
          El campo Profesor es <strong>requerido</strong>
        </span>

        <label class="form-label">Nombre de la categoria</label>
        <select
          formControlName="CourseCategoryName"
          name="CourseCategoryName"
          class="form-control"
        >

          <option value="">Selecciona una categoría</option>
          <option *ngFor="let category of categories" [value]="category.name">
            <h1>{{ category.name }}</h1>
          </option>
        </select>
        <span
          *ngIf="
            form.get('CourseCategoryName')?.hasError('required') &&
            form.get('CourseCategoryName')?.touched
          "
        >
          El campo Nombre de la categoria es <strong>requerido</strong>
        </span>
        <input
          formControlName="active"
          type="checkbox"
          class="form-check-input mt-2"
          placeholder="Ingrese si se encuentra activo"
        />
        <label class="form-label p-1"> Esta activo el curso?</label>

        <div class="row mt-2 text-center">
          <div class="col-lg-6">
            <button class="boton" routerLink="/admin/panel/courses">Volver</button>

          </div>
          <div class="col-lg-6">
            <button
              [disabled]="form.invalid"
              type="submit"
              class="boton"
            >
              Aceptar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

