.formulario {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.campo {
  margin-bottom: 5px;
}

.campo label {
  display: block; 
  margin-bottom: 5px; 
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* columnas */
.row {
  display: flex;
  justify-content: space-between;
}

.media_columna {
  flex-direction: column;
  align-items: flex-start; 
  flex-basis: 48%;
}

.media_columna .categorias,
.media_columna .campo {
  width: 100%;
  max-width: 100%; 
  margin-bottom: 10px; 
}


/* botones  */
.formulario .subir-boton {
  background-color: #e6b68b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; 
}

.formulario .subir-boton:hover {
  background-color: #e6b68b;
}



.botones-container {
  text-align: center; 
}


.subir-boton {
  background-color: #e6b68b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block; 
  margin-top: 10px; 
}


/* mensaje */
.mensaje {
  margin-top: 10px; 
}




/*  imágenes */

.imagenes-container {
  margin-top: 20px;
  max-width: 100%; 
  overflow: auto; 
}

.imagenes {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: center; 
  align-items: center;
}

.imagen {
  flex-basis: calc(33.33% - 10px); 
  max-width: 100%; 
  border: 2px solid #ccc; 
  box-sizing: border-box; 
}


.imagen img {
  width: 100%; 
  height: auto;
}

/*  $ */
.precio-input {
  display: flex; 
  align-items: center; 
}

.peso-sign {
  margin-right: 5px; 
}

