<app-barra></app-barra>
<div class="formulario">

    <h2>Carga de Producto</h2>

    <form action="#" method="post">
        <div class="categoria">
            <select name="localidad">
                <option value="0">Seleccione Categoria</option>
                <option value="1">Mesas</option>
                <option value="1">Sillas</option>
                <option value="1">Vajilla</option>
                <option value="1">Decorado</option>
            </select>
            <div class="select_arrow"></div>
        </div>

        <div class="campo">
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
    
        <div class="campo">
            <label for="descripcion">Descripción del Producto:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
        </div>

  
        <div class="campo">
            <label for="precio">Precio del Producto:</label>
            <div class="precio-input">
                <span class="peso-sign">$</span> <!-- Deberia ir abajo pero queda feo-->
                 <input type="number" id="precio" name="precio" step="1.00" required>
            </div>
        </div>

        <div class="campo">
            <label for="imagenes">Cargar Imágenes del Producto:</label>
            <input type="file" id="imagenes" (change)="onFileSelected($event)" accept="image/*" multiple />
            <label class="subir-boton" for="imagenes">Seleccionar Imágenes</label>
        </div>

        <div class="campo">
            <label for="envio">Opción de Envío:</label>
            <select id="envio" name="envio" required>
                <option value="envio-gratis">Envío Gratis</option>
                <option value="envio-rapido">Envío Rápido</option>
                <option value="envio-estandar">Envío Estándar</option>
            </select>
        </div>

   
        <div class="campo">
            <label for="cantidad">Cantidad por Docena:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" required>
        </div>

      
        <div class="campo">
            <button class="subir-boton" type="submit">Subir Producto</button>
        </div>
    </form>

        <div class="imagen" *ngFor="let image of uploadedImages">
            <img [src]="image" alt="Imagen cargada" />
        </div>

</div>
