.login{
    background-color: orange;
    transition: 0.5s;
    color: white;
    border-radius: 10px;
    size: 32px;
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    float: right;
}

.form-style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    background-color: white;
}

.h1{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
}