<article
  class="w-full flex flex-col items-center justify-center shadow-md shadow-lightGray lg:items-start lg:w-[400px]"
>
  <div class="hidden lg:flex flex-col lg:w-full text-start">
    <h3
      class="flex text-start items-center justify-start pl-6 gap-2 cursor-pointer lg:text-lg lg:pb-2"
    >
      Filtros <i class="bx bx-filter text-xl"></i>
    </h3>
    <mat-divider></mat-divider>
  </div>

  <div class="hidden lg:flex lg:w-full">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ubicación </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Cargando...</p>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Categoría </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex flex-col">
          <mat-checkbox class="example-margin" (change)="getAllVolunteerings()"
            >Todas.</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            *ngFor="let checkbox of category"
            (change)="onChangeCategory(checkbox.key, checkbox.value)"
          >
            {{ checkbox.label }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>

      <mat-divider></mat-divider>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Modalidad </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex flex-col">
          <mat-checkbox class="example-margin" (change)="getAllVolunteerings()"
            >Todas.</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            *ngFor="let checkbox of modeOfwork"
            (change)="onChangeModeWord(checkbox.key, checkbox.value)"
          >
            {{ checkbox.label }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>

      <mat-divider></mat-divider>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Organizaciones/Fundaciones </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex flex-col">
          <mat-checkbox class="example-margin" (change)="getAllVolunteerings()"
            >Todas.</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            *ngFor="let checkbox of dataOrganizations"
            (change)="onChangeOrgByName('name', checkbox.name)"
          >
            {{ checkbox.name }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>

      <mat-divider></mat-divider>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Fecha de publicación </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex flex-col">
          <mat-checkbox class="example-margin">Todas.</mat-checkbox>
          <mat-checkbox
            class="example-margin"
            *ngFor="let checkbox of publicationDate"
            (change)="onChangeDate(checkbox.key, checkbox.value)"
          >
            {{ checkbox.label }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="lg:hidden">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3
              class="flex text-start items-center justify-start pl-6 gap-2 cursor-pointer"
            >
              Filtros <i class="bx bx-filter text-xl"></i>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Ubicación </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Cargando...</p>
        </mat-expansion-panel>
        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Categoría </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="flex flex-col">
            <mat-checkbox class="example-margin">Todas.</mat-checkbox>

            <mat-checkbox class="example-margin"
              >Medio Ambiente y Fauna.</mat-checkbox
            >
            <mat-checkbox class="example-margin"
              >Asistencia Social.</mat-checkbox
            >
            <mat-checkbox class="example-margin"
              >Salud y Discapacidad.</mat-checkbox
            >
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Modalidad </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col">
            <mat-checkbox class="example-margin">Todas.</mat-checkbox>

            <mat-checkbox class="example-margin">Presencial.</mat-checkbox>
            <mat-checkbox class="example-margin">Hibrido.</mat-checkbox>
            <mat-checkbox class="example-margin">Remoto.</mat-checkbox>
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Organizaciones/Fundaciones </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col">
            <mat-checkbox class="example-margin">Todas.</mat-checkbox>
            <mat-checkbox class="example-margin"
              >Asociación Civil Manos Abiertas.</mat-checkbox
            >
            <mat-checkbox class="example-margin"
              >Banco de Alimentos Córdoba.</mat-checkbox
            >
            <mat-checkbox class="example-margin"
              >Caritas Argentina.</mat-checkbox
            >
            <mat-checkbox class="example-margin"
              >Cruz Roja Argentina.</mat-checkbox
            >
            <mat-checkbox class="example-margin">Fundación Sí.</mat-checkbox>
            <mat-checkbox class="example-margin">Greenpeace.</mat-checkbox>
            <mat-checkbox class="example-margin">Techo.</mat-checkbox>
            <mat-checkbox class="example-margin">Voluntarios UNC.</mat-checkbox>
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Fecha de publicación </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col">
            <mat-checkbox class="example-margin">Todas.</mat-checkbox>
            <mat-checkbox class="example-margin"
              >En las últimas 24 horas.</mat-checkbox
            >
            <mat-checkbox class="example-margin"
              >La semana pasada.</mat-checkbox
            >
            <mat-checkbox class="example-margin">El mes pasado.</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</article>
