<main class="container porduct-Card">
    <section class="productCard-img">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        viewBox="0 -960 960 960"
        width="48"
      >
        <path
          d="M450-80v-520H80l400-280 400 280H510v520h-60Zm30-580h210-420 210ZM120-80v-211L88-466l58-10 32 166h162v230h-60v-170H180v170h-60Zm500 0v-230h162l32-166 58 10-32 175v211h-60v-170H680v170h-60ZM270-660h420L480-807 270-660Z"
        />
      </svg>
    </section>
    <section class="productCard-dates">
      <h3 class="title">{{product?.name}}</h3>
      <div class="productCard-dates-items category">
        <span>Categoria:</span>
        <span>{{ product?.categoria }}</span>
      </div>
      <div class="productCard-dates-items material">
        <span>Material:</span>
        <span>{{ product?.tipoMaterial }}</span>
      </div>
      <div class="productCard-dates-items price">
        <span>Precio:</span>
        <span>{{ product?.price | currency:'ARS':'$ ' }}</span>
      </div>
      <div class="productCard-dates-items stocks">
        <span>Stocks:</span>
        <span>{{ product?.quantity }}</span>
      </div>
      <article class="description">
        <span class="productCard-dates-items ">Descripcíon:</span>
        <p>
          {{ product?.description }}
        </p>
      </article>
      <div class="buttons">
        <button class="button-submit" type="submit">Modificar</button>
        <button class="button-submit" type="submit">Eliminar</button>
      </div>
    </section>
  </main>
  
  


