<nav class="navbar">
    <mat-icon class="icono-menu" (click)="sideNav.toggle()">menu</mat-icon>
    <p class="logo icono-menu" (click)="redireccionarA('/')">CLUB DE HORAS</p>
</nav>

<mat-sidenav-container >
    <mat-sidenav #sideNav mode="over" >
        <mat-nav-list >
            <a mat-list-item class="icono-menu" (click)="redireccionarA('/')" >Inicio</a>
        </mat-nav-list>
        <div *ngIf="(credencialesOrganizacion$|async) === null && (credencialesVoluntario$|async) === null && (credencialesAdmin$|async) === null;else sesionIniciada">
            
            <mat-nav-list >
                <a mat-list-item class="icono-menu" (click)="irLoginVoluntarios()" >Login Voluntarios</a>
            </mat-nav-list>
            <mat-nav-list  >
                <a mat-list-item class="icono-menu" (click)="irLoginOrganizaciones()" >Login Organizaciones</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item class="icono-menu" (click)="redireccionarA('/index/registro-voluntario')">Registro Voluntarios</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item class="icono-menu" (click)="redireccionarA('/index/registro-organizacion')">Registro Organizaciones</a>
            </mat-nav-list>
          
            
        </div>

        <ng-template #sesionIniciada>
            <mat-nav-list *ngIf="(credencialesOrganizacion$|async) !== null" >
                <a mat-list-item class="icono-menu" (click)="redireccionarA('/organizaciones')" >Dashboard</a>
            </mat-nav-list>
            
            <mat-nav-list *ngIf="(credencialesVoluntario$|async)!== null ">
                <a mat-list-item class="icono-menu" (click)="redireccionarA('/voluntarios')" >Dashboard</a>
            </mat-nav-list>

            <mat-nav-list *ngIf="(credencialesAdmin$|async)!== null">
                <a mat-list-item class="icono-menu" (click)="redireccionarA('/admin')" >Dashboard</a>
            </mat-nav-list>
            
        </ng-template>
        <mat-nav-list>
            <a mat-list-item class="icono-menu" (click)="sideNav.toggle()" >Cerrar </a>
          </mat-nav-list>
        
    </mat-sidenav>

   
            <router-outlet></router-outlet>
        
  </mat-sidenav-container>