.header {
    background-color: white;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .body {
    min-height: 60vh;
    background-color: #571d81;
    color: #0ded1c;
    padding: 50px;
    text-align: center;
  }
  .contenedorForm {
    margin: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00ced1;
  }
  .showregisterform {
    background-color: #00ced1;
    margin: 20px 0;
    border-radius: 5px;
  }
  .header button {
    background-color: transparent;
    border: 2px solid #040000;
    color: #f7f711;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .hidden {
    display: none;
  }
    .register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #00ced1;
    border-radius: 40px;
    background-color: #f4f4f4;
  }
  .contenedorAnswer {
    min-height: 67vh;
    background-color: #0bf439;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
  }
  .showregisterAnswer {
    background-color: #0bf439;
    border-radius: 5px;
  }