<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">Jesus Maria Boilerplate</button>
    <button mat-button routerLink="/profile"><mat-icon>person</mat-icon></button>
    <button mat-button routerLink="/dog"><mat-icon>pets</mat-icon></button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
