<div>
    <h1 class="text-center">Nuestros Cursos</h1>
</div>


<div class="card-container botones">
    <p-splitButton label="Categoria" styleClass="p-button-raised p-button-text p-button-secondary" icon="pi pi-plus"></p-splitButton>
    <p-button label="Buscar" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
</div>


<div class="card-container">
    <div class="flex justify-content-evenly flex-wrap card-container">
        <p-card [style]="{ width: '360px' }" class="flex justify-content-center font-bold text-white border-round m-2">
            <div class="card__content">
                <h2>
                    title
                </h2>
                <p>
                    description
                </p>

                <h3>
                    price
                </h3>
                <p>
                    Hasta 6 cuotas sin interés de <span class="card__price--bold">$1200</span>
                </p>
                <p class="card__starter mb-3">
                    fecha de inicio: date
                </p>
                <footer class="flex flex-column justify-content-center footer">
                    <p-button label="Ver detalle del curso"
                        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
                    <p-button label="Inscribite" icon="pi pi-times"
                        styleClass="p-button-raised p-button-text p-button-secondary"
                        [style]="{ 'margin-left': '.5em' }"></p-button>
                </footer>
            </div>
        </p-card>
    </div>
</div>