@use '../../../../scss/utilities/barrel' as *;

div{
    top: 50em;
}

.botones input{
    text-align: center;
    padding: 0.5em;
}

@media screen and (min-width: $large) {

    .card {

        max-width: toEm(425px);

        .card__content {

            max-width: toEm(425px);

            .footer {

                &__button--info {

                    max-width: toEm(425px);

                }

                &__button--apply {

                    max-width: toEm(425px);

                }

            }


        }

    }

}