@use '../../../../scss/utilities/barrel' as *;

div {
    top: 50em;
}

.botones input {
    text-align: center;
    padding: 0.5em;
}

.result-label {
    height: 3em;
    background-color: #9b9c9c;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.result-label-dos {
    height: 100vw;
    background-color: #ffffff;
}
@media screen and (min-width: $large) {

    .card {

        max-width: toEm(425px);

        .card__content {

            max-width: toEm(425px);

            .footer {

                &__button--info {

                    max-width: toEm(425px);

                }

                &__button--apply {

                    max-width: toEm(425px);

                }

            }


        }

    }

}