<div>
    <h1 class="text-center">Nuestros Cursos</h1>
</div>
<p class="parrafo__courses text-center">
    Potencia tu aprendizaje con nuestros cursos dinámicos y adquiere habilidades claves para
    destacar en tu carrera profesional
</p>
<p-divider></p-divider>

<div class="card-container botones flex justify-content-evenly buttons">
    <p-splitButton class="flex align-items-center" label="Categoria" styleClass="p-button-raised p-button-text p-button-secondary" icon="pi pi-plus"></p-splitButton>
    <p-button  class="flex  align-items-center" label="Buscar" styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
</div>

<div  class="flex justify-content-center flex-wrap">
<div class="card-container">
    <div class="card-container flex align-items-center justify-content-center">
        <p-card [style]="{ width: '360px' }" class=" font-bold text-white border-round m-2">
            <div >
                <h2>
                    <!-- {{ courses.title }} -->
                </h2>
                <p>
                    <!-- {{ courses.description }} -->
                </p>
                <p-divider></p-divider>
                <h3>
                    <!-- {{courses.price | currency}} -->
                </h3>
                <p>
                    Hasta 6 cuotas sin interés de <span class="card__price--bold">$1200</span>
                </p>
                <p class="card__starter mb-3">
                    <!-- fecha de inicio: {{ courses.starter_date }} -->
                </p>
                <p-divider></p-divider>
                <footer class="flex flex-column justify-content-center footer">
                    <p-button label="Ver detalle del curso" class="flex justify-content-center"
                        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
                    <p-button label="Inscribite" icon="pi pi-times" class="flex justify-content-center buttons"
                        styleClass="p-button-raised p-button-text p-button-secondary"
                        [style]="{ 'margin-left': '.5em' }"></p-button>
                </footer>
            </div>
        </p-card>
    </div>
</div>
</div>