<article class="mt-16 w-full flex flex-col px-4">
  <div class="w-full flex flex-col shadow-lg p-2 bg-white">
    <h2 class="text-2xl font-bold">Tus datos</h2>
    <ul class="mt-4" *ngIf="!editData">
      <li>{{ fullName }}</li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
    </ul>
    <form class="w-full mt-4 flex flex-col gap-2" *ngIf="editData">
      <div class="w-full flex flex-col text-start gap-1">
        <label id="full_name">Nombre Completo</label>
        <input
          id="full_name"
          name="fullName"
          type="text"
          [value]="fullName"
          (input)="captureData('fullName', $event)"
          class="pl-2 border border-lightGray outline-none rounded-md"
        />
      </div>
      <div class="w-full flex flex-col text-start gap-1">
        <label id="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          [value]="email"
          (input)="captureData('email', $event)"
          class="pl-2 border border-lightGray outline-none rounded-md"
        />
      </div>
      <div class="w-full flex flex-col text-start gap-1">
        <label id="phone">Telefono</label>
        <input
          id="phone"
          name="phone"
          type="text"
          [value]="phone"
          (input)="captureData('phone', $event)"
          class="pl-2 border border-lightGray outline-none rounded-md"
        />
      </div>
      <div class="w-full flex flex-col text-start gap-1">
        <label id="password">Contraseña</label>
        <input
          id="password"
          name="password"
          type="password"
          [value]="password"
          (input)="captureData('password', $event)"
          class="pl-2 border border-lightGray outline-none rounded-md"
        />
      </div>
      <button
        (click)="saveDataProfile()"
        class="bg-darkSlateBlue text-white py-1 rounded-md mt-4 text-xl font-semibold"
      >
        Guardar
      </button>
    </form>
    <button
      *ngIf="!editData"
      (click)="activeEditProfile()"
      class="bg-darkSlateBlue text-white py-1 rounded-md mt-4 text-xl font-semibold"
    >
      Editar perfil
    </button>
  </div>
</article>
