<div class="categorias">
    <div class="dropdown">
      <img src="assets/iconousuario.png" data-bs-toggle="dropdown">      
      <div class="dropdown-menu">
        <p>Iniciar sesión</p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Usuario">
            <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        <a class="registrarse" >
            <p routerLink="/registro">¿No tienes una cuenta?</p>
            <p id="prueba" routerLink="/registro">Regístrate</p>
        </a>
      </div>
    </div>
  </div>