<main>
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Últimas Novedades</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <app-publicacion></app-publicacion>
            <app-publicacion></app-publicacion>
            <app-publicacion></app-publicacion>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container px-4" id="custom-cards">
        <h2 class="pb-2 border-bottom">Cursos Disponibles</h2>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <app-curso></app-curso>
                <app-curso></app-curso>
                <app-curso></app-curso>
                <app-curso></app-curso>
                <app-curso></app-curso>
                <app-curso></app-curso>
              </div>
            </div>
          </div>
    </div>
</main>
