PORT=4001
APP=academy
CORS=http://localhost:4200
DB_DATABASE=academyinnoc
DB_DIALECT=mysql
DB_HOST=127.0.0.1 
DB_PASSWORD=root
DB_PORT=3306
DB_USERNAME=root 
ENVIRONMENT=development 
LOG_LEVEL=debug 
SESSION_SECRET=secret
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=3f9c45e86a000b
SMTP_PASS=109a2dce09f36a