{
    "extends": "airbnb-base",
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "rules": {
      "linebreak-style": "off", // Desactivar la regla linebreak-style
      "no-param-reassign": [
        2,
        {
          "props": false
        }
      ],
      "quotes": "off"
    }
  }
  