<article class="exchange-container w-full h-screen flex justify-center items-center">
  <div class="sidebar grid place-items-center w-[10%] h-[100%] text-white text-5xl">
    <p>Catálogo de Canjes</p>
  </div>
  <div class="content w-[90%] h-full bg-[#d9d4e6] p-12">
    <p class="text-3xl font-semibold mb-[30px]">Más recomendados</p>
    <div class="cards inline-flex flex-wrap justify-center mb-[30px]">
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/products/vaso termico.png" alt="Producto" class="h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Vaso Termico</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/products/mochila.png" alt="Producto" class="h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Mochila</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 3</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 4</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 5</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 6</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 7</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 8</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 9</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 w-[220px] h-[280px] rounded-lg bg-white overflow-hidden shadow">
        <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="w-[300px] h-[150px]">
      <div class="flex flex-col justify-center items-center py-4">
        <p class="font-semibold">Nombre Producto 10</p>
        <p class="text-deepPink font-medium  ">10 puntos</p>
      </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
    </div>
  </div>
</article>
