<article class="exchange-container w-full h-screen flex justify-center items-center">
  <div class="sidebar grid place-items-center w-[10%] h-[100%] text-white">
    <p class="title">Catálogo de Canjes</p>
  </div>
  <div class="content relative w-[90%] h-full bg-[#d9d4e6] overflow-hidden overflow-y-auto">
    <p class="rewards font-bold">Recompensas por tu compromiso</p>
    <div class="flex justify-between">
      <p class="recommended text-3xl font-semibold mb-[10px]">Más recomendados</p>
    </div>
    <div class="cards inline-flex flex-wrap justify-center">
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow"
        *ngFor="let product of products">
        <div class="image">
          <img [src]="product.imagePath" alt="Producto" class="h-full">
        </div>
        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">{{ product.name }}</p>
          <p class="text-deepPink font-medium">{{ product.points }} puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white" (click)="openModal()">Canjear</button>
      </div>
    </div>
    <app-register-login-exchange-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()"
      class="modal-exchange"></app-register-login-exchange-modal>
  </div>
</article>
