<article class="exchange-container w-full h-screen flex justify-center items-center">
  <div class="sidebar grid place-items-center w-[10%] h-[100%] text-white">
    <p class="title">Catálogo de Canjes</p>
  </div>
  <div class="content w-[90%] h-full bg-[#d9d4e6] overflow-hidden overflow-y-auto">
    <p class="rewards font-bold">Recompensas por tu compromiso</p>
    <div class="flex justify-between">
    <p class="recommended text-3xl font-semibold mb-[10px]">Más recomendados</p>
    <a href="/exchange">
    <button class="">Ver más</button>
    </a>
    </div>
    <div class="cards inline-flex flex-wrap justify-center">
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/products/vaso termico.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Vaso Termico</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/products/mochila.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Mochila</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 3</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 4</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 5</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 6</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 7</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 8</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 9</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>
      <div class="card relative flex flex-col items-center m-1.5 rounded-lg bg-white overflow-hidden shadow">
        <div class="image">
          <img src="../../../../../assets/imgs/patron1.png" alt="Producto" class="h-full">
        </div>

        <div class="detail flex flex-col justify-center items-center">
          <p class="font-semibold">Nombre Producto 10</p>
          <p class="text-deepPink font-medium  ">10 puntos</p>
        </div>
        <button class="bg-darkSlateBlue p-1 rounded text-white">Canjear</button>
      </div>


    </div>
  </div>
</article>
