body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 114, 187, 1) 100%);
}

.title {
    text-align: center;
    font-weight: bold;
}

.experiencesInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form {
    width: 60vh;
    height: 82vh;
}

.addExperience{
    float: left;
}

form textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    width: 100%;
}

form input {
    border: none;
    border-radius: 5px;
    width: 100%;
}

form mat-form-field {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.carousel-control-prev {
    left: -70px;
}

.carousel-control-next {
    right: -70px;
}

.dates{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dates mat-form-field{
    width: 45%;
}

.botonera {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-around;
}