<body>
    <div class="experiencesInput">
        <form [formGroup]="experienceForm" 
        (change)="userData.markForm(experienceForm)">
            <mat-form-field>
                <mat-label for="description">Descripcion:</mat-label>
                <textarea matInput formControlName="description" cols="30" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="company">Compania:</mat-label>
                <input matInput formControlName="company" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="position">Posicion:</mat-label>
                <input matInput formControlName="position" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="type">Tipo:</mat-label>
                <mat-select formControlName="typesId">
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{type.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="estate">Estado:</mat-label>
                <mat-select formControlName="statusId">
                    <mat-option *ngFor="let state of status" [value]="state.id">
                        {{state.status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="country">Pais:</mat-label>
                <mat-select name="sexs" formControlName="countriesId">
                    <mat-option *ngFor="let country of countries" [value]="country.id">
                        {{country.country}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="dates">
                <mat-form-field>
                    <mat-label>Fecha de inicio:</mat-label>
                    <input matInput [matDatepicker]="start" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="endDateShow()">
                    <mat-label>Fecha de fin:</mat-label>
                    <input matInput [matDatepicker]="end" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="botonera">
                <div class="botones">
                    <button 
                    class="plus" 
                    type="submit" 
                    *ngIf="views.plusOne"
                    (click)="addExperience()">
                        <img src="./assets/Imagenes/plus.png" alt="+">
                    </button>
                    <button type="submit" 
                    mat-raised-button color="primary" 
                    *ngIf="views.saveButton"
                    (click)="updateExperience()">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        <div class="lista">
            <ul>
                <li *ngFor="let experience of userData.experiences">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{experience.company}}</h5>
                            <p class="card-text">{{experience.description}}</p>
                            <div class="botonera-card">
                                <button
                                (click)="views.changeViews()"
                                (click)="selectedExperience(experience.id)"                                
                                >
                                    <img src="./assets/Imagenes/editar.png" alt="Editar">
                                </button>
                                <button
                                (click)="deleteExperience(experience.id)">
                                    <img src="./assets/Imagenes/delete.png" alt="Eliminar">
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
