<div class="modal-exchange absolute top-[55%] left-[50%] p-5 rounded-md z-20">
  <div class="modal-content flex flex-col justify-center items-center  text-white">
    <div class="flex absolute top-3 right-3">
      <button (click)="closeModal()"><i class="bx bx-x text-4xl"></i></button>
    </div>
    <div class="mt-8 flex flex-col justify-center items-center gap-3  text-white">
      <p class="text1 font-medium">
        Para poder canjear, necesitás <strong>Registrarte</strong>
      </p>
      <p class="text2">
        Participa en emocionantes proyectos de voluntariado. Cada acción que
        emprendas marcará la diferencia y te acercará a increíbles recompensas.
      </p>
    </div>
    <div>
      <button class="btn-modal m-6 bg-darkSlateBlue p-2 rounded text-white" (click)="navigateToRegister()">Únete ahora</button>
    </div>
  </div>
</div>
