<footer>
<section class="curved"></section>
<div class="formulario-enlaces">
    <div class="enlaces">
        <h1>Enlaces directos</h1>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Quienes somos</a>
        <a href="">Iniciar sesion</a>
    </div>
    <div class="fomulario-contacto">
        <h1>Contacto</h1>
    <form class="formulario-completo">
        <mat-form-field class="formulario">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Gonzalo">
        </mat-form-field>
        <mat-form-field class="formulario">
            <mat-label>Email </mat-label>
            <input type="email" matInput placeholder="nombre@dominio.com" required>
        </mat-form-field>
    
        <mat-form-field class="formulario">
        <mat-label>Mensaje </mat-label>
        <textarea matInput placeholder="Hola, Quisiera consultar..."></textarea>
        </mat-form-field>

        <button mat-stroked-button color="basic">Enviar</button>
    </form>

    </div>
</div>
<div class="copyright">
    <p>© 2023 - CV Assistant. Todos los derechos reservados.</p>
</div>
</footer>