#general {
    display: flex;
    justify-content: center;
    height: 80%;
}

#titulo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #d68a96;
}

h1 {
    font-weight: 700;
}

#descripcion {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #d68a96;
    margin: 0;
}

h2 {
    font-weight: 300;
    font-size: large;
}

h2 {
    --animate-duration: 1.5s;
}

#carouselExampleIndicators {
    margin: 5%;
    height: 80%;
    width: 90%;
}

img {
    height: 170px;
    width: 150px;
}

#id {
    color: black;
    background-color: black;
}