<app-barra></app-barra>
<div id="titulo">
  <h1 class="animate__animated animate__backInDown">DELKAT</h1>
</div>
<div id="descripcion">
  <h2 class="animate__animated animate__backInDown">Alquiler de bienes muebles para eventos</h2>
</div>
<div id="carouselExampleDark" class="carousel carousel-dark slide">  
  <div id="carusel"class="carousel-inner">
    <div id="contenedor" class="carousel-item active" data-bs-interval="2000">
        <div id="divArt" class="animate__animated animate__fadeIn">
          <div id="divTar" style="width: 100%;">
            <div id="tarjetas" class="card-body">
              <div id="divIma">
                <img id="FotoArticulo" [src]="images[0]">
              </div>
              <h5 class="card-title">{{ listArticulos[0].nombre }}</h5>
              <p>{{ listArticulos[0].detalles }}</p>
              <h6 id="Precio" class="card-subtitle">$ {{ listArticulos[0].precio }}</h6>
              <button (click)="verMas(listArticulos[0].id)" type="button" id="Ver-mas" class="btn btn-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>
      <div id="contenedor" *ngFor="let articulo of listArticulos" class="carousel-item" data-bs-interval="2000">
        <div id="divArt" class="animate__animated animate__fadeIn" >
          <div id="divTar" style="width: 100%;">
            <div id="tarjetas" class="card-body">
              <div id="divIma">
                <img id="FotoArticulo" [src]="servidor + articulo.Images[0].url">
              </div>
              <h5 class="card-title">{{ articulo.nombre }}</h5>
              <p>{{ articulo.detalles }}</p>
              <h6 id="Precio" class="card-subtitle">$ {{ articulo.precio }}</h6>
              <button (click)="verMas(articulo.id)" type="button" id="Ver-mas" class="btn btn-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div id="botones" class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
  </div>
</div>
<app-footer class="fixed-bottom"></app-footer>