.sidebar{
    width: 150px;
    background-color: #f2f2f2;
    padding: 10px;
}
.nav-link{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: none;
    text-align: left;
}