<section
  class="w-full flex flex-col items-center justify-center gap-12 px-8 py-[60px]"
>
  <h2 class="text-center font-bold m:text-xl">
    Planifica y visualiza tus horas solidarias
  </h2>
  <div
    class="w-full flex flex-col items-center justify-center gap-12 lg:flex-row"
  >
    <article
      class="relative w-full h-[140px] border border-lightGray shadow-md overflow-hidden rounded-md s:max-w-[400px] m:max-w-[500px] m:h-[200px]"
    >
      <h3
        class="absolute top-2 left-1 text-xs font-semibold s:text-sm m:text-xl m:left-4"
      >
        Agenda de voluntariados
      </h3>
      <p
        class="absolute bottom-6 left-1 text-xs w-[50%] text-center s:bottom-8 s:w-full s:text-start m:text-base m:bottom-14 m:left-4"
      >
        Conocé las próximas actividades
      </p>
      <figure>
        <img
          src="/assets/logo/logohand.svg"
          alt="logo"
          class="absolute top-[-3em] right-[-3em] w-[220px] opacity-[.5] m:w-[300px] m:top-[-3.5em] m:right-[-4em]"
        />
        <button
          class="absolute bottom-4 right-7 text-xs font-bold py-1 px-1 bg-darkSlateBlue text-white rounded-md m:text-sm m:right-[2.7em] m:bottom-5 m:px-3"
        >
          Sumate
        </button>
      </figure>
    </article>
    <article
      class="relative w-full h-[140px] border border-lightGray shadow-md overflow-hidden rounded-md s:max-w-[400px] m:max-w-[500px] m:h-[200px]"
    >
      <h3
        class="absolute top-2 left-1 text-xs font-semibold s:text-sm m:text-xl m:left-4"
      >
        Tus horas cuentan
      </h3>
      <p
        class="absolute bottom-2 left-1 text-xs w-[50%] text-cente s:bottom-6 s:text-center m:text-base m:bottom-8 m:left-4"
      >
        Consultá tus horas acumuladas y recibí recompensas
      </p>
      <figure>
        <img
          src="/assets/logo/logohand.svg"
          alt="logo"
          class="absolute top-[-3em] right-[-3em] w-[220px] opacity-[.5] m:w-[300px] m:top-[-3.5em] m:right-[-4em]"
        />
        <button
          class="absolute bottom-4 right-7 text-xs font-bold py-1 px-1 bg-darkSlateBlue text-white rounded-md m:text-sm m:right-[2.7em] m:bottom-5 m:px-3"
        >
          Entrar
        </button>
      </figure>
    </article>
  </div>

  <article></article>
</section>
