body {
    font-family: Arial, sans-serif;
    background-color: #ffffffea;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f57f10;
    box-shadow: 0 0 10px rgba(44, 79, 216, 0.221);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #1c0ae2;
}

main {
    color: #0c0c0c;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2522e8;
    color: #e50b0b;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
}

.button:hover {
    background-color: #26da23;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #7b02bc;
    font-weight: bold;
}

.highlight {
    background-color: rgb(240, 159, 10);
    padding: 1px;
    border-radius: 5px;
    color: #0b13b1;
    font-weight: bold;
}

.minimo{
    text-align: center;
    font-size: 12px;
    padding: 0; 
    margin: 0;
    color: rgb(147, 7, 179);
    text-decoration: underline;
}