*{
    margin:0;
}
.bg{
    background-image: url(../../../../assets/mujer-buscando.jpg);
    background-position-x: -150px;
}
.bg_sections{
  height: auto;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}