.title {
  text-align: center;
  font-weight: bold;
}

.personalInput {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

form {
  justify-content: center;
  width: 60%;
}

form {
  margin-left: 8rem;
  width: 60vh;
}

form textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  width: 100%;
}

form input {
  border: none;
  border-radius: 5px;
  width: 100%;
}

form mat-form-field {
  border: none;
  border-radius: 5px;
  width: 100%;
}

.botonera {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonera .plus {
  background: none;
  border: none;
}

.botonera .plus img {
  width: 4rem;
  height: 4rem;
  filter: opacity(0.4);
  transition: all 0.3s ease-in-out;
}

.botonera .plus:enabled img:hover {
  width: 4.5rem;
  height: 4.5rem;
  filter: opacity(1);
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.lista {
  margin: 2rem 1rem 0 0;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  width: 45%;
  height: 95vh;
}

.card {
  margin-bottom: 1rem;
  border: 1px solid #3f6ad8;
  border-radius: 14px;
  width: 20rem;
  -webkit-box-shadow: -14px 12px 19px -6px rgba(63, 106, 216, 0.57);
  -moz-box-shadow: -14px 12px 19px -6px rgba(63, 106, 216, 0.329);
  box-shadow: -14px 12px 19px -6px rgba(63, 106, 216, 0.57);
}

.card:hover {
  border: 2px solid #3f6ad8;
}


.card-body .botonera-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-body .botonera-card button {
  border: none;
  background: none;
  width: 3rem;
  height: 3rem;
}

.card-body .botonera-card img{
  width: 2rem;
  height: 2rem;
  filter: opacity(0.4);
}

.card-body .botonera-card img:hover{
  width: 2.5rem;
  height: 2.5rem;
  filter: opacity(1);
}

.imagenSection{
  display: flex;
  width: 100%;
  justify-content: center;
}

.imagenLabel{
  height: fit-content;
  /* margin-top: 25px; */
  padding: 3px 12px;
  margin: 8px 10px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  border: solid 1px black;
  
}

.imagenBox {
  width: 300px;
  height: 350px;
  margin: 5px 15px; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.consejo{
  display: flex;
  justify-content: flex-end;
  margin-right: 2em ;
  margin-bottom: 2em;
}

@media screen and (max-width: 990px){
  .personalInput{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
    .lista{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
    }
}