<body>
  <div class="personalInput">
    <form [formGroup]="personalForm"
    (change)="userData.markForm(personalForm)">
      <mat-form-field>
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <div class="dates">
        <mat-form-field>
          <mat-label>Fecha de Nacimiento:</mat-label>
          <input matInput [matDatepicker]="born" formControlName="bornDate">
          <mat-datepicker-toggle matSuffix [for]="born"></mat-datepicker-toggle>
          <mat-datepicker #born></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Numero de Contacto</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <!-- * Seccion del imagen -->
      <div class="imagenSection">
        <img class="imagenBox" [src]="url">
        <input type="file" id="imagen" style="display: none;" name="pictureLink" (change)="selectImage($event)">

        <label class="imagenLabel" for="imagen" style="cursor: pointer;">Cargar Foto</label>
      <!--   <input matInput formControlName="pictureLink"> -->

      </div>

      <div class="botonera">
        <div class="botones">
            <button class="plus" type="submit" *ngIf="views.plusOne" (click)="updateUser(personalForm)">
                <img src="./assets/Imagenes/plus.png" alt="+">
            </button>
            <button 
            type="submit" mat-raised-button 
            color="primary" 
            *ngIf="views.saveButton">
                Guardar
            </button>
        </div>
    </div>
    </form>
    <div class="lista">
      <ul>
          <li>
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title"> Titulo </h5>
                      <p class="card-text"> Detalle </p>
                      <div class="botonera-card">
                          <button>
                              <img src="./assets/Imagenes/editar.png" alt="Editar">
                          </button>
                          <button>
                              <img src="./assets/Imagenes/delete.png" alt="Eliminar">
                          </button>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>
  </div>
</body>