<div class="container">
    <mat-toolbar-row>
        <span><img src="./assets/img/logo.png" alt="Logo"></span>
        <span class="mat-button-space" routerLink="prueba"> NOSOTROS </span>
        <span class="mat-button-space" routerLink="page-not-found">  PRODUCTOS </span>
        <span class="mat-button-space" routerLink="page-not-found">  SERVICIOS </span>
        <span class="mat-button-space" routerLink="page-not-found">  CONTACTO </span>
        <app-boton-login></app-boton-login>
        <app-busqueda class="busqueda"></app-busqueda>
        <app-menu class="menu"></app-menu>
    </mat-toolbar-row>
</div>