<div class="container">
    <mat-toolbar>
      <span >Usuarios</span>
      <div class="example-spacer"></div>
      <button mat-raised-button class="botonagregar" routerLink="/dashboard/crear-usuario">Crear</button>
    </mat-toolbar>


  <div *ngIf="listUsuarios.length >0">
      <!-- filtros -->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>


    <div class="mat-elevation-z3">
      <!-- tabla -->
      <table mat-table [dataSource]="dataSource" matSort >
        <!-- nombre Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-firstName"> Nombre </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.firstName}}</td>
        </ng-container>

        <!-- apellido Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.lastName}}</td>
        </ng-container>

        <!-- usuario Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.username}}</td>
        </ng-container>

         <!-- contraseña Column -->
         <!-- <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contraseña </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.password}}</td>
        </ng-container> -->

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.email}}</td>
        </ng-container>

        <!-- rol Column -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.rol}}</td>
        </ng-container>

        <!-- telefono Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let element" [style.width.%]="10" class="mat-cell-content-long">{{element.phone}}</td>
        </ng-container>

        <!-- icon Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;" [style.width.%]="10" class="mat-cell-content-long"> 
            <a>
              <mat-icon class="pointer" matTooltip="ver usuario">search</mat-icon>
            </a>
            <a>
              <mat-icon class="pointer" matTooltip="editar usuario">edit</mat-icon>
            </a>
            <a>
              <mat-icon class="pointer" (click)="deleteUser(element.id)" matTooltip="eliminar usuario">delete</mat-icon>
            </a>
          </td>
        </ng-container>
  
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <!-- paginador -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"showFirstLastButtons 
                      aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
  </div>

<h2 *ngIf="listUsuarios.length==0">No hay usuarios para mostrar!</h2>

</div>

