<div class="signup-a">
    <h1>SIGN UP</h1>
<form action="" method="POST" id="form">
   
    <label for="username"> <i class="fa-solid fa-user"></i> Nombres y Apellidos</label>
    <input id="name" type="text" placeholder="Escribe tus Nombres y Apellidos">

    <label for="phone"><i class="fa-solid fa-square-phone"></i> Numero telefonico <b style="color: rgb(181, 179, 179);">(Opcional)</b></label>
    <input  id="phone" type="tel" placeholder="Escribe tu numero telefonico">

    <label for="mail"><i class="fa-solid fa-envelope"></i> Email</label>
    <input id="email" type="email" placeholder="Escribe tu email">

    <label for="password"> <i class="fa-solid fa-lock"></i> Contraseña</label>
    <input  id="password" type="password" placeholder="************">
    <br>
    <br>
    <button class="submit" type="submit">Suscribirse</button>
    <p class="warnings" id="warnings"></p>
    <div>
    <a href="#">Ya tienes una cuenta?</a><br>
    </div>
    <img class="avatar" src="img/fondo-signup.png" alt="">

</form>
</div>
