<div class="signup-a">
    <h1>SIGN UP</h1>
<form action="" id="form" [formGroup]="form" (ngSubmit)="createUser()">
   
    <label> <i class="fa-solid fa-user" ></i> Nombres </label>
    <input formControlName="firstName" type="text" placeholder="Escribe tus Nombres y Apellidos">
    <span
            *ngIf="
              form.get('firstName')?.hasError('required') &&
              form.get('firstName')?.touched
            "
          >
            El campo donde es <strong>requerido</strong>
          </span>
    <label> <i class="fa-solid fa-user" ></i> Apellidos </label>
      <input formControlName="lastName" type="text" placeholder="Escribe tus Nombres y Apellidos">
          <span
                  *ngIf="
                    form.get('lastName')?.hasError('required') &&
                    form.get('lastName')?.touched
                  "
                >
                  El campo donde es <strong>requerido</strong>
                </span>
      
    <label ><i class="fa-solid fa-square-phone"></i> Numero telefonico <b style="color: rgb(181, 179, 179);">(Opcional)</b></label>
    <input formControlName="phone"  type="text" placeholder="Escribe tu numero telefonico">
    <span
            *ngIf="
              form.get('phone')?.hasError('maxLength') &&
              form.get('phone')?.touched
            "
          >
            El campo donde es <strong>requerido</strong>
          </span>

    <label><i class="fa-solid fa-envelope"></i> Email</label>
    <input formControlName="email" type="email" placeholder="Escribe tu email">
    <span
            *ngIf="
            form.get('email')?.hasError('required') &&
            form.get('email')?.touched
            "
          >
            El campo donde es <strong>requerido</strong>
          </span>
    <label> <i class="fa-solid fa-lock"></i> Contraseña</label>
    <input  formControlName="password" type="password" placeholder="************">
    <span
            *ngIf="
              form.get('password')?.hasError('required') &&
              form.get('password')?.touched
            "
          >
            El campo donde es <strong>requerido</strong>
          </span>
    <br>
    <br>
    <button [disabled]="form.invalid" class="submit" type="submit">Suscribirse</button>
    <p class="warnings" id="warnings"></p>
    <div>
    <a href="#">Ya tienes una cuenta?</a><br>
    </div>
    <img class="avatar" src="../../../assets/signup.img/fondo-signup.png" alt="">

</form>
</div>
