<body>
    <div class="formationsInput">
        <form [formGroup]="formationForm" 
        (ngSubmit)="formationAdd()"
        (change)="userData.markForm(formationForm)">
            <mat-form-field>
                <mat-label for="description">Descripcion:</mat-label>
                <textarea matInput formControlName="description" cols="30" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="company">Instituto:</mat-label>
                <input matInput formControlName="institute" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="position">Titulo:</mat-label>
                <input matInput formControlName="title" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="type">Tipo:</mat-label>
                <mat-select formControlName="typesId">
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{type.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="status">Estado:</mat-label>
                <mat-select formControlName="statusId">
                    <mat-option *ngFor="let state of status" [value]="state.id">
                        {{state.status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="dates">
                <mat-form-field>
                    <mat-label>Fecha de inicio:</mat-label>
                    <input matInput [matDatepicker]="start" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="endDateShow()">
                    <mat-label>Fecha de fin:</mat-label>
                    <input matInput [matDatepicker]="end" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="botonera">
                <div class="botones">
                    <button (click)="formationAdd()" class="plus" type="submit" *ngIf="views.plusOne">
                        <img src="./assets/Imagenes/plus.png" alt="+">
                    </button>
                    <button type="submit" mat-raised-button color="primary" *ngIf="views.saveButton"(click)="saveFormation()" >
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        <div class="lista">
            <ul>
                <li *ngFor="let formation of userData.formations" class="card">
                  <div class="card-body">
                    <h4 class="card-title">Titulo: {{ formation.title }}</h4>
                    <h4 class="card-title">Institucion: {{formation.institute}}</h4>
                    <h5 class="card-text">Descripcion</h5>
                    <h5 class="card-text">{{ formation.description }}</h5>
                    <h5 class="card-text">Estado {{formation.statusId}}</h5>
                    <div class="botonera-card">
                      <button (click)="editFormation(formation)" (click)="views.changeViews()" >
                        <img src="./assets/Imagenes/editar.png" alt="Editar">
                      </button>
                      <button (click)="deleteFormation(formation.id!)" >
                        <img src="./assets/Imagenes/delete.png" alt="Eliminar">
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
              
        </div>
    </div>
</body>