<div class="container-fluid userSelect" style="padding: 0">
    <div
      class="mt-5"
      style="background-color: #fff; padding: 20px 30px; border-radius: 10px;margin-left: 15px;margin-right: 15px;"
    >
      <div class="row">
  
          <button class="boton" routerLink="/admin/panel">Volver</button>
  
      </div>
      <table class="table rounded">
        <thead>
          <tr>
            <th scope="col fs-1" style="font-size: 30px"><b>Email</b></th>
            <th scope="col fs-1" style="font-size: 30px"><b>¿Es admin?</b></th>
            <th scope="col" style="font-size: 25px"><b>Hacer admin</b></th>
            <th scope="col" style="font-size: 25px"><b>Quitar admin</b></th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <th scope="row">
              <h5>{{ user.email }}</h5>
            </th>
            <th scope="row">
              <div *ngIf="user.admin">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                  />
                </svg>
              </div>
              <div *ngIf="!user.admin">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-x"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </div>
            </th>
            <th scope="row">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn border rounded"
                style="background-color: var(--colorOrange)"
                data-bs-toggle="modal"
                data-bs-target="#add"
                (click)="selectId(user.id)"
              >
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                  />
                </svg> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                  <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                </svg>
              </button>
  
              <!-- Modal -->
              <div
                class="modal fade"
                id="add"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>¿Está seguro que desea hacer administrador a este usuario?</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="boton col"
                        data-bs-dismiss="modal"
                      >
                        Volver
                      </button>
                      <button
                        type="button"
                        class="boton col"
                        (click)="patchAdmins()"
                      >
                        Aceptar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th scope="row">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn border rounded"
                style="background-color: var(--colorOrange)"
                data-bs-toggle="modal"
                data-bs-target="#delete"
                (click)="selectId(user.id)"
              >
              
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
              />
            </svg>
              </button>
  
              <!-- Modal -->
              <div
                class="modal fade"
                id="delete"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>¿Está seguro que desea eliminar este administrador?</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="boton col"
                        data-bs-dismiss="modal"
                      >
                        Volver
                      </button>
                      <button
                        type="button"
                        class="boton col"
                        (click)="deleteAdmins()"
                      >
                        Aceptar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  