*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.logo{
    height: 80px;
    width: 150px;
    font-family: sans-serif;
}
.container-fluid{
padding: 0px;
}



.color-box{
    background-color: rgb(230, 230, 230);
}

.cuerpo1{
    display:flex;
    align-items: center;
    background-color: white;
    padding: 15px 15px;
}

 .wrapper i {
    max-width: 320px;
    font-size: 70px;
    color: gray;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.text-box{
    color:black(33, 30, 30);
}

.text-box h3{
    font-size: 25px;
}

.text-box p{
    margin-top: 10px;
    font-size: 16px;
    color: gray;
    flex: 1;
}

.row1{
    background-color: white;
    padding: 30px 20px 30px 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    
}
.col{
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col img{
    height: 60px
}
.row2{
    width: 100%;
    background-color: rgb(231, 231, 231);
    padding-bottom: 20px;
}
h3{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row3{
    background-color: white;
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------- */


@media (max-width: 400px) {
    .row1{
        background-color: white;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 100%; 
    }
    .col{
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .col img{
        height: 20px
    }

    h3 {
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
  }




  @media (max-width:767px) {
    hr{
        visibility: hidden;
    }
  }