<div class="container-fluid">
  <div class="row">
    <div id="carouselExampleFade" class="carousel slide carousel-fade p-0">
      <div class="carousel-inner p-0">
        <div class="carousel-item active">
          <img
            src="../../../assets/img/slide1.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/img/slide2.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/img/slide3.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/img/slide4.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img
        class="patrocionos"
        style="height: 100px"
        src="../../../assets/img/compa1.png"
        alt=""
      />
    </div>
    <div class="col">
      <img style="height: 100px" src="../../../assets/img/compa2.jpeg" alt="" />
    </div>
    <div class="col">
      <img style="height: 100px" src="../../../assets/img/compa3.jpeg" alt="" />
    </div>
    <div class="col">
      <img style="height: 100px" src="../../../assets/img/compa4.png" alt="" />
    </div>
    <div class="col">
      <img
        class="patrocionos"
        style="height: 100px"
        src="../../../assets/img/compa5.jpeg"
        alt=""
      />
    </div>
  </div>
  <div class="row">
  <app-dashboard-page></app-dashboard-page> 
</div>
  <div class="row rounded p-2" style="background-color: rgb(41, 64, 145)">
    <h3 class="text-white">
      Porque escoger los cursos de la Incubadora del N.O.C
    </h3>
  </div>
  <div class="row cuerpo1 mt-5 rounded">
    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3" style="background-color: #ffffff">
        <i class="fa-solid fa-store"></i>
        <div class="text-box">
          <h4><b>Ponte en primera fila</b></h4>
          <p>
            Somos un espacio que acompaña a personas que ya están emprendiendo y
            que necesitan profesionalizarse para convertir sus emprendimientos
            en negocios sustentables.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-solid fa-network-wired"></i>
        <div class="text-box">
          <h4><b>Asesoramiento en Networking</b></h4>
          <p>
            Te ayudamos a crear redes de contacto afines con tu sector de
            mercado y/o profesión, que permitirá generar oportunidades de empleo
            y negocios.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-solid fa-chart-simple"></i>
        <div class="text-box">
          <h4><b>Te brindamos un asesoramiento para alcanzar el éxito.</b></h4>
          <p>
            Contamos con muchas capacitaciones de coaching, marketing y demás.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-solid fa-person-chalkboard"></i>
        <div class="text-box">
          <h4><b>Tenemos a los mejores profesores</b></h4>
          <p>
            Contamos con los profesores mejor capacitados que te apoyaran y
            contestaran cualquier duda que tengas dentro y fuera del curso.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-solid fa-user-tie"></i>
        <div class="text-box">
          <h4><b>Ofrecemos un acompañamiento para que logres el éxito</b></h4>
          <p>
            Ademas a tu emprendimiento le brindaremos especificaciones de
            cursos, seminarios y talleres prácticos, teóricos y presenciales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-solid fa-camera-retro"></i>
        <div class="text-box">
          <h4><b>Asesoramiento en fotografia de tus productos</b></h4>
          <p>
            La percepción visual es uno de los más importantes, definiendo
            nuestra primera impresión del artículo.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-regular fa-handshake"></i>
        <div class="text-box">
          <h4><b>Tenemos alianzas con Instituciones Publicas y Privadas</b></h4>
          <p>
            CENTRO COMERCIAL INDUSTRIAL Y ANEXOS, MUNi. DE CORDOBA, ROTARY
            INDUSTRIAL, FEDECOM, CORDOBA CANAVIS y muchos mas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-3 wrapper">
      <div class="rounded p-3">
        <i class="fa-regular fa-calendar-days"></i>
        <div class="text-box">
          <h4><b>Escoge tu horario</b></h4>
          <p>
            Nuestros cursos son 100% presenciales, contamos con un
            establecimiento seguro y adecuado a a los cursos .
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <img
        class="fin-logo"
        src="../../../assets/img/LOGIN-INCUBADORA-1-LOGO.png"
        height="150"
        width="150"
      />
    </div>
    <div class="col-md-10 col-sm-12">
      <p class="fs-3 pt-5">
        Somos una empresa que apoya a emprendedores, brindándoles herramientas
        para alcanzar el éxito.
      </p>
    </div>
  </div>
  
</div>
