.login-container{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    color: #F5670E;
    background-color: aliceblue;
}

.login-form{
    display: grid;
    place-content: center;
}

/* .mat-raised-button {
    background-color: #f44336;
    color: white;
} */

.mensaje-crear-cuenta {
    font-size: 14px;
    margin-top: 20px;
  }

.register-button{
    color:  #eca678; 
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bold;
    margin-left: 5px;
}

a.register-button:hover {
    color: #F5670E;
    cursor: pointer; 
  }
