html,
body {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
}

p {
    margin-right: 35px;
}

h1 {
    margin: 0px 190px;
    text-align: center;
    color: #201b24;
    font-weight: 550;
}

button {
    font-size: 12px;
}

button.redondo {
    background-color: white;
    border: 2px solid #050506;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}

#header {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
}

#header-right {
    font-size: 12px;
    font-weight: 500;
}

.logo {
    margin-left: 15px;
}

#header-right img:hover {
    filter: drop-shadow(0 0 0 #9E46FF);
}

.logo-technology:hover {

    cursor: pointer;
}

.logo.instagram {
    height: 13px;
    width: auto;
}

.logo.linkedin {

    height: 22px;
    width: auto;

}

#introduction {
    padding: 48px;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button:hover {
    cursor: pointer;
}

.redondo.violeta {
    margin-left: 14px;
    color: #6b53f0;
    border: 2px solid #6b53f0;
}

.redondo.violeta:hover {
    background-color: #6b53f0;
    color: white;
}

.redondo.negro:hover {
    background-color: #201b24;
    color: white;
}

#introduction-text h1 {

    font-size: 1em;
    font-size: 28px;
}

#header-right p:hover {

    color: #6b53f0;
    cursor: pointer;

}

#mi-footer {

    background-color: #201B24;
    color: white;
    display: flex;
    padding: 140px;
    align-items: end;
}

#mi-footer p {

    font-size: 13px;
}

#mi-footer .numbers {}

.numbers h2 {

    font-size: 40px;
}