<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <p class="navbar-brand mb-2">Incubadora NOC</p>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item-2">
          <a class="nav-link active" routerLink="/cursos">Nuestros cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienes-somos">¿Quiénes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<ul>
  <li style="float:center"><a class="active" href="#about">Home</a></li>
  <li style="float:center"><a href="#news">Novedades</a></li>
  <li style="float:center"><a href="#contact">Contacto</a></li>
  <li style="float:center"><a href="#contact">Sobre nosotros</a></li>

  <li style="float:right"><a href="#contact">Login</a></li>
  <li style="float:right"><a href="#contact">Registrar</a></li>
</ul>-->