<div
  class="hero flex justify-between items-center m-0 w-screen font-poppins overflow-hidden"
>
  <div class="text-hero text-white font-[400] max-w-screen-sm min-w-[100px]">
    <p>
      Si estás buscando una forma de marcar la diferencia en el mundo, podés
      ofrecerte como voluntario unas horas a la semana.<br />
      Es una manera fácil y gratificante de retribuir a tu comunidad y hacer del
      mundo un lugar mejor.
    </p>
    <!-- <p>Es una manera fácil y gratificante de retribuir a tu comunidad y hacer del mundo un lugar mejor.</p> -->
  </div>

  <!-- <div class="gallery">
      <div class="gallery_line">
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891864/xAcademy/Img-Hero/Hero-0_odhrxc.png" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891367/xAcademy/Img-Hero/hero-1_mxkatw.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890618/xAcademy/Img-Hero/hero-2_rwrle5.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890604/xAcademy/Img-Hero/hero-3_xil6xu.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890623/xAcademy/Img-Hero/hero-4_rlh6tf.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890602/xAcademy/Img-Hero/Hero-5_asgxdb.png" /> -->
  <!-- need to reapeat images to infinit animation -->
  <!-- <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891864/xAcademy/Img-Hero/Hero-0_odhrxc.png" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891367/xAcademy/Img-Hero/hero-1_mxkatw.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890618/xAcademy/Img-Hero/hero-2_rwrle5.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890604/xAcademy/Img-Hero/hero-3_xil6xu.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890623/xAcademy/Img-Hero/hero-4_rlh6tf.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890602/xAcademy/Img-Hero/Hero-5_asgxdb.png" />
      </div>
      <div class="gallery_line">
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890600/xAcademy/Img-Hero/Hero-6_wrcjp2.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891485/xAcademy/Img-Hero/Hero-7_ohwiay.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890601/xAcademy/Img-Hero/Hero-8_nqzqhg.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890618/xAcademy/Img-Hero/Hero-9_lppewk.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891570/xAcademy/Img-Hero/Hero-10_wnilux.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890605/xAcademy/Img-Hero/Hero-11_bc06wr.jpg" /> -->
  <!-- need to reapeat images to infinit animation -->
  <!-- <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890600/xAcademy/Img-Hero/Hero-6_wrcjp2.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891485/xAcademy/Img-Hero/Hero-7_ohwiay.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890601/xAcademy/Img-Hero/Hero-8_nqzqhg.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890618/xAcademy/Img-Hero/Hero-9_lppewk.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891570/xAcademy/Img-Hero/Hero-10_wnilux.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890605/xAcademy/Img-Hero/Hero-11_bc06wr.jpg" />
      </div>
      <div class="gallery_line">
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890604/xAcademy/Img-Hero/Hero-12_svmrf3.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891670/xAcademy/Img-Hero/Hero-13_i2mhtg.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890602/xAcademy/Img-Hero/Hero-14_lwcc5x.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890603/xAcademy/Img-Hero/Hero-15_rnyai8.png" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890603/xAcademy/Img-Hero/Hero-16_ldos1w.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890603/xAcademy/Img-Hero/Hero-17_d8nif3.jpg" /> -->
  <!-- need to reapeat images to infinit animation -->
  <!-- <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890604/xAcademy/Img-Hero/Hero-12_svmrf3.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694891670/xAcademy/Img-Hero/Hero-13_i2mhtg.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890602/xAcademy/Img-Hero/Hero-14_lwcc5x.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890603/xAcademy/Img-Hero/Hero-15_rnyai8.png" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890603/xAcademy/Img-Hero/Hero-16_ldos1w.jpg" />
        <img
          src="https://res.cloudinary.com/carina-bosio/image/upload/v1694890603/xAcademy/Img-Hero/Hero-17_d8nif3.jpg" />
      </div>
    </div> -->

  <div
    class="gallery flex gap-[1vw] w-[800px] min-w-[200px] h-full whitespace-nowrap"
  >
    <ng-container *ngFor="let imageBlock of imageBlocks">
      <!-- Repite el bloque de imágenes dos veces -->
      <div class="gallery_line flex flex-col gap-[1vw] h-fit whitespace-nowrap">
        <ng-container *ngFor="let _ of [0, 1]">
          <ng-container *ngFor="let imageUrl of imageBlock">
            <img
              [src]="imageUrl"
              class="flex-[1_1_auto] w-full object-cover whitespace-nowrap"
            />
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
