  <div class="wrapper"> 
    <div class="body">
        <img class="logo" src="../../assets/imagen/login.png" alt="img login" srcset="">
        <h1>Login</h1>
        <div class="form">
            <input type="email" placeholder="Ingresa tu  email" />
           </div>
        <div>
            <input type="password" placeholder="Ingresa tu contraseña" />
           
         </div>
         <div>
            <input type="button" value="Enviar" />
         </div>

    </div>
    

</div>
  
 

  
