<body>
    <ul>
        <li *ngFor="let profile of profileList">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{profile.profileName}} </h5>
                    <p class="card-text"> Descripcion </p>
                    <div class="botonera-card">
                        <button>
                        <img src="./assets/Imagenes/editar.png" alt="Editar">
                        </button>
                        <button
                        (click)="deleteProfiles(profile.id)">
                            <img src="./assets/Imagenes/delete.png" alt="Eliminar">
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</body>