<body>
    
    <div class="conteiner-profiles">
        <div class="profile-1">
            <div class="header">Titulo del CV</div>
            <div class="item-foto">Foto</div>
            <div class="experiencia">experiencia</div>
            <div class="sobre-mi">Sobre mi</div>
            <div class="formacion">formacion</div>    
            <div class="links">links</div>
            <div class="skills">skills</div>
            <div class="opcionales">opcionales</div>
            <div class="referencias">referencias</div>                       
        </div>

        <div class="profile-2">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>18</div>
        </div>
        <div class="profile-3">

        </div>
    </div>
</body>