// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink);
$app-warn:    mat-palette($mat-red);
