body {
    margin: 1rem;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
}

.personales_skills_language {
    background: rgb(43, 30, 30);
    display: flex;
    flex-direction: column;
    width: 30%;
}

.picture {
    width: 286px;
    height: 300px;
}

.picture img {
    width: 100%;
    height: 85%;
    border: 2px solid rgb(43, 30, 30);
    filter: grayscale(1);
}

.aboutMe_text {
    margin: 2rem 1rem 0 1rem;
    color: rgb(233, 218, 7);
}

.personales,
.skills,
.languages {
    margin: 5rem 1rem 1rem 1rem;
    color: rgb(233, 218, 7);
}

.personales h1,
.skills h1,
.languages h1 {
    color: #FFF;
    border-bottom: 4px solid rgb(233, 218, 7);
    font-weight: bold;
    text-align: center;
}

.identificador {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    background: rgb(233, 218, 7);
    width: 70%;
    height: 10rem;
    margin: 5% 0% 0 27%;
}

.identificador .nombre {
    margin: 2rem 0 0 11rem;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.identificador .apellido {
    margin: 2rem 11rem 0 0;
    font-size: 3rem;
    color: #000;
}

.informacion {
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    width: 69%;
}

.informacion ul {
    display: grid;
    grid-template-columns: 50% 50%;
}


.informacion ul li {
    margin: 2rem 2rem 0 0;
}

.informacion ul li h2 {
    border-bottom: 4px solid #000;
    font-weight: 900;
}

.formacion ul,
.referencias ul {
    display: flex;
    flex-direction: column;
}


.informacion ul .fechas {
    width: 45%;
    display: flex;
    flex-direction: column;
    color: rgb(233, 218, 7);
    font-weight: bold;
    text-align: start;
}

.informacion ul .fechas p {
    width: 100%;
}

.experiencias h1,
.formacion h1,
.referencias h1 {
    border-bottom: 4px solid rgb(233, 218, 7);
    text-align: start;
    font-weight: bold;
    color: #000;
}

.formacion_referencias {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formacion {
    width: 45%;
}

.referencias {
    width: 45%;
}