<body>
    <section class="container">
        <div class="personales_skills_language">
            <div class="picture">
                <img src="assets/Imagenes/foto_test.jpg" alt="foto">
            </div>
            <p class="aboutMe_text"> Sobre Mi </p>
            <div class="aboutMe">
                <div class="personales">
                    <h1>DATOS PERSONALES</h1>
                    <p>Telefono: {{ profileData?.User?.phone }}</p>
                    <p>Email: {{ profileData?.User?.email }}</p>
                </div>
                <div class="skills">
                    <h1>HABILIDADES</h1>
                    <ul>
                        <li *ngFor="let skill of userData.skills" >
                            <p>Habilidad: {{skill.skill}} Nivel: {{skill.level}}</p>
                        </li>
                    </ul>
                </div>
                <div class="languages">
                    <h1>IDIOMAS</h1>
                    <ul>
                        <li *ngFor="let language of userData.languages">
                            <p>Idioma: {{language.language}} Nivel: {{language.level}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="identificador">
            <h1 class="nombre"> {{ userData.userName }}</h1>
            <h1 class="apellido"> {{ userData.lastName }}</h1>
        </div>
        <div class="informacion">
            <div class="experiencias">
                <h1>EXPERIENCIAS</h1>
                <ul>
                    <li *ngFor="let experience of userData.experiences">
                        <div class="fechas">
                            <p>{{experience.startDate}}</p>
                            <p>{{experience.endDate}}</p>
                        </div>
                        <h2>{{experience.company}}</h2>
                        <p>Descripcion: {{experience.description}}</p>
                        <p>Posicion: {{experience.position}} </p>
                        <p>Pais: {{experience.Country?.country}}</p>
                        <p>{{experience.ExperienceStatus?.status}}</p>
                        <p>{{experience.ExperienceTypes?.type}}</p>
                    </li>
                </ul>
            </div>
            <div class="formacion_referencias">
                <div class="formacion">
                    <h1>FORMACION</h1>
                    <ul>
                        <li *ngFor="let formation of userData.formations">
                            <div class="fechas">
                                <p>{{formation.startDate}}</p>
                                <p>{{formation.endDate}}</p>
                            </div>
                            <h2>Institucion: {{formation.institute}}</h2>
                            <p>Titulo: {{formation.title}}</p>
                            <p>Descripcion: {{formation.description}} </p>
                            <p>{{formation.FormationStatus?.status}}</p>
                            <p>{{formation.FormationType?.type}}</p>
                        </li>
                    </ul>
                </div>
                <div class="referencias">
                    <h1>REFERENCIAS</h1>
                    <ul>
                        <li *ngFor="let reference of userData.references">
                            <h2>Nombre: {{reference.name}}</h2>
                            <p>Apellido: {{reference.lastName}}</p>
                            <p>Compania: {{reference.company}} </p>
                            <p>{{reference.email}}</p>
                            <p>{{reference.phone}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>