.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background: var(--background-gradient);
}

.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-header {
    margin-bottom: 2rem;
    background: var(--color-0);
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    margin-right: 3rem;
}

.image {
    width: 21rem;
}

.user-details {
    text-align: left;
}

.btn {
    margin-top: 1rem;
}