<app-barra></app-barra>
<div *ngIf="!confUsuario">
    <h3>¡Para ver su historial de compras debe estar registrado como usuario!</h3>
    <div id="botonNavegacion" style="padding-top: 0%;"><app-boton-navegacion></app-boton-navegacion></div>
</div>
<!-- general -->
<div *ngIf="confUsuario" id="cuadrado">
    <div id="botonNavegacion"><app-boton-navegacion></app-boton-navegacion></div>
    <div id="titulo"><h1>Historial de artículos alquilados</h1></div>
    <div id="general">
        <div id="recuadro">
            <!-- articulos -->
            <div id="articulo" *ngFor="let articulo of articulos; let i = index">
                <!-- imagen -->
                <img [src]="articulo.imaArt">
                <!-- datos vendedor -->
                <div id="datosVen">
                    <p id="nomArt">Nombre: <span (click)="redirigirProducto(articulo.idArt)">{{articulo.nomArt}}</span></p>
                    <p>Contratado por: <span>{{articulo.nomCom}}</span></p>
                    <p>Estado: <span>{{articulo.estArt}}</span></p>
                </div>
                <!-- datos articulo -->
                <div id="descripcion"><p id="desArt">{{articulo.desArt}}</p></div>
                <div id="datosArt">
                    <p>Fecha alquiler: <span>{{articulo.fecArt | date}}</span></p>
                    <P>Fecha devolución: <span>{{articulo.retArt | date}}</span></P>
                    <p>Entrega y devolución: <span>{{articulo.envArt}}</span></p>
                </div>
                <!-- acciones -->
                <div id="acciones"> 
                    <p id="preArt">Precio: <span>${{articulo.preArt}}</span></p>
                    <a id="verArt" (click)="redirigirProducto(articulo.idArt)">Visualizar Artículo</a>
                    <a (click)="numArt(i)"data-bs-toggle="modal" data-bs-target="#exampleModal">Ver comprobante</a>
                </div>
                <!-- Modal Comprobante-->
                <div id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content w-75">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modal-title">Comprobante</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h1 class="modal-title fs-5" id="modal-title-2">Delkat S.A.</h1>
                                <div class="comprobante-content"><p>CUIT:</p><span>20-12345678-9</span></div>
                                <span>Responsable Inscripto</span>
                                <div class="comprobante-content"><p>Inicio de act.</p><span>01/10/2023</span></div>
                                <div class="border-top"></div>
                                <h5>FACTURA 'B'</h5>
                                <p>N° 0001-00000001</p>
                                <div class="comprobante-content"><p>Fecha:</p><span>{{articulos[idArt].fecArt | date}}</span></div>
                                <div class="comprobante-content"><p>Apellido y Nombre:</p><span>{{articulos[idArt].nomCom}}</span></div>
                                <div class="comprobante-content"><p>Condicion ante IVA:</p><span>Consumidor Final</span></div>
                                <div class="comprobante-content"><p>Domicilio:</p><span>{{articulos[idArt].dirCom}}</span></div>
                                <div class="comprobante-content"><p>Condicion de venta:</p><span>{{articulos[idArt].formaPago}}</span></div>
                                <div class="border-top"></div>
                                <p style="font-weight: 400;">1,00 x ${{articulos[idArt].preArt}}</p>
                                <div class="comprobante-content"><span>{{articulos[idArt].nomArt}}</span><span>${{articulos[idArt].preArt}}</span></div>
                                <div class="border-top"></div>
                                <div class="comprobante-content precio-final"><span>Total:</span><span>${{articulos[idArt].preArt}}</span></div>
                            </div>
                            <div class="modal-footer"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button></div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>