<nav>
    <h1>Nuestra Gratitud a quienes confiaron en nosotros</h1>
    <p>Queremos expresar nuestro sincero agradecimiento por confiar en nuestros servicios,
        Su confianza es el cimiento que impulsa nuestra dedicacion para ofrecer siempre lo mejor.
    </p>


</nav>




<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="https://cdn-icons-png.flaticon.com/256/10567/10567705.png" alt="">
        </div>
        <div class="slide">
            <img src="https://images.crunchbase.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/bvpfvq1thkxxjpdss7q3" alt="">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh-5n9BRsU_pOWLfFUvoABN3CBT9lx2o55-Q&usqp=CAU" alt="">
        </div>
        <div class="slide">
            <img src="https://logospng.org/download/rappi/logo-rappi-256.png" alt="">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYF7lkZHk-JrZRbc3vmW2FbOU44Ny75X1IQES5bdpvOUQl4XWGj0p3zm8hpWaoq4lo_pI&usqp=CAU" alt="">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVMH7ovB1mzTiHkPfflGqiaDb-kCceX5lIg08q2H65gMb5Z5ToFr-1doyImbAVDm842Uw&usqp=CAU" alt="">
        </div>
        <div class="slide">
            <img src="https://logospng.org/download/uber/logo-uber-256.png" alt="">
        </div>
        <!--Duplicados-->
        <div class="slide">
            <img src="https://cdn-icons-png.flaticon.com/256/10567/10567705.png" alt="">
        </div>
        <div class="slide">
            <img src="https://images.crunchbase.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/bvpfvq1thkxxjpdss7q3" alt="">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh-5n9BRsU_pOWLfFUvoABN3CBT9lx2o55-Q&usqp=CAU" alt="">
        </div>
        <div class="slide">
            <img src="https://logospng.org/download/rappi/logo-rappi-256.png" alt="">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYF7lkZHk-JrZRbc3vmW2FbOU44Ny75X1IQES5bdpvOUQl4XWGj0p3zm8hpWaoq4lo_pI&usqp=CAU" alt="">
        </div>
        <div class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVMH7ovB1mzTiHkPfflGqiaDb-kCceX5lIg08q2H65gMb5Z5ToFr-1doyImbAVDm842Uw&usqp=CAU" alt="">
        </div>
        <div class="slide">
            <img src="https://logospng.org/download/uber/logo-uber-256.png" alt="">
        </div>
    </div>
</div>