<Div class="eslogan">

    <p class="eslogan-frase">Destaca entre la multitud: Tu CV perfecto con 
        <br>
        <br>
        <span>CvAssistant</span>
    </p>

</Div>

<div class="div-plantillas">

    <div class="texto-plantillas">
      <h1>Muestra tu potencial con nuestras plantillas de CV personalizadas. </h1>  

      <p>Diseñadas para resaltar tus habilidades y experiencia de manera única, nuestras plantillas te brindan la herramienta perfecta para presentar una imagen profesional y atractiva. Impulsa tu carrera con confianza, sabiendo que tu CV refleja lo mejor de ti.</p>
      <button class="boton-creatucv">
        Crea tu cv
      </button>

    </div>

<div id="carrusel-plantillas" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1500">
      <img src="../../../assets/Imagenes/CV1.png" class="d-block w-100" alt="CV1">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/Imagenes/CV2.png" class="d-block w-100" alt="CV2">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/Imagenes/CV3.png" class="d-block w-100" alt="CV3">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/Imagenes/CV4.png" class="d-block w-100" alt="CV4">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/Imagenes/CV5.png" class="d-block w-100" alt="CV5">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/Imagenes/CV6.png" class="d-block w-100" alt="CV6">
    </div>
  </div>
<!--   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>