<div id="footer" class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="creditos mb-0">Copyright © 2023 - <a href="https://github.com/Karenale05/SantexAcademy"
                        target="_blank">DELKAT</a></p>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <a routerLink="/bases" class="terminos">Términos y condiciones</a>
            </div>
        </div>
    </div>
</div>