.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  text-align: center;
}

.creditos {
  margin: 0;
  font-size: 14px;
  color: #333;
  float: left;
}

.terminos {
  float: right;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #d68a96;
}