<app-navbar></app-navbar>

<div class="background-news">
    <h1 class="title">NOTICIAS</h1>
    <div class="container text-center">
        <div class="row justify-content-center card-container">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let news of news">
                <div class="border">
                    <div class="card container-big">
                        <img [src]="news.imageUrl" class="card-img-top" alt="no-image">
                        <div class="card-body">
                            <h2 class="card-title">{{ news.title }}</h2>
                            <p class="card-description">{{ news.description }}</p>
                        </div>
                        <div class="card-body-down">
                            <h4 class="card-professor">Autor: {{ news.autor }}</h4>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-primary" [href]="news.sourceUrl" target="_blank">Ver Noticia</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>