
    <div [ngSwitch]="id">
      <div *ngSwitchCase="1" class="container">
        <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/1.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Rony</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
                    ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
                    ipsum doloribus?</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                    <a href="https://github.com/ronymari" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100090675751191" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/rony-mari-/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    
        <div *ngSwitchCase="2" class="container">
          <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/2.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Mariano</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
                    ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
                    ipsum doloribus?</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                    <a href="!#" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="!#" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="!#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        </div>
        <div *ngSwitchCase="3" class="container">
          <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/3.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Jorgelina</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
                    ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
                    ipsum doloribus?</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                  <a href="https://github.com/JorBaez" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.facebook.com/jor.baez" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/jorgelinabaez/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
        </div>
        </div>
        <div *ngSwitchCase="4" class="container">
          <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/4.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Eduardo</h1>
                <h3>Aprendiz multitâche</h3>
                <p>Nacido en Córdoba, en el año de nuestro Señor de 1968, dedica su existencia al aprendizaje continuo teniendo como pilar la observación y posterior análisis. 
                    Su vida transcurre sin culpas pero con un fuerte acento en la responsabilidad personal que le atañe, tanto en las acciones como en las inacciones que ocurren día a día en la toma conciente e inconciente de deciciones.
                    Sin temor a decir su verdad pues se sabe imperfecto, posee la libertad necesaria para aceptar sus errores.</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                  <a href="https://github.com/Eduardo-Villella" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="!#" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="!#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
        </div>
        </div>
        <div *ngSwitchCase="5" class="container">
          <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/5.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Melisa</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
                    ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
                    ipsum doloribus?</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                  <a href="https://github.com/melisaapaz" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.facebook.com/melisa.apaz" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/melisa-apaz-22b90652/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
        </div>
        </div>
        <div *ngSwitchCase="6" class="container">
          <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/6.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Juanjo</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
                    ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
                    ipsum doloribus?</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                  <a href="https://github.com/diazjuanjo" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="!#" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="!#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
        </div>
        </div>
        <div *ngSwitchCase="7" class="container">
          <div class="row">
            <div class="col custom-image">
                <img src="assets/images/team/7.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Alejandra</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
                    ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
                    ipsum doloribus?</p>
                
                <!-- Enlaces a redes sociales con iconos -->
                <div class="social-links">
                  <a href="https://github.com/Marialer27" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100087712833506&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="!#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
        </div>
        </div>
        <p *ngSwitchDefault>...</p>
    </div>


