<div [ngSwitch]="id">
  <div *ngSwitchCase="1" class="container">
    <div class="row">
      <div class="col">
        <img src="assets/team/1.jpg" alt="">
      </div>
      <div class="col">
        <h1 class="mt-5 display-4 ">Rony</h1>
        <h3>Desarrollador Web</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
          ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
          ipsum doloribus?</p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="2" class="container">
    <div class="row">
      <div class="col">
        <img src="assets/team/2.jpg" alt="">
      </div>
      <div class="col">
        <h1 class="mt-5 display-4 ">Diana López</h1>
        <h3>Desarrollador Web</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
          ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
          ipsum doloribus?</p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="3" class="container">
    <div class="row">
      <div class="col">
        <img src="assets/team/3.jpg" alt="">
      </div>
      <div class="col">
        <h1 class="mt-5 display-4 ">Joaquín Aguirre</h1>
        <h3 class="display-5">Diseñador</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis
          ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate
          ipsum doloribus?</p>
      </div>
    </div>
  </div>
  <p *ngSwitchDefault>...</p>
</div>