
<div class="flex flex-column align-items-center pt-8 ">

    <h1 class="text-center pb-5">Formulario de Inscripcion Al Curso</h1>
    
    <form class="pt-5" [formGroup]="userForm" (ngSubmit)="addUser()">

        <div class="pb-4 flex flex-column lg:flex-row lg:gap-5">
            <div class="field pb-4">

                <label for="firstName" class="block font-bold">Nombre<span class="text-red-600 ml-2">*</span></label>
                <input class="" type="text" pInputText placeholder="Nombre" formControlName="firstName">
            </div>
            <div class="field pb-4">
    
                <label for="lastName" class="block font-bold">Apellido<span class="text-red-600 ml-2">*</span></label>
                <input type="text" pInputText placeholder="Apellido" formControlName="lastName">
            </div>
            <div class="field pb-4">
    
                <label for="idCard" class="block font-bold">DNI<span class="text-red-600 ml-2">*</span></label>
                <input type="number" pInputText placeholder="99999999" formControlName="idCard">
            </div>
        </div>

        <div class="flex flex-column lg:flex-row lg:gap-5 pb-4">
            <div class="field ">
    
                <label for="email" class="block font-bold">Email<span class="text-red-600 ml-2">*</span></label>
                <input type="email" pInputText placeholder="ejemplo@gmail.com" formControlName="email">
            </div>
            <div class="field ">
    
                <label for="phone" class="block font-bold">Telefono<span class="text-red-600 ml-2">*</span></label>
                <input type="tel" pInputText placeholder="(+99) 9 999 999-9999" formControlName="phone">
            </div>
            <div class="field ">

                <label for="birthdate" class="block font-bold">Fecha de Nacimiento<span class="text-red-600 ml-2">*</span></label>
                <input class="" type="date" pInputText placeholder="" formControlName="birthdate">
            </div>
        </div>

        <div class="lg:flex justify-content-center lg:gap-5">
<!-- 
            <div class="card flex justify-content-center  pb-4 lg:pb-0">
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full"  [options]="" placeholder="Seleccione el Curso"></p-treeSelect>
            </div> -->
            <div class="card flex flex-column justify-content-center gap-2">
                <label for="birthdate" class="block font-bold">Horario<span class="text-red-600 ml-2">*</span></label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full"  [options]="" placeholder="Seleccione el Horario"></p-treeSelect>
            </div>
        </div>
        
        <div class="card flex justify-content-center pt-7">
            <a routerLink="" pButton label="Siguiente" type="submit" class="font-bold text-xl w-12 lg:w-3"></a>
        </div>

    </form>
    
</div>



