<body>
    <div class="consejo">
        <button
            type="button"
            class="btn btn-primary" me-2
            placement="left"
            ngbPopover="Agrega referencias profesionales que puedan dar testimonio de tu experiencia y habilidades. Incluye su nombre, título, empresa y cómo se pueden contactar. Asegúrate de obtener su permiso antes de listarlos."
            popoverTitle="Para tener en cuenta"   
        >
        Consejo sobre tus refencias
        </button>
    </div>
    <div class="experienceInput">
        <form [formGroup]="referenceForm"
        (change)="userData.markForm(referenceForm)">
            <mat-form-field>
                <mat-label for="name">Nombre:</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
            <p class="error-form" *ngIf="referenceForm.controls['name'].errors?.['maxlength']">El maximo es de 45 caracteres</p>
            <br><p class="error-form" *ngIf="referenceForm.controls['name'].errors?.['pattern']">El nombre solo puede contener letras</p>

            <mat-form-field>
                <mat-label for="lastName">Apellido:</mat-label>
                <input matInput formControlName="lastName" type="text">
            </mat-form-field>
            <p class="error-form" *ngIf="referenceForm.controls['lastName'].errors?.['maxlength']">El maximo es de 45 caracteres</p>
            <br><p class="error-form" *ngIf="referenceForm.controls['lastName'].errors?.['pattern']">El apellido solo puede contener letras</p>

            <mat-form-field>
                <mat-label for="email">Mail:</mat-label>
                <input matInput formControlName="email" type="text">
            </mat-form-field>
            <p class="error-form" *ngIf="referenceForm.controls['email'].errors?.['email']">Se debe ingresar un correo valido</p>

            <mat-form-field>
                <mat-label for="phone">Telefono:</mat-label>
                <input matInput formControlName="phone" type="text">
            </mat-form-field>
            <p class="error-form" *ngIf="referenceForm.controls['phone'].errors?.['maxlength']">El maximo es de 10 caracteres</p>
            <br><p class="error-form" *ngIf="referenceForm.controls['phone'].errors?.['pattern']">El numero de contato no puede contener letras</p>

            <mat-form-field>
                <mat-label for="company">Empresa:</mat-label>
                <mat-select formControlName="company">
                    <mat-option *ngFor="let company of userData.companies" [value]="company">
                        {{company}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <div class="botonera">
                <div class="botones">
                    <button 
                    class="plus" 
                    type="submit" 
                    *ngIf="views.plusOne"
                    (click)="addReference()"
                    [disabled]="referenceForm.status === 'INVALID'">
                        <img src="./assets/Imagenes/plus.png" alt="+">
                    </button>
                    <button 
                    type="submit" 
                    mat-raised-button 
                    color="primary" 
                    (click)="updateReferece()" 
                    *ngIf="views.saveButton">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        <div class="lista">
            <ul>
                <li *ngFor="let reference of userData.references">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> {{reference.name}} {{reference.lastName}}</h5>
                            <p class="card-text"> {{reference.company}} </p>
                            <div class="botonera-card">
                                <button 
                                (click)="views.changeViews()"
                                (click)="selectedReference(reference.id)">
                                    <img src="./assets/Imagenes/editar.png" alt="Editar">
                                </button>
                                <button 
                                (click)="deleteReference(reference.id)">
                                    <img src="./assets/Imagenes/delete.png" alt="Eliminar">
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>