<button class="start" mat-flat-button color="accent" type="button" data-bs-toggle="modal" data-bs-target="#ModalSelect">
    Comencemos!
</button>

<!-- Modal -->
<div class="modal fade" id="ModalSelect" tabindex="-1" aria-labelledby="ModalSelect" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalSelect">Arma tu Curriculum</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="profileName">
                <mat-form-field>
                    <mat-label for="position">Nombre del Perfil:</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <button mat-raised-button color="accent">
                    Guardar
                </button>
            </div>
            <div class="list-container">
                <div>
                    <h3>OPCIONALES</h3>
                    <ul>
                        <li *ngFor="let option of userData.optionals">
                            <h5 class="card-title">{{option.profile}}</h5>
                            <section>
                                <mat-checkbox color="primary"></mat-checkbox>
                            </section>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>EXPERIENCIAS</h3>
                    <ul>
                        <li *ngFor="let experience of userData.experiences">
                            <h5 class="card-title">{{experience.company}}</h5>
                            <section>
                                <mat-checkbox color="primary"></mat-checkbox>
                            </section>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>REFERENCIAS</h3>
                    <ul>
                        <li *ngFor="let reference of userData.references">
                            <h5 class="card-title">{{reference.company}}</h5>
                            <section>
                                <mat-checkbox color="primary"></mat-checkbox>
                            </section>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>IDIOMAS</h3>
                    <ul>
                        <li *ngFor="let language of userData.languages">
                            <h5 class="card-title">{{language.language}} - {{language.level}} </h5>
                            <section>
                                <mat-checkbox color="primary"></mat-checkbox>
                            </section>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>HABILIDADES</h3>
                    <ul>
                        <li *ngFor="let experience of userData.experiences">
                            <h5 class="card-title">{{experience.company}}</h5>
                            <section>
                                <mat-checkbox color="primary"></mat-checkbox>
                            </section>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>FORMACIONES</h3>
                    <ul>
                        <li *ngFor="let formation of userData.formations">
                            <h5 class="card-title">{{formation.institute}}</h5>
                            <section>
                                <mat-checkbox color="primary"></mat-checkbox>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>