<app-loading></app-loading>

<div *ngIf="views.landing">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/Imagenes/cvassistantlogo.png" alt="logo cvassistant">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nosotros">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotrosContacto">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotrosContacto">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
                <button mat-flat-button routerLink="login" (click)="views.navBarShow = true"
                    (click)="views.hideLanding()" class="botonesInicio" (click)="views.title = 'Iniciar Sesion'">Iniciar
                    Sesion
                </button>
            </div>
        </div>
    </nav>

    <div class="eslogan">
        <p class="eslogan-frase">Destaca entre la multitud: Tu CV perfecto con
            <br>
            <img src="assets/Imagenes/cvassistantlogo2.png" alt=""><span>CV-ASSISTANT</span>
        </p>
    </div>

    <div class="div-plantillas">

        <div class="texto-plantillas">
            <h1>Muestra tu potencial con nuestras plantillas de CV personalizadas. </h1>

            <p>Diseñadas para resaltar tus habilidades y experiencia de manera única, nuestras plantillas te brindan la
                herramienta perfecta para presentar una imagen profesional y atractiva. Impulsa tu carrera con
                confianza,
                sabiendo que tu CV refleja lo mejor de ti.</p>
            <button class="boton-creatucv" routerLink="login" (click)="views.hideLanding()"
                (click)="views.navBarShow = true" (click)="views.title = 'Iniciar Sesion'">
                Crea tu CV
            </button>

        </div>


        <div id="carrusel-plantillas" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1500">
                    <img src="assets/Imagenes/CV1.png" class="d-block w-100" alt="CV1">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <img src="assets/Imagenes/CV2.png" class="d-block w-100" alt="CV2">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <img src="assets/Imagenes/CV3.png" class="d-block w-100" alt="CV3">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <img src="assets/Imagenes/CV4.png" class="d-block w-100" alt="CV4">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <img src="assets/Imagenes/CV5.png" class="d-block w-100" alt="CV5">
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <img src="assets/Imagenes/CV6.png" class="d-block w-100" alt="CV6">
                </div>
            </div>
        </div>
    </div>

    <div class="div-objetivos">

        <div class="card-objetivos">

            <img class="imagen-objetivo" src="assets/Imagenes/diana.png" alt="diana">


            <h5 class="titulo-objetivo">Diseño Intuitivo</h5>
            <p class="Descripcion-objetivo">Navega y crea tu CV con facilidad gracias a nuestro diseño intuitivo. Todo
                está
                en su lugar, para que puedas concentrarte en resaltar tu experiencia y habilidades.</p>

        </div>
        <div class="card-objetivos">

            <img class="imagen-objetivo" src="assets/Imagenes/paleta-de-color.png" alt="">


            <h5 class="titulo-objetivo">Personalización Sencilla</h5>
            <p>Ajusta el aspecto de tu CV a tu estilo en cuestión de minutos. Cambia colores, fuentes y diseños con
                facilidad para reflejar tu individualidad y presentar un CV único.</p>

        </div>
        <div class="card-objetivos">

            <img class="imagen-objetivo" src="assets/Imagenes/reloj-de-arena.png" alt="">


            <h5 class="titulo-objetivo">Resultados Rápidos</h5>
            <p class="Descripcion-objetivo">Obtén tu CV listo en cuestión de minutos. Nuestra plataforma simplifica el
                proceso para que puedas estar listo para las oportunidades laborales en tiempo récord.</p>

        </div>
    </div>
    <div class="informacion" id="nosotrosContacto">
        <div class="quienes-somos">
            <h1>¿Quienes somos?</h1>
            <p>
                Somos un equipo apasionado y dedicado que entiende la importancia de presentar tu experiencia y
                habilidades
                de
                la mejor manera posible. En <span>Cv Assistant</span>, nos especializamos en brindarte la herramienta
                perfecta
                para crear currículums vítae profesionales y atractivos en línea. Nuestra misión es simplificar el
                proceso
                de
                creación de CV, ofreciendo plantillas personalizables y una interfaz intuitiva. Sabemos que tu CV es tu
                carta de
                presentación en el mundo laboral, y estamos aquí para ayudarte a destacar entre la multitud y alcanzar
                tus
                metas
                profesionales. Confía en nosotros para impulsar tu carrera con un currículum que refleje tu potencial y
                logros
                de manera excepcional."
            </p>
        </div>

        <div class="preguntas-frecuentes">
            <h1>Preguntas frecuentes</h1>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Cómo funciona el proceso de creación de CV en línea?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>El proceso es simple. Te registras en nuestro sitio, eliges una plantilla de CV que se adapte a tu
                    estilo
                    y
                    necesidades, luego ingreses tu información, como experiencia laboral y educación. Puedes
                    personalizar el
                    diseño y guardar tu CV en línea o descargarlo en varios formatos.</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Necesito tener experiencia en diseño para utilizar CvAsisstant?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>No, para nada. la aplicacion está diseñada pensando en la facilidad de uso. Nuestras plantillas
                    predefinidas
                    y herramientas de personalización intuitivas hacen que sea fácil crear un CV profesional sin
                    necesidad
                    de
                    habilidades de diseño.</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Qué plantillas de CV están disponibles? ¿Puedo personalizarlas?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Ofrecemos una variedad de plantillas de CV diseñadas para diferentes estilos y profesiones. Puedes
                    elegir
                    la
                    que mejor se adapte a ti y personalizarla al cambiar colores, fuentes y disposición.</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Cómo puedo empezar a crear mi CV?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Comienza registrándote en nuestra plataforma. Luego, selecciona una plantilla de CV y sigue las
                    instrucciones
                    para agregar tu información. Puedes guardar y editar tu CV en cualquier momento.</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Qué tipo de información debo proporcionar al crear mi CV?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Deberás proporcionar detalles como tu experiencia laboral, educación, habilidades y cualquier otro
                    dato
                    relevante para tu historial profesional. Nuestra interfaz te guiará a través de los campos
                    esenciales.
                </p>
            </mat-expansion-panel>
        </div>
    </div>

    <footer>
        <div class="formulario-enlaces" id="contacto">
            <div class="enlaces">
                <h1>Enlaces directos</h1>
                <a href="#nosotrosContacto">Preguntas Frecuentes</a>
                <a href="#nosotrosContacto">Quienes somos</a>
                <a routerLink="login" (click)="views.navBarShow = true" (click)="views.title = 'Iniciar Sesion'"
                    (click)="views.hideLanding()">Iniciar sesion</a>
            </div>
            <div class="fomulario-contacto">
                <form class="formulario">
                    <h1>Contacto</h1>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Gonzalo">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email </mat-label>
                        <input type="email" matInput placeholder="nombre@dominio.com" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Mensaje </mat-label>
                        <textarea matInput placeholder="Hola, Quisiera consultar..."></textarea>
                    </mat-form-field>

                    <button mat-stroked-button>Enviar</button>
                </form>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>© 2023 - CV Assistant. Todos los derechos reservados.</p>
    </div>
</div>
<app-nav-bar *ngIf="views.externalComponent"></app-nav-bar>
<router-outlet *ngIf="views.externalComponent"></router-outlet>