<section class="w-full flex flex-col gap-4 mt-[100px] md:mt-[120px] lg:mt-[0px] mb-12">
  <div class="flex justify-center items-center curved relative h-36 pb-10" style="background: linear-gradient(to left top, rgb(255, 55, 147), rgb(63, 40, 131), rgb(255, 64, 33));">

    <p class="text-[32px] text-white font-semibold title-steps">6 Pasos para ser Voluntario</p>
  </div>
<div>
  <ol class="ol-cards alternate">
    <li style="--ol-cards-color-accent:#F19F7E">
      <div class="step"><i class="fab fa-codepen"></i></div>
      <div class="title">Piensa</div>
      <div class="content">
        <p class="font-semibold">¿Qué te mueve?</p>
        <p>Quizás sean tus ideas, tus valores, la solidaridad, la indignación ante la injusticia, la necesidad de hacer
          algo útil,
          tu amor por la naturaleza o las ganas de cambiar el mundo.</p>
      </div>
    </li>
    <li style="--ol-cards-color-accent:#FF4021">
      <div class="step"><i class="fab fa-github"></i></div>
      <div class="title">Mira</div>
      <div class="content">
        <p class="font-semibold">¿Qué necesidades y problemas hay en tu entorno?</p>
        <p>Seguro que muy cerca de de ti se necesitan tu solidaridad y tus ganas de regalar tiempo.</p>
      </div>
    </li>
    <li style="--ol-cards-color-accent:#FD94C1">
      <div class="step"><i class="fab fa-html5"></i></div>
      <div class="title">Valora</div>
      <div class="content">
        <p class="font-semibold">¿Qué puedes hacer tú?</p>
        <p>¡Millones de cosas!
          Toda depende de tu disponibilidad, tus capacidades y tus intereses.</p>
      </div>
    </li>
    <li style="--ol-cards-color-accent:#FF3793">
      <div class="step"><i class="fab fa-css3"></i></div>
      <div class="title">Contacta</div>
      <div class="content">
        <p class="font-semibold">¿Con qué organización quieres colaborar?</p>
        <p>Hay muchísimas organizaciones que necesitan voluntarios/as com tú, sólo tienes que encontrar la que te
          enamore.</p>
      </div>
    </li>
    <li style="--ol-cards-color-accent:#B389C7">
      <div class="step"><i class="fab fa-creative-commons"></i></div>
      <div class="title">Participa</div>
      <div class="content">
        <p class="font-semibold">¿Estás a punto para implicarte?</p>
        <p>Comprométete, entusiásmate, trabaja en el proyecto que has escogido y disfruta de la experiencia.</p>
      </div>
    </li>
    <li style="--ol-cards-color-accent:#816AAC">
      <div class="step"><i class="fab fa-creative-commons"></i></div>
      <div class="title">Fórmate</div>
      <div class="content">
        <p class="font-semibold">¿Necesitas saber más?</p>
        <p>Quizás el proyecto que has escogido necesita habilidades o conocimientos específicos. Fórmate para realizar
          mejor tu
          voluntariado.</p>
      </div>
    </li>
  </ol>
</div>
</section>
