<header
  class="w-full p-4 bg-darkSlateBlue rounded-b-3xl shadow-md shadow-dimGray"
>
  <article class="flex items-center justify-start gap-2">
    <figure class="w-[50px] aspect-square rounded-full border-2 border-white">
      <img
        src="/assets/imgs/avatar.png"
        alt="avatar"
        class="w-full h-full object-contain"
      />
    </figure>
    <div class="flex flex-col items-start justify-start text-start">
      <h1 class="text-white font-bold">Exe Dev</h1>
      <ul class="flex items-center justify-center gap-2 text-xs">
        <li>⭐</li>
        <li>⭐</li>
        <li>⭐</li>
      </ul>
    </div>
  </article>
  <div class="min-w-[100px] max-w-[200px]">
    <article class="p-4 flex items-center justify-center gap-2 bg-white">
      <figure class="w-[80px]">
        <img
          src="/assets/imgs/clock.svg"
          alt="imagen reloj"
          class="w-full h-full object-contain"
        />
      </figure>
      <div class="flex flex-col text-center">
        <h2>44</h2>
        <p>Tus horas acumuladas</p>
      </div>
    </article>
  </div>
</header>
