<header class="header">
    <div class="header-logo">
        ABC Muebleria
    </div>
    <nav class="header-nav">
        <li class="nav-item" routerLinkActive="active">Home</li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="./form-add-product">Agregar Producto</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="./form-update">Actualizar Producto</a></li>
        <li class="nav-item" routerLinkActive="active">Buscar Producto</li>
        <li class="nav-item" routerLinkActive="active">Eliminar Producto</li>
    </nav>
    <div class="header-user">
        User
    </div>
</header>

<div>
    <router-outlet></router-outlet>
</div>

<!-- <app-form-add-product></app-form-add-product> -->