.header {
    width: 100%;
    min-height: 5rem;
    background-color: #115DFC;
    font-family: 'Inter', sans-serif;
    color: #eeebe7;
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5rem;
}

.header-nav ul {
    padding: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.nav-item {
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding: .5rem 0;
}

.nav-item:hover {
    padding: .5rem 0;
    background-color: #3359ac;
    border-radius: .4rem;
}

.nav-item>a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.active {
    padding: .5rem 0;
    background-color: #3359ac;
    border-radius: .4rem;
}

.header-der {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart>svg, .header-user>svg, .header-menu-button {
    display: flex;
    align-items: center;
    font-size: 2rem;
    fill: #eeebe7;
}

.header-menu-button {
    display: none;
}

/* Estilos para el contenedor principal del contenido */
.container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para el contenido principal */
  .content {
    flex: 1; 
  }
  
  /* Estilos para el footer */
  .footer {
    flex-shrink: 0; 
  }

/* Dropdown Button */
.dropbtn {
    background-color: #115dfc;
    color: white;
    padding: 6px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    height: 40px;
    
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #3359ac;
    border-radius: 50%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #115dfc;
    min-width: 160px;
    box-shadow: 0px 1px 6px 0px #115dfc;
    left: auto;
    right: 0;
    z-index: 100;
  }
  

  .dropdown-content ul  {
    list-style: none;
    padding-left: 0px;
    color: #eeebe7;
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 1.3em;
    padding: 12px 15px;
  }
  .dropdown-content ul li a {
    margin: 0;
    color: #eeebe7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #3359ac;
    padding: 0px;
  }
  
  /* Show the dropdown menu (use ngIf to add/remove this class when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
  

@media screen and (max-width: 920px) {

    .header {
        min-height: 4rem;
    }
    
    .header-logo {
        font-size: 1.25rem;
    }

    .cart>svg, .header-user>svg, .header-menu-button {
        font-size: 1.5rem;;
    }

    .header-menu-button {
        display: block;
    }

    .header-nav {
        min-width: 50%;
        position: absolute;
        right: 0;
        top: 4rem;
        background-color: #115DFC;
        transition: all .8s;
        display: none;
        z-index: 100;
    }
    
    .header-nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        font-size: .8rem;
    }

    .nav-item {
        width: 100%;
        border-top: 2px solid #2c6efc;
    }

    .nav-item a {
        justify-content: center;
    }

    .header-menu-button {
        cursor: pointer;
    }

    .open-menu {
        display: block;
    }

    .close-menu {
        display: none;
    }
}