<header class="header">
  <div class="header-logo">ABC Muebleria</div>
  <nav class="header-nav" [class.open-menu]="isMenuOpen">
    <ul class="navbar-menu">
      <li class="nav-item" routerLinkActive="active" *ngFor="let item of menu" >
        <a *ngIf="item.type <= userType" [routerLink]='item.paht'>{{ item.name }}</a>
      </li>
    </ul>
  </nav>

  <div class="header-der">
    <a *ngIf="userType==0" [matBadge]="total$ | async" matBadgeColor="warn" class="cart" routerLink="./shopping-cart">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="currentColor"
        class="bi bi-cart3"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
    </a>
    <!--Modificacion boton-->
    <div class="dropdown" (click)="onButtonClick()">
      <button class="dropbtn">
        <svg
        class="user"
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </svg>
      </button>
      <!--Menu delplegable usuario Autenticado-->
      <div class="dropdown-content" *ngIf="isDropdownOpen && isAuthenticated">
        <ul style="list-style: none;">
          <li >
            <!--¡ Hola {{perfilUsuario.nombre}} !-->
            ¡Hola Juan Alberto!
          </li>
          <li><a href="./dashboard/perfil-Users">Perfil</a></li>
          <li><a href="./dashboard/home">Home</a></li>
          <hr>
          <li (click)="logout()"><a href="./dashboard/login">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>

    <div class="header-menu-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </div>
  </div>
</header>

<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
