.header {
    width: 100%;
    min-height: 5rem;
    background-color: #115DFC;
    font-family: 'Inter', sans-serif;
    color: #eeebe7;
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5rem;
}

.header-nav {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    padding: 0.5rem;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

.active, .nav-item:hover {
    background-color: #979797;
    border-radius: .8rem;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    justify-content: center;
}

.header-user {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #979797;
    border-radius: .8rem;
}