<body>
    <h1>OPCIONALES</h1>

    <!-- 
id -- no se ingresa -- NN
marital_id -- se ingresa desde Maritals -- NN * 
sexs_id -- se ingresa desde Sexs -- NN *
countries_id -- se ingresa desde Countries -- NN *
profile *
webPage *
linkedIn *
hobbies *
aptitudes *
driverLicense *
aboutMe *
achievements *
address *
zipCode * 
deletedAt -- no se ingresa
 -->

    <div class="optionalsInput">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <label for="profile">Perfil:</label><br>
                    <textarea name="profile" cols="30" rows="10"></textarea><br>
                    <label for="webPage">Pagina Web:</label><br>
                    <input type="text" name="webPage"><br>
                    <label for="linkedIn">linkedIn:</label><br>
                    <input type="text" name="linkedIn"><br>
                    <label for="zipCode">Codigo postal:</label><br>
                    <input type="number" name="zipCode">
                </div>
                <div class="carousel-item">
                    <label for="aboutMe">Sobre Mi:</label><br>
                    <textarea name="aboutMe" cols="30" rows="10"></textarea><br>
                    <mat-form-field>
                        <mat-label>Licensia de conducir</mat-label>
                        <mat-select name="driverLicense" id="">
                            <mat-option value="Si">Si</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Nacionalidad</mat-label>
                        <mat-select name="countries" id="">
                            <mat-option *ngFor="let country of countries" [value]="country.country">
                                {{country.country}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <label for="address">Direccion:</label><br>
                    <input type="text" name="address">
                </div>
                <div class="carousel-item">
                    <mat-form-field>
                        <mat-label>Estado Civil</mat-label>
                        <mat-select name="marital" id="">
                            <mat-option *ngFor="let condition of marital" [value]="condition.condition">
                                {{condition.condition}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Genero</mat-label>
                        <mat-select name="sexs" id="">
                            <mat-option *ngFor="let sex of sexs" [value]="sex.gender">
                                {{sex.gender}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <label for="hobbies">Pasatiempos:</label><br>
                    <textarea name="aptitudes" cols="30" rows="3"></textarea><br>
                    <label for="achievements">Logros:</label><br>
                    <textarea name="aptitudes" cols="30" rows="3"></textarea><br>
                    <label for="aptitudes">Aptitudes:</label><br>
                    <textarea name="aptitudes" cols="30" rows="3"></textarea>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="botonera">
        <button mat-raised-button color="primary">Guardar</button>
        <button mat-raised-button color="warn">Salir</button>
    </div>
</body>