<h1>OPCIONALES</h1>

<!-- 
id -- no se ingresa -- NN
marital_id -- se ingresa desde Maritals -- NN
sexs_id -- se ingresa desde Sexs -- NN
countries_id -- se ingresa desde Countries -- NN
profile
webPage
linkedIn
hobbies
aptitudes
driverLicense
aboutMe
achievements
address
zipCode
deletedAt -- no se ingresa
 -->

 <div>
    <div>
        <label for="profile">Perfil:</label><br/>
        <textarea name="profile" cols="30" rows="10"></textarea>
    </div>
    <div>
        <button>Anterior</button>
        <Button>Siguiente</Button>
    </div>
 </div>