.background-courses {
    padding-top: 3rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: radial-gradient(circle, #08008f 0%, #0868da 43%, #00d4ff 100%);

}