<!-- aca no se como se hace...
        - en el .ts se busca la data de cursos
        - y en el .html se itera con esa data y se usa el app-card por cada iteracion. 
            - poner tambien el div col-lg-4 col-md-6 para hcerlo responsive
-->


<!-- <div class="background-courses">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>

            <div class="col-lg-4 col-md-6">
                <app-card></app-card>
            </div>

            <div class="col-lg-4 col-md-6">
                <app-card></app-card>
            </div>

            <div class="col-lg-4 col-md-6">
                <app-card></app-card>
            </div>

            <div class="col-lg-4 col-md-6">
                <app-card></app-card>
            </div>

            <div class="col-lg-4 col-md-6">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div> -->



<div class="background-courses">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let course of courses">
                <app-card [course]="course"></app-card>
            </div>
        </div>
    </div>
</div>