.contenedor{

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.card-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 20px;
   
    
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    white-space: normal;
    
}

.card-content p{
    width: 100%;
    white-space: normal ;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número máximo de líneas */
    overflow: hidden;
    text-overflow: ellipsis; 
}



    

.card-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.titulo{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    width: 20ex;
    white-space: normal;
}

.subtitulo{
    color: #555;
    width: 15ex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valor span{

    font-size: 16px;
    font-weight: 500;
}


button{
    font-size: 12px;
    margin: 10px 0;
    
}


.puntos{
    font-size: 24px;
    color:#ff4081 ;
    font-weight: 500;
}

.sin-voluntario{
    justify-content: center!important;
}

@media (min-width:650px) {
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width:1000px) {
    
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
    }
}