.fondo-degradado{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 54px);
    background-image: linear-gradient(90deg,#8c52ff,#1bdaff);
}

.titulo{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80vw;
    height: auto;
}

table{
    width: 100%;
    height: auto;
    
}

.contenedor-filtro{
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro{
    width: 90%;
    height: auto;
    padding-top: 10px;
}

.titulo-acciones{
    text-align: center;
    padding: 0 !important;
}

.contenedor-acciones{
    display: flex;
    justify-content: center;
}

@media (min-width:650px) {
       .contenedor{
        width: 500px;
       }
}
