
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// paleta generada usando un generador no oficial, royal-blue: 316bdb, pumpkin orange: f46c19, warn opcional es rojo auburn: AE2D32, color de fondo: _ _ _, considerar usar la herramienta de angular material.
$logo-blue-palette: (
  50 : #e6edfb,
    100 : #c1d3f4,
    200 : #98b5ed,
    300 : #6f97e6,
    400 : #5081e0,
    500 : #316bdb,
    600 : #2c63d7,
    700 : #2558d2,
    800 : #1f4ecd,
    900 : #133cc4,
    A100 : #f4f6ff,
    A200 : #c1cdff,
    A400 : #1a45aa,
    A700 : #0e45c5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$pumpkin-orange-palette: (
  50 : #feede3,
    100 : #fcd3ba,
    200 : #fab68c,
    300 : #f7985e,
    400 : #f6823c,
    500 : #f46c19,
    600 : #f36416,
    700 : #f15912,
    800 : #ef4f0e,
    900 : #ec3d08,
    A100 : #f3ddce,
    A200 : #f46c19,
    A400 : #f07630,
    A700 : #f15d18,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: rgba(black, 0.87),
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$santex-academy-primary: mat.define-palette($logo-blue-palette);
$santex-academy-accent: mat.define-palette($pumpkin-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$santex-academy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$santex-academy-theme: mat.define-light-theme((
  color: (
    primary: $santex-academy-primary,
    accent: $santex-academy-accent,
    warn: $santex-academy-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($santex-academy-theme);

