@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --cui-blue: #0d6efd;
    --cui-indigo: #6610f2;
    --cui-purple: #6f42c1;
    --cui-pink: #d63384;
    --cui-red: #dc3545;
    --cui-orange: #fd7e14;
    --cui-yellow: #ffc107;
    --cui-green: #198754;
    --cui-teal: #20c997;
    --cui-cyan: #0dcaf0;
    --cui-black: #000015;
    --cui-white: #fff;
    --cui-gray: #8a93a2;
    --cui-gray-dark: #636f83;
    --cui-gray-100: #ebedef;
    --cui-gray-200: #d8dbe0;
    --cui-gray-300: #c4c9d0;
    --cui-gray-400: #b1b7c1;
    --cui-gray-500: #9da5b1;
    --cui-gray-600: #8a93a2;
    --cui-gray-700: #768192;
    --cui-gray-800: #636f83;
    --cui-gray-900: #4f5d73;
    --cui-primary: #321fdb;
    --cui-secondary: #9da5b1;
    --cui-success: #2eb85c;
    --cui-info: #39f;
    --cui-warning: #f9b115;
    --cui-danger: #e55353;
    --cui-light: #ebedef;
    --cui-dark: #4f5d73;
    --cui-primary-rgb: 50, 31, 219;
    --cui-secondary-rgb: 157, 165, 177;
    --cui-success-rgb: 46, 184, 92;
    --cui-info-rgb: 51, 153, 255;
    --cui-warning-rgb: 249, 177, 21;
    --cui-danger-rgb: 229, 83, 83;
    --cui-light-rgb: 235, 237, 239;
    --cui-dark-rgb: 79, 93, 115;
    --cui-white-rgb: 255, 255, 255;
    --cui-black-rgb: 0, 0, 21;
    --cui-body-color-rgb: 44, 56, 74;
    --cui-body-bg-rgb: 255, 255, 255;
    --cui-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --cui-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cui-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --cui-body-font-family: var(--cui-font-sans-serif);
    --cui-body-font-size: 1rem;
    --cui-body-font-weight: 400;
    --cui-body-line-height: 1.5;
    --cui-body-color: rgba(44, 56, 74, 0.95);
    --cui-body-bg: #fff;
    --cui-border-width: 1px;
    --cui-border-style: solid;
    --cui-border-color: #d8dbe0;
    --cui-border-color-translucent: rgba(0, 0, 21, 0.175);
    --cui-border-radius: 0.375rem;
    --cui-border-radius-sm: 0.25rem;
    --cui-border-radius-lg: 0.5rem;
    --cui-border-radius-xl: 1rem;
    --cui-border-radius-2xl: 2rem;
    --cui-border-radius-pill: 50rem;
    --cui-heading-color: unset;
    --cui-link-color: #321fdb;
    --cui-link-hover-color: #2819af;
    --cui-code-color: #d63384;
    --cui-highlight-bg: #fff3cd;
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;    
}

.a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.a span{
background-color: black;
padding: .3em;

}