@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming';

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}