@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  /* font-family: "Roboto", sans-serif; */
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

app-root {
  min-width: 100%;
}
