/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    font-family: 'Inter', sans-serif;
    box-sizing: inherit;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
