/* styles.css */

/* Estilos para el carrusel */
.carousel-inner img {
  height: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Estilos para los enlaces en el carrusel */
.carousel-inner a {
  color: #007bff;
  text-decoration: none;
}

/* Agrega más reglas CSS según tus necesidades */

/* Define los colores personalizados */
:root {
  --color_white: #fff;
  --color_prime: #5ad67d;
  --color_grey: #e2e2e2;
  --color_grey_dark: #a2a2a2;
}

/*  ESTILO CARDS  */

/* Estilo general de las tarjetas */
.blog-card {
  display: flex;
  margin: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
 /* Alto igual al de la imagen */
}

.blog-card:hover {
  transform: scale(1.03);
}


/* Estilo de las imágenes en las tarjetas */
.blog-card .photo img {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Para que las imágenes se ajusten a las tarjetas */
}

/* Alinear la imagen de la segunda tarjeta a la derecha */
#seccion2 .photo {
  order: 2; /* Cambiamos el orden para que aparezca a la derecha */
}

/* Estilo del contenido de las tarjetas */
.blog-card .description {
  flex: 2;
  padding: 20px;
}

.blog-card h1 {
  font-size: 24px;
  margin: 0;
}

.blog-card h2 {
  font-size: 18px;
  color: #5ad67d;
  margin: 10px 0;
}

.blog-card p {
  font-size: 16px;
  margin: 10px 0;
}

/* Estilo del botón "Nuestros cursos" adaptado a Bootstrap */
.blog-card .btn-read-more {
  margin-top: 20px;
}

.blog-card .btn-read-more a {
  text-decoration: none;
  color: #ff6501; /* Cambiamos el color del texto */

  border: 2px solid #ff6501; /* Agregamos un borde en lugar de fondo */
  border-radius: 5px;
  transition: background-color 0.2s;
}

.blog-card .btn-read-more a:hover {
  background-color: #ff6501; /* Cambiamos el color de fondo al hacer hover */
  color: #fff; /* Cambiamos el color del texto al hacer hover */
}

/* SECCION NOVEDADES*/

/*.container{
  display: flex;
  background: #030321;
  margin-left: 0;
  width: 100%;
  height: 100px;
  
}*/
/* Estilo base para el título */


/*.container {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin:0;
  padding: 0;
  height: 70px;
  background:#000039; #2d2c55;
  
  
}


.text-copy {

  font: 12em 'Montserrat';
  fill:none;
    padding-left: 20px;
    stroke-dasharray: 6% 29%;
    stroke-width: 7px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
    font-family: 'Montserrat', sans-serif;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}*/


/* Estilo para el contenedor del botón */
.button-container {
  display: flex;
 
  height:50px;
}

/* Estilo base para el título */
h3 {
  font-size: 24px;
  color:white;
  font-weight: 400;
  cursor: pointer;
}

/* Definir la animación */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

/* Estilo para el botón */
.animated-button {
  animation: bounce 2s ease-in-out infinite;
  background-color:#fb6a3d; /* Cambia el color de fondo del botón a azul */
  padding: 5px 20px; /* Añade relleno al botón para que sea más grande */
  border-radius: 80px;
  margin-left: 100px;
}


