<section class="w-full flex flex-col mb-8 ">
  <header class="w-full">
    <figure class="relative w-full h-[400px] lg:h-[500px]">
      <img
        src="/assets/imgs/header-about.webp"
        alt=""
        class="w-full h-full object-cover"
      />
      <div
        class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-[.5]"
      ></div>
      <h2
        class="animate-flip-up animate-duration-[1500ms] absolute inset-0 flex items-center justify-center text-center text-white font-bold text-4xl sm:text-6xl lg:hover:animate-wiggle"
      >
        ¿Quienes Somos?
      </h2>
    </figure>
  </header>
  <article class="p-4 lg:p-8">
    <ul class="w-full flex flex-col gap-4 sm:gap-12">
      <li>
        <p
          class="text-center text-lg sm:text-2xl sm:w-[80%] sm:m-auto xl:text-3xl"
        >
          En <b class="text-darkSlateBlue">VolunTime</b>, creemos en el poder de
          la colaboración y la voluntad de hacer el bien. Somos una plataforma
          dedicada a unir a organizaciones y voluntarios con el propósito de
          crear un impacto positivo en nuestra sociedad. Nuestro objetivo es
          simple pero poderoso: conectar las manos dispuestas a ayudar con las
          causas que necesitan apoyo.
        </p>
      </li>
      <li
        class="w-full flex flex-col sm:flex-row items-start justify-center gap-4"
      >
        <figure class="hidden w-full lg:flex">
          <img
            src="/assets/imgs/mision-about.webp"
            alt="imagen oficina"
            class="w-full h-full object-cover rounded-md shadow-lg"
          />
        </figure>
        <div class="w-full flex flex-col">
          <span class="font-bold text-2xl sm:text-4xl">Nuestra Misión</span>
          <p class="text-center text-lg sm:text-2xl">
            Nuestra misión es facilitar la unión perfecta entre organizaciones
            sin fines de lucro y personas dispuestas a dedicar su tiempo y
            habilidades para el bienestar de la comunidad. Entendemos que las
            organizaciones a menudo enfrentan desafíos en la búsqueda de
            voluntarios adecuados, y al mismo tiempo, muchas personas desean
            ofrecer su tiempo y talento de manera significativa. Voluntime se
            establece como el puente que llena este vacío, permitiendo que ambas
            partes trabajen juntas en armonía
          </p>
        </div>
      </li>
      <li
        class="w-full flex flex-col sm:flex-row items-start justify-center gap-4"
      >
        <div class="w-full flex flex-col">
          <span class="font-bold text-2xl sm:text-4xl">Nuestra Visión</span>
          <p class="text-center text-lg sm:text-2xl">
            En <b class="text-mediumViolet">Voluntime</b>, nuestro compromiso es
            brindar una experiencia integral y efectiva tanto a las
            organizaciones como a los voluntarios. Juntos, estamos construyendo
            un futuro más solidario, un clic a la vez.
          </p>
        </div>
        <figure class="hidden w-full lg:flex">
          <img
            src="/assets/imgs/vision-about.webp"
            alt="imagen oficina"
            class="w-full h-full object-cover rounded-md shadow-lg"
          />
        </figure>
      </li>
    </ul>
    <p
      class="text-DarkGray font-bold text-sm text-center pt-4 m-auto sm:text-lg lg:text-xl lg:pt-16 lg:w-[70%]"
    >
      Voluntime: Donde las buenas intenciones se convierten en acciones
      significativas. Únete a nosotros en nuestro compromiso de construir un
      mundo mejor,
      <a routerLink="/auth/options-register" class="text-darkSlateBlue"
        >Registrate</a
      >
    </p>
  </article>
</section>
