/* general */
#inicial {
    margin-top: 1%;
}

#general {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* imagen */
#divImagen {
    display: flex;
    width: 1100px; /* revisar medidas y maquetado */
    background-color: white;
    height: 500px;
    align-items: center;
}

#fondoImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen {
    max-width: 70%;
    border: 1px solid grey;
}

/* datos */
#datos {
    margin-left: 15px;
}

#datos label {
  display: flex;
  justify-content: right;
}

#datos p {
    display: flex;
    justify-content: right;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

#datos a {
    display: flex;
    justify-content: right;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}


/* título */
#divTitulo {
    margin: 20px;
}

#divTitulo a {
    font-size: 11px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color:cornflowerblue;
}

#divTitulo a:hover {
    color:blueviolet
}

#nombreProd {
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    width: max-content;
    margin-top: 50px;
}

/* descripción */
#divDesc {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    height: 30%;
}

#descTitulo {
    margin-left: 10px;
}

#divDescProd {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: 70%;
    color: grey;  
    font-size: small;  
}

/* seleccionables */
#divSeleccionables {
    padding: 10px;
}

#seleccionables {
    float: left;
    width: 40%;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select:hover {
    border: 2px solid;
    cursor: pointer;
}

select:focus {
    border: 2px solid;
}



/* botón */
#divBotonYPrecio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton {
    background-color: #e6b68b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    
  }

.boton:hover {
  background-color: #c47c3d;
  cursor: pointer;
}

#precio {
    color:darkslateblue
}

#relleno {
    width: 80px;
}