<app-barra></app-barra>
<div id="inicial" class="">
    <div id="general" class="d-flex">

        <!-- Imagen -->
        <div id="divImagen" class="col">
            <div id="divImagen2" class="col">
                <img id="imagen" class="img-fluid" src="assets/t796003.png" />
            </div>
        </div>

        <!-- Info -->
        <div id="datos">

            <!-- Nombres -->
            <div id="divInicial">
                <div class="d-flex justify-content-center">
                    <p id="nomProd" >{{respuesta.articulos.nombre}}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <a routerLink="/">Categoría: {{respuesta.tipo.name}}</a>
                    
                </div>
                <div class="d-flex justify-content-end">
                    <a routerLink="/">Vendedor: {{respuesta.usuario.firstName}} {{respuesta.usuario.lastName}}</a>
                </div>
            </div>

            <!-- Descripción -->
            <div id="descripcion">
                <p id="desNom">Descripción:</p>
                <div id="divDesProd">
                    <p id="desProd">{{respuesta.articulos.detalles}}</p>
                </div>
            </div>

            <!-- Seleccionables -->
            <div id="divFinal" class="d-flex text-center justify-content-between">
                <form id="elecciones" action="#" method="post">
                    <div>
                        <select [(ngModel)]="envSel" id="selectEnvio" (change)="capturarEnvio()" name="envio" required>
                            <option value="" disabled selected hidden>Opción de envío</option>
                            <option value="retiro">Retiro por local</option>
                            <option value="envio" *ngIf="respuesta.articulos.envio">Envío a domicilio</option>
                        </select>
                    </div>

                    <div>
                        <select [(ngModel)]="diasSel" (change)="capturarDias()" id="selectDias" name="dias" required>
                            <option value="" disabled selected hidden>Cantidad de días a contratar</option>
                            <option value=0>1</option>
                            <option value=1>2</option>
                            <option value=2>3</option>
                            <option value=3>4</option>
                            <option value=4>5</option>
                            <option value=5>6</option>
                            <option value=6>7</option>
                        </select>
                    </div>

                    <div>
                        <select [(ngModel)]="pagoSel" (change)="capturarPago()" id="selectPago" name="pago" required>
                            <option value="" disable selected hidden>Forma de pago</option>
                            <option value="efectivo">Pago con efectivo</option>
                            <option value="tarjeta" *ngIf="(respuesta.usuario)">Pago con tarjeta</option>
                        </select>
                    </div>
                </form>

                <!-- Botón y precio -->
                <div id="divBotonYPrecio" >
                    <div id="divAlquilar">
                        <div id="divPrecio" >
                            <p id="precio">Precio: ${{respuesta.articulos.precio}}</p>
                        </div>
                        <button id="boton" *ngIf="logeadoComprador || logeadoVendedor" type="submit" (click)="botAlq()">Alquilar Producto</button>
                        <button id="boton" *ngIf="!logeadoComprador && !logeadoVendedor" type="submit" routerLink="/registro">Cree una cuenta</button>
                        <button id="boton" *ngIf="logeadoVendedorProd" type="submit" routerLink="/">Ud es el vendedor</button>
                    </div>
                    <div id="relleno"></div>
                </div>
            </div>
        </div>
    </div>
</div>