<app-barra></app-barra>
<div id="inicial" class="">
    <div id="general" class="d-flex">
        <!-- Imagen -->
        <div id="divImagen" class="col">
            <div id="fondoImagen" class="col">
                <img id="imagen" class="img-fluid" [src]="images[0]" />
            </div>
        </div>
        <!-- Info -->
        <div id="datos" *ngIf="respuesta">
            <!-- Nombres -->
            <div id="divTitulo">
                <div class="d-flex justify-content-center">
                    <p id="nombreProd" >{{nombreArt}}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <a routerLink="/">Categoría: {{catArt}}</a>
                </div>
                <div class="d-flex justify-content-end">
                    <a routerLink="/">Vendedor: {{nomUSer}}</a>
                </div>
            </div>
            <!-- Descripción -->
            <div id="divDesc">
                <p id="descTitulo">Descripción:</p>
                <div id="divDescProd">
                    <p>{{descArt}}</p>
                </div>
            </div>
            <!-- Seleccionables -->
            <div id="divSeleccionables" class="d-flex text-center justify-content-between">
                <form id="seleccionables" action="#" method="post">
                    <div>
                        <select [(ngModel)]="envSel" (change)="capturarEnvio()" name="envio" required>
                            <option value="" selected hidden>Opción de envío</option>
                            <option value="retiro">Retiro por local</option>
                            <option value="envio" *ngIf="envBolOri">Envío a domicilio</option>
                        </select>
                    </div>
                    <div>
                        <select [(ngModel)]="diasSel" (change)="capturarDias()" name="dias" required>
                            <option value="0" selected hidden>Cantidad de días</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div>
                        <select [(ngModel)]="pagoSel" (change)="capturarPago()" name="pago" required>
                            <option value="" selected hidden>Forma de pago</option>
                            <option value="efectivo">Pago con efectivo</option>
                            <option value="tarjeta" *ngIf="envBolOri">Pago con tarjeta</option>
                        </select>
                    </div>
                </form>
                <!-- Botón y precio -->
                <div id="divBotonYPrecio">
                    <div>
                        <div>
                            <p id="precio">Precio: ${{respuesta.precio}}</p>
                        </div>
                        <button class="boton" *ngIf="(logeadoComprador || logeadoVendedor) && !logeadoVendedorProd" type="submit" (click)="botAlq()">Alquilar Producto</button>
                        <button class="boton" *ngIf="!logeadoComprador && !logeadoVendedor" type="submit" routerLink="/registro">Cree una cuenta</button>
                        <button class="boton" *ngIf="logeadoVendedorProd" type="submit" routerLink="/">Ud es el vendedor</button>
                    </div>
                    <div id="relleno"></div>
                </div>
            </div>
        </div>
    </div>
</div>