<div class="ud-main-content main-container">

  <!-- ITEM 1 -->
  <div class="grid-item-card">
  <div class="card mb-3 card1">
    <div class="row g-0">
      <div class="col-md-4 img-container">
        <div class="img-container">
          <img class="profile-img" [src]="imageSrc" *ngIf="imageSrc" alt="Imagen cargada">
        </div>
        <label class="button-loadFile custom-file-upload">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display:none;">
          Subir Foto
        </label>
      </div>
      <div class="card1-body" class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{ user.nombreCompleto }}</h1>
          <p class="card-text">Correo: {{ user.email }}</p>
          <p class="card-text">Género: {{ user.gender }}</p>
          <!-- <p class="card-text">Usuario: {{ user.username }}</p> -->
          <button type="button" class="btn card1-button" routerLink="/students/student-personalData">Mis Datos</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ITEM 2 -->
<div class="grid-item-calendar">
  <div class="calendar-container">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar class="calendar-item" [(selected)]="selected"></mat-calendar>
    </mat-card>
    <p class="selected-date">Selected date: {{selected}}</p>
  </div>
</div>


  <!-- ITEM 3 -->
  <div class="grid-item-courses">
    <h1 class="section-title">CURSOS</h1>

    <mat-card class="courses-section" *ngFor="let coursesItem of courses">

      <mat-card class="courses-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image-coursesCard"></div>
          <mat-card-title> {{ coursesItem.nombre }}</mat-card-title>
          <mat-card-subtitle>Fecha de inicio: {{ coursesItem.fechaInicio }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="courses-card-container">
          <p>Duración: {{ coursesItem.duracion }}</p>
          <p>Precio: {{ coursesItem.precio }}</p>
          <p>Descripción: {{ coursesItem.descripcion }}</p>
        </mat-card-content>
      </mat-card>

    </mat-card>
  </div>

  <!-- ITEM 4 -->
  <div class="grid-item-news">
    <h1 class="section-title">NOVEDADES</h1>

    <mat-card class="news-section" >
      
      <mat-card class="news-card-items" *ngFor="let newsItem of news">
        <mat-card-title class="news-card-title">{{ newsItem.title }}</mat-card-title>
        <div class="news-card-description">
          <p>Duracion: {{ newsItem.duration }} </p>
          <p>Descripcion: {{ newsItem.description }}</p>
        </div>
        
      </mat-card>

    
    </mat-card>
    

  </div>

</div>