<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="image-container">
                <a class="nav-link active" aria-current="page" routerLink="/">
                    <img class="image" src="../../../../../assets/imagen/IncubadoraNOC_logo-noBackground.png"
                        alt="foto-logo">
                </a>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/news">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contacto</a>
                </li>
            </ul>

            <ul *ngIf="!isLogged" class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Ingresar</a>
                </li>
            </ul>
            <ul *ngIf="isLogged" class="navbar-nav justify-content-end">               
    
    <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/course/course-list">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" *ngIf="isAdmin" routerLink="/user/user-list">Usuarios</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ username }}
        </a>
        <ul class="dropdown-menu custom-dropdown" role="menu">
            <li><a class="dropdown-item" routerLink="/profile">Mi Perfil</a></li>
            <li><a class="dropdown-item" routerLink="/course">Mis cursos</a></li>
            <li><a class="dropdown-item custom-logout" (click)="logout()">Salir</a></li>
        </ul>
    </li>
</ul>

        </div>
    </div>
</nav>
