<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="image-container">
                <a class="nav-link active" aria-current="page" routerLink="/home">
                    <img class="image" src="../../../../../assets/imagen/IncubadoraNOC_logo-noBackground.png" alt="foto-logo">
                </a>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto"> 
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/news">Noticias</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>