<section
  class="w-full flex flex-col items-center justify-center gap-6 mt-[96px] m:mt-[116px] lg:mt-0 p-4 mb-16 lg:grid containerGrd lg:place-items-start lg:pt-12"
>
  <div
    class="w-full flex flex-col items-center justify-center text-center gap-4 lg:hidden"
  >
    <h2 class="uppercase" *ngIf="volunteeringFilter.length === 0">
      Oportunidades encontradas: <b>{{ volunteering.length }}</b>
    </h2>
    <h2 class="uppercase" *ngIf="volunteeringFilter.length > 0">
      Oportunidades encontradas: <b>{{ volunteeringFilter.length }}</b>
    </h2>
    <form class="p-2 flex shadow shadow-lightGray gap-2 rounded-md">
      <label for="search" class="text-dimGray">Buscar</label>
      <input
        id="search"
        type="text"
        name="search"
        (input)="viewDataInput($event)"
        class="pl-1 border border-lightGray outline-none rounded-md"
      />
    </form>
  </div>
  <div
    class="w-full flex flex-col items-center justify-center lg:gap-12 lg:items-start"
  >
    <form
      class="hidden p-2 shadow shadow-lightGray gap-2 rounded-md lg:flex lg:w-[400px] items-center justify-center text-center lg:text-lg"
    >
      <label for="search" class="text-dimGray">Buscar</label>
      <input
        id="search"
        type="text"
        name="search"
        (input)="viewDataInput($event)"
        class="pl-1 border border-lightGray outline-none rounded-md w-full py-1"
      />
    </form>
    <app-volunteer-filters
      (selectFiltered)="filteredVolunteers($event)"
      (selectOrgByName)="filteredVolunteersByOrganization($event)"
      (selectedCategory)="filteredVolunteersByCategory($event)"
      (selectDate)="filteredVolunteersByDate($event)"
      (getAllVolunteers)="getAllVolunteers()"
    ></app-volunteer-filters>
  </div>

  <article class="w-full flex flex-col gap-4">
    <h2 class="uppercase" *ngIf="volunteeringFilter.length === 0">
      Oportunidades encontradas: <b>{{ volunteering.length }}</b>
    </h2>
    <h2 class="uppercase" *ngIf="volunteeringFilter.length > 0">
      Oportunidades encontradas: <b>{{ volunteeringFilter.length }}</b>
    </h2>
    <ng-container
      *ngIf="volunteering.length > 0 && volunteeringFilter.length === 0"
    >
      <ng-container *ngFor="let item of volunteering">
        <app-volunteer-card [data]="item"></app-volunteer-card>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="volunteeringFilter.length > 0">
      <ng-container *ngFor="let item of volunteeringFilter">
        <app-volunteer-card [data]="item"></app-volunteer-card>
      </ng-container>
    </ng-container>
  </article>
</section>
