<section class="w-full flex flex-col mt-[115px] lg:mt-0 mb-8">
  <header class="headerContact relative h-[400px] p-8 lg:p-24 lg:h-[500px]">
    <div
      class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-[.6]"
    ></div>
    <div
      class="text-white absolute inset-0 w-full flex flex-col gap-4 items-center justify-center text-center"
    >
      <h2 class="text-4xl font-bold md:text-5xl">¿Cómo podemos ayudar?</h2>
      <p class="font-semibold text-lg md:w-[80%] md:text-xl">
        ¡Gracias por visitar nuestra página de Contacto! En
        <span class="text-deepPink">Voluntime</span>, estamos aquí para
        brindarte toda la asistencia que necesitas en tu búsqueda de
        oportunidades de voluntariado y en la gestión de tu organización.<br />
        <br />
        Nuestro equipo de dedicados profesionales está listo para responder a
        tus preguntas y proporcionarte asesoramiento personalizado. Ya sea que
        busques la oportunidad perfecta de voluntariado o necesites apoyo para
        gestionar y coordinar tus proyectos como organización, estamos aquí para
        ayudarte a lograr tus objetivos de manera efectiva y significativa.<br />
      </p>
    </div>
  </header>
  <article
    class="w-full flex flex-col md:flex-row lg:pt-8 md:items-start md:justify-center"
  >
    <div class="w-full flex flex-col p-4 md:w-[50%]">
      <ul class="w-full flex flex-col gap-2 lg:gap-4">
        <li>
          <h3 class="font-bold text-2xl">Contacto</h3>
          <p class="lg:text-xl">
            En <b>Voluntime</b>, tu satisfacción es primordial y estamos
            comprometidos a brindarte una experiencia excepcional al publicar y
            aplicar a oportunidades de voluntariado. No dudes en ponerte en
            contacto con nosotros; nuestro equipo está listo para ayudarte a
            navegar en nuestro sitio y aprovechar al máximo todas las
            posibilidades que ofrecemos.
          </p>
        </li>
        <li>
          <p class="lg:text-xl">
            <i class="bx bx-map text-darkSlateBlue"></i>
            Balvanera, Buenos Aires <br />
            Argentina, ARG 12345
          </p>
        </li>
        <li class="lg:text-xl">
          <p class="flex items-center gap-2">
            <i class="bx bx-phone-incoming text-darkSlateBlue"></i> +54
            3454-076854
          </p>
          <p class="flex items-center gap-2">
            <i class="bx bx-envelope text-darkSlateBlue"></i>
            voluntime23@gmail.com
          </p>
        </li>
        <li>
          <p
            class="text-DarkGray font-bold lg:w-[80%] lg:text-lg lg:text-center"
          >
            Esperamos recibir tu mensaje pronto. ¡Juntos, hagamos realidad el
            sueño de contribuir al bienestar de nuestra comunidad a través del
            voluntariado!
          </p>
        </li>
      </ul>
    </div>
    <app-form-contact></app-form-contact>
  </article>
</section>
