<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/ejs-css/page.css">
</head>
<body>
    <div>
        <span class="short">La contraseña no puede estar vacia</span>
        <span class="minCaracters">La contraseña debe tener al menos 8 caracteres</span>
        <h1>Restablecer Contraseña</h1>
        <input id="password" type="password" placeholder="Escribir nueva contraseña" required>
        <button id="enviar">Enviar</button>
    </div>
    <span class="changeOk"> La contraseña se cambio de manera existosa. </span>
    <span class="newLink"> El enlace de cambio esta vencido, favor de solicitar uno nuevo. </span>
    <script src="/ejs-js/page.js"></script>
</body>
</html>