<div class="fondo-degradado">
    <div *ngIf="datosVoluntario$ | async as resumen; else cargando">

        <h2 class="titulo">Bienvenido {{resumen.voluntario.name}}!</h2>
        <p>Tu email es: {{resumen.voluntario.email}}.</p>
        <p>Tu dirección es: {{resumen.voluntario.address}}.</p>
        <p>Tu número de teléfono es {{resumen.voluntario.phone}}.</p>
        <p>Tienes {{resumen.voluntario.points}} puntos.</p>

        <p>Tienes {{resumen.horasTrabajadas}} horas trabajadas.</p>
        <p>Ganaste {{resumen.puntosAdquiridos}} puntos desde que te creaste la cuenta.</p>
        <p>Tienes {{resumen.tareasPendientes.length}} tareas pendientes.</p>


    </div>
    <ng-template #cargando>
        <div >
            <h2 class="titulo">Cargando ...</h2>
        </div>
    </ng-template>
</div>
