<mat-toolbar >
  <div class="contenedor">
    <div class="logo">
      <img src="../../../../assets/noc-logo.png" alt="logo">
    </div>
    <ul class="enlaces">
      <li>
        <a routerLink="/home" routerLinkActive="router-link-active" >Inicio</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="router-link-active" >Cursos</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="router-link-active" >Nosotros</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="router-link-active" >Contacto</a>
      </li>
    </ul>
    <div class="botones">
      <button mat-raised-button color="accent">Entrar</button>
      <button mat-raised-button color="primary" class="registro">Registrarse <img src="../../../../assets/2124045_arrow_essential_app_up_icon.svg" alt=""></button>
    </div>
  </div>
</mat-toolbar>
