<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Compania</h4>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Nuestros Cursos</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Inscripciones</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Estado de inscipcion</a></li>
                    <li><a href="#">Formas de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Categoria de Cursos</h4>
                <ul>
                    <li><a href="#">Frontend</a></li>
                    <li><a href="#">Backend</a></li>
                    <li><a href="#">Base de datos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Seguinos!</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>