<p>create-curso works!</p>
<button type="button" class="btn btn-primary" [routerLink]="['/cursos/index']">
  Index
</button>
<h1>{{ curso.id ? "Editar" : "Nuevo" }} Curso</h1>
<div class="container">
  <form>
    <div class="form-group">
      <label for="formGroupNombreInput">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="formGroupNombreInput"
        [(ngModel)]="curso.nombre"
        name="nombre"
      />
    </div>
    <div class="form-group">
      <label for="formGroupDescripcionInput">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="formGroupDescripcionInput"
        [(ngModel)]="curso.descripcion"
        name="descripcion"
      />
    </div>
    <div class="form-group">
      <label for="formGroupImagenInput">Imagen</label>
      <input
        type="text"
        class="form-control"
        id="formGroupImagenInput"
        [(ngModel)]="curso.imagen"
        name="imagen"
      />
    </div>

    <div class="form-group">
      <label for="formGroupRequisitosInput">Duración</label>
      <input
        type="text"
        class="form-control"
        id="formGroupRequisitosInput"
        [(ngModel)]="curso.duracion"
        name="duracion"
      />
    </div>

    <div class="form-group">
      <label for="formGroupRequisitosInput">Capacidad</label>
      <input
        type="text"
        class="form-control"
        id="formGroupRequisitosInput"
        [(ngModel)]="curso.capacidad"
        name="capacidad"
      />
    </div>
    <div class="form-group">
      <label for="formGroupRequisitosInput">Nivel</label>
      <select
        id="nivel"
        name="nivel"
        class="form-select"
        [(ngModel)]="nivelSeleccionado"
        (change)="onNivelChange($event)">
        <option [value]="undefined" disabled selected>
          Selecciona un nivel
        </option>
        <option *ngFor="let nivel of niveles" [value]="nivel.id">
          {{ nivel.nombre }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="formGroupRequisitosInput">Requisitos</label>
      <textarea
        class="form-control"
        id="formGroupRequisitosInput"
        [(ngModel)]="curso.requisitos"
        name="requisitos"
        rows="5" ></textarea>
    </div>

    <div class="form-group">
      <label for="formGroupRequisitosInput">Fecha de inicio</label>
      <input
        type="date"
        class="form-control"
        id="formGroupFechaInicioInput"
        [(ngModel)]="curso.fechainicio"
        name="fechainicio"
      />
    </div>

    <div class="form-group">
      <label for="formGroupFechaFinInput">Fecha de fin</label>
      <input
        type="date"
        class="form-control"
        id="formGroupFechaFinInput"
        [(ngModel)]="curso.fechafin"
        name="fechafin"
      />
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="guardar()">
        {{ curso.id ? "Actualizar" : "Crear" }}
      </button>

      <!--<div class="d-flex justify-content-center mb-4">
        <button class="btn btn-primary">Guardar</button>
      </div>-->
    </div>
  </form>
</div>
