<app-navbar></app-navbar>

<div class="wrapper">
  <div class="row align-items-center">
    <div class="container mt-4">
      <div *ngIf="course" class="card">
        <div class="card-header">
          <h2>Detalles del Curso</h2>
        </div>
        <div class="card-body">          
          <p><strong>Id:</strong> {{ course.id }}</p>                  
          <p><strong>Nombre:</strong> {{ course.name }}</p>
          <p><strong>Horas:</strong> {{ course.durationHours }}</p>
          <p><strong>Descripción:</strong> {{ course.description }}</p>          
          <button class="btn btn-info" (click)="redirectToEditCourse(course.id)">Editar Curso</button>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Borrar Curso
          </button>
          <button class="btn btn-info" (click)="navigateToCourseList()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de eliminar el curso de {{ course.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        <button  (click)="deleteCourse()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Si, eliminar este curso</button>
      </div>
    </div>
  </div>
</div>
