<app-barra></app-barra>
<div class="container">
  <div class="row">
    <div *ngFor="let articulo of listArticulos" class="col-md-3 mb-4 tarjeta-container">
      <div class="card" >
        <div class="card-body">
          <div id="contImg">
          <img id="FotoArticulo" [src]="images[listArticulos.indexOf(articulo)]">
          </div>
          <h5 class="card-title">{{ articulo.nombre }}</h5>
          <p>{{ articulo.detalles }}</p>
          <h6 id="Precio" class="card-subtitle">Precio: {{ articulo.precio }}</h6>
          <button (click)="verMas(articulo.id)" type="button" id="Ver-mas" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
