/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tarjeta */
.curso-card {
  width: 350px; /* Ancho fijo deseado para todas las tarjetas */
  height: 450px; /* Alto fijo deseado para todas las tarjetas */
  margin: 0 20px 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: transform 0.4s, box-shadow 0.4s;
  background-color: #fff; /* Fondo blanco en la tarjeta */
}

/* Imagen de la tarjeta */
.curso-card figure {
  width: 100%;
  height: 200%; /* Alto deseado para la imagen */
  border-radius: 10px;
  overflow: hidden;
}

.curso-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contenido de la tarjeta */
.curso-card .contenido-card {
  padding: 20px;
  flex-grow: 1;
}

/* Título de la tarjeta */
.curso-card .contenido-card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Descripción de la tarjeta */
.curso-card .contenido-card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #666;
}

/* Información adicional de la tarjeta */
.curso-card .contenido-card .duracion,
.curso-card .contenido-card .fechafin,
.curso-card .contenido-card .requisitos {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

/* Enlace dentro de la tarjeta */
.curso-card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: background 0.4s, color 0.4s;
}

/* Efecto hover de la tarjeta */
.curso-card:hover {
  box-shadow: 7px 7px 30px rgba(255, 101, 1, 0.5);
  background-color: #faf1f1; /* Cambio de fondo a negro en el hover de la tarjeta */
  transform: translateY(-3%);
}

/* Color de texto blanco en el hover del enlace */
.curso-card:hover .contenido-card a {
  background: #2fb4cc;
  color: #fff; /* Cambio de color de texto a blanco en el hover del enlace */
}

/* Estilos responsivos */
@media (max-width: 992px) {
  .curso-card {
    width: calc(50% - 20px); /* Cambiar el ancho para dispositivos más pequeños */
  }
}
/* Estilos del botón */
/* Estilos del botón */
button {
  padding: 10px 20px; /* Ajusta el padding según tus preferencias */
  background-color: #fff; /* Color de fondo al pasar el mouse */
  color: #2fb4cc; /* Color de texto al pasar el mouse */
  border: 2px solid #2fb4cc; /* Borde de color celeste */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.4s, color 0.4s, border-color 0.4s; /* Transición de colores */
}

/* Estilos hover del botón */
button:hover {
  background-color: #2fb4cc; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border-color: #2fb4cc; /* Color del borde al pasar el mouse */
}
/* Estilos responsivos */
@media (max-width: 992px) {
  .curso-card {
    width: calc(50% - 20px); /* Ancho de cada tarjeta para pantallas medianas */
  }

  /* Ajustar el tamaño del botón para pantallas medianas */
  .curso-card .contenido-card button {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .curso-card {
    width: calc(100% - 20px); /* Ancho de cada tarjeta para pantallas pequeñas */
  }

  /* Ajustar el tamaño del botón para pantallas pequeñas */
  .curso-card .contenido-card button {
    padding: 6px 12px;
  }
}
