<section class="section flex flex-col font-poppins">
  <header class="headerOrg relative w-screen h-[100px] flex justify-between items-center">
    <div class="w-full justify-center flex items-center">
<!-- <img [src]="dataTabs.image?.imageUrl" alt="Logo organización" class="w-[150px]" /> -->
    <img src="{{ image }}" alt="Logo organización" class="relative w-[160px] img" />
<!-- <input type="file" #fileInput hidden (change)="onFileSelected($event)"> -->
    </div>
  </header>
</section>



<!-- <section class="section flex flex-col font-poppins">
  <header class="headerOrg relative w-screen h-[100px] flex justify-between items-center">
    <div class="w-full justify-center flex items-center">
      <img src="{{ image }}" alt="Logo organización" class="relative w-[160px] img" />

    </div>
  </header>
 </section> -->


