input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Opcional: Puedes ajustar el margen según tus necesidades */
}

/* Ocultar los botones en navegadores que no usen el prefijo webkit */
input[type="number"] {
  -moz-appearance: textfield; /* Restablecer apariencia en Firefox */
}
