<app-nav-bar></app-nav-bar>
<div id="seccion-principal">
  <div class="contenedor-seccion-principal">
    <div class="parte-izquierda">
      <div class="textos">
        <div class="texto-principal">
          <p>
            Hola! Se parte de los cursos y talleres que brindamos.
          </p>
        </div>
        <div class="texto-secundario">
          <p>Aprende y se parte de la comunidad!</p>
        </div>
      </div>
    </div>
    <div class="parte-derecha">
      <div class="pasos">
        <ul>
          <li>
            <div class="numero">
              <span>1</span>
            </div>
            <span class="descripcion">Inscribite al curso que prefieras.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
          <li>
            <div class="numero">
              <span>2</span>
            </div>
            <span class="descripcion">Completa el curso en pocas clases.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
          <li>
            <div class="numero">
              <span>3</span>
            </div>
            <span class="descripcion">Practica y conecta con la comunidad.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
          <li>
            <div class="numero">
              <span>4</span>
            </div>
            <span class="descripcion">Comienza tu propio emprendimiento.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
