<div class="container">
    <main>
        <p class="lead py-5 text-center">Lee detalladamente cada campo y llenalo para finalizar el pago de tu curso</p>
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Carrito</span>
            <span class="badge bg-primary rounded-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Curso 1</h6>
                <small class="text-body-secondary">Descripcion del curso</small>
              </div>
              <span class="text-body-secondary">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
              <div class="text-success">
                <h6 class="my-0">Cupón</h6>
                <small>DESCUENTO2023</small>
              </div>
              <span class="text-success">−$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (ARS)</span>
              <strong>$20</strong>
            </li>
          </ul>
  
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Cupón">
              <button type="submit" class="btn btn-secondary">Agregar descuento</button>
            </div>
          </form>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Datos personales</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre/s</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="juan@gmail.com">
                <div class="invalid-feedback">
                  Ingresa un email válido
                </div>
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Domicilio</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
  
              <div class="col-md-5">
                <label for="country" class="form-label">País</label>
                <select class="form-select" id="country" required="">
                  <option value="">Seleccionar...</option>
                  <option>Argentina</option>
                </select>
                <div class="invalid-feedback">
                  Selecciona un país
                </div>
              </div>
  
              <div class="col-md-4">
                <label for="state" class="form-label">Provincia</label>
                <select class="form-select" id="state" required="">
                  <option value="">Seleccionar...</option>
                  <option>Córdoba</option>
                </select>
                <div class="invalid-feedback">
                  Selecciona una provincia
                </div>
              </div>
            </div>
  
            <hr class="my-5">
  
            <h4 class="mb-3">Datos de pago</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                <label class="form-check-label" for="credit">Tarjeta de Crédito</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="debit">Tarjeta de Débito</label>
              </div>
              <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="paypal">PayPal</label>
              </div>
            </div>
  
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                <small class="text-body-secondary">Como figura en la tarjeta</small>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Número de la tarjeta</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Vto</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
              </div>
            </div>
  
            <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">Pagar</button>
          </form>
        </div>
      </div>
    </main>
  </div>