mat-dialog-content{
    width: 80vw;
}
mat-dialog-actions{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-tabla{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
}

.item{
    border-bottom: solid rgba(0, 0, 0, .1) 1px;
}

.subtitulo{
    font-size: 14px;
    font-weight: 500;
}

@media (min-width:650px) {
    mat-dialog-content{
        width: 500px;
    }

  
}