
<div class="fondo-degradado" >
    
    <div class="seccion">
        <div class="contenedor-left">
            
            <h2 class="subtitulo">Tus horas cuentan!</h2>

            <!-- <button class="button-full-width">Conocé más</button> -->

        </div>

        <div class="contenedor-right">
            <img src="../../../../assets/season_change_f99v.svg" >

        </div>
    </div>
    <div class="fondo-blanco">

        <div class="seccion ">
            <div class="contenedor-imagen uno">
                <img src="../../../../assets/undraw_annotation_re_h774.svg" alt="">
                <p>Registrate</p>
            </div>
                
            <div class="contenedor-imagen">
                    <img src="../../../../assets/construction_-46-pa.svg" alt="">
                    <p>Ayudá a una organización</p>
            </div>
            
            <div class="contenedor-imagen tres">
                <img src="../../../../assets/happy_news_re_tsbd.svg" alt="">
                <p>Disfrutá los beneficios</p>
            </div>
            
            
        </div>
    </div>
    <div class="seccion tareas">
        <!-- <div class="contenedor-card">
            <h2 class="tareas-disponibles">Tareas Disponibles</h2>
            <div class="card">
                <mat-icon>keyboard_double_arrow_left</mat-icon>
                <div class="contenido-card">
                    <div class="detalles-tarea">
                        <p>Fecha: 25/09 17hs.</p>
                        <p class="descripcion-tarea">Descripción: Pintar un mural.</p>
                        <p>Lugar: Centro, Córdoba Capital.</p>
                    </div>
                    <div class="puntos-tarea">
                        <p>+350 </p>
                        <mat-icon>format_list_bulleted_add</mat-icon>
                    </div>
                </div>
                <mat-icon>keyboard_double_arrow_right</mat-icon>
            </div> 

        </div>-->
    </div>
</div>
