<div class="contenedor fondo-degradado">
    <h1>Club de horas</h1>
    <div class="contenedor-botones">
        <button mat-raised-button color="accent" class="boton-registro" routerLink="/index/registro-voluntario" >Registro Voluntarios</button>
        <button mat-raised-button color="primary" class="boton-registro" (click)="irLoginVoluntarios()" >Login Voluntarios</button>
        
    </div>
    <div class="contenedor-botones">
        <button mat-raised-button color="accent" class="boton-registro" routerLink="/index/registro-organizacion" >Registro Organizaciones</button>
        <button mat-raised-button color="primary" class="boton-registro" (click)="irLoginOrganizaciones()" >Login Organizaciones</button>
        
    </div>

</div>
    
