<app-barra></app-barra>
<!-- general -->
<div class="container">
  <div id="cabecera">
    <p id="texto">Categoría: <span>"{{nameCategory.charAt(0).toUpperCase() + nameCategory.slice(1)}}"</span></p>
    <app-boton-navegacion></app-boton-navegacion>
  </div>
  <div class="row">
    <!-- tarjeta -->
    <div *ngFor="let articulo of listArticulos" class="tarjeta-container col-md-3 mb-4 ">
      <div class="card">
        <div id="tarjeta" class="card-body shadow bg-body rounded">
          <!-- imagen -->
          <div id="contImg"><img id="FotoArticulo" class="shadow bg-body rounded" [src]="images[listArticulos.indexOf(articulo)]"></div>
          <!-- datos -->
            <div id="datos">
                <div id="datos2">
                    <a class="card-title" (click)="verMas(articulo.id)" >{{ articulo.nombre.charAt(0).toUpperCase() + articulo.nombre.slice(1) }}</a>
                    <p>{{ articulo.detalles.charAt(0).toUpperCase() + articulo.detalles.slice(1) }}</p>
                    <p id="Precio" class="card-subtitle">${{ articulo.precio }}</p>
                </div>
                <!-- boton -->
                <button id="boton" (click)="verMas(articulo.id)">Ver más</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>