<div class="form-container">
  <form class="form">
    <p class="title">Registro de Usuario</p>
    <label>
      <input required="" name="email" placeholder="Email" type="email" class="input">
    </label> 
    
    <label>
      <input required="" name="password" placeholder="Password" type="password" class="input">
    </label>
    <label>
      <input required="" name="confirmPassword" placeholder="Confirm password" type="password" class="input">
    </label>
    <button class="submit">Submit</button>
  </form>
</div>
