<div class="form-container">
  <form class="form" [formGroup]="myForm">
    <p class="title">Registro de Usuario</p>
    <label>
      <input required  
        name="email" 
        placeholder="Email" 
        type="email" 
        class="input"
        formControlName="email">   
    </label> 
    
    <label>
      <input required
        name="password" 
        placeholder="Password" 
        type="password" 
        class="input" 
        formControlName="password">
    </label>

    <button class="submit" type="button" (click)="submit(myForm)">Submit</button>
  </form>
</div>
