<div class="form-container">
  <form class="form" [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Usuario:</mat-label>
      <input required matInput name="nick" placeholder="Usuario" type="text" class="input" formControlName="nick">
    </mat-form-field>
    <p class="error" *ngIf="nick?.errors?.['required'] && nick?.dirty">Este campo es obligatorio</p>

    <mat-form-field>
      <mat-label>Contraseña:</mat-label>
      <input matInput required name="password" placeholder="Password" type="password" class="input"
        formControlName="password">
    </mat-form-field>
    <p class="error" *ngIf="password?.errors?.['required'] && password?.dirty">Este campo es obligatorio</p>

    <p class="error" *ngIf="password?.errors?.['minlength']">La longitud minima es de 6 caracteres</p>

    <button class="submit" type="button" (click)="submit(loginForm)" [disabled]="loginForm.status==='INVALID'">Iniciar
      Sesion
    </button>
    <button class="submit" type="button" (click)="views.changeTitle('Registrarse')" (click)="toRegister()" [disabled]="loginForm.status==='VALID'">
      Registrate
    </button>
  </form>
</div>