<div class="container">
    <div class="row">
      <div class="col">
        <form>
          <label class="form-label">Nombre del curso</label>
          <input
            [(ngModel)]="course.name"
            type="text"
            class="form-control"
            name="name"
          />
  
          <label class="form-label">Descripcion del curso</label>
          <input
            [(ngModel)]="course.description"
            type="text"
            class="form-control"
            name="description"
          />
          <label class="form-label">Imagen del curso</label>
          <input
            [(ngModel)]="course.image"
            type="text"
            class="form-control"
            name="name"
          />
          <label class="form-label">maximo de estudiantes del curso</label>
          <input
            [(ngModel)]="course.maxStudents"
            type="number"
            class="form-control"
            name="maxStudents"
          />
          <label class="form-label">Inicio del curso</label>
          <input
            [(ngModel)]="course.start"
            type="date"
            class="form-control"
            name="start"
          />
          <label class="form-label">final del curso</label>
          <input
            [(ngModel)]="course.end"
            type="date"
            class="form-control"
            name="end"
          />
          
          <label class="form-label">Precio del curso</label>
          <input
            [(ngModel)]="course.price"
            type="number"
            class="form-control"
            name="price"
          />
          <label class="form-label">Requisitos del curso</label>
          <input
            [(ngModel)]="course.requirement"
            type="text"
            class="form-control"
            name="requirement"
          />
          <label class="form-label">Profesor/a del curso</label>
          <input
            [(ngModel)]="course.teacher"
            type="text"
            class="form-control"
            name="teacher"
          />
          <select [(ngModel)]="course.CourseCategoryName" name="CourseCategoryName">
            <option value="">Selecciona una categoría</option>
            <option *ngFor="let category of categories" [value]="category.name"><h1>{{ category.name }}</h1></option>
          </select>      
          <div class="row">
            <input
            [(ngModel)]="course.active"
            type="checkbox"
            class="form-check-input"
            name="active"
          />
            <label class="form-label">Esta activo el curso?</label>
            
          </div>
          
          <button (click)="add()" class="btn btn-danger">Agregra</button>
        </form>
      </div>
    </div>
  </div>
  