<app-barra></app-barra>
<!-- general -->
<div id="titulo"><h1>Historial de artículos contratados</h1></div>
<div id="general">
    <div id="recuadro">
        <div id="botonNavegacion">
            <app-boton-navegacion></app-boton-navegacion>
        </div>
        <!-- articulos -->
        <div id="articulo" *ngFor="let articulo of articulos">
            <!-- imagen -->
            <img [src]="articulo.imaArt">
            <!-- datos vendedor -->
            <div id="datosVen">
                <p id="nomArt">Nombre: <span (click)="redirigirProducto(articulo.idArt)">{{articulo.nomArt}}</span></p>
                <p id="nombreVen">Vendedor: <span>{{articulo.nomVen}}</span></p>
                <p id="catArt">Categoría: <span (click)="redirigirCategoria(articulo.idCat)">{{articulo.catArt}}</span></p>
            </div>
            <!-- datos articulo -->
            <div id="descripcion"><p id="desArt">{{articulo.desArt}}</p></div>
            <div id="datosArt">
                <p>Fecha alquiler: <span>{{articulo.fecArt | date}}</span></p>
                <P>Fecha devolución: <span>{{articulo.retArt | date}}</span></P>
                <p>Entrega y devolución: <span>{{articulo.envArt}}</span></p>
            </div>
            <!-- acciones -->
            <div id="acciones"> 
                <p id="preArt">Precio: <span>${{articulo.preArt}}</span></p>
                <a id="verArt" (click)="redirigirProducto(articulo.idArt)">Visualizar Artículo</a>
                <a>Ver comprobante</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
