<app-dashboard-page></app-dashboard-page>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Registro canino</mat-card-title>

    <img
      mat-card-lg-image
      src="https://2.bp.blogspot.com/-J1kaITU-hcs/VQ3cxlGHYfI/AAAAAAABE5Q/3CZKYljALjA/s00/Perrito-con-rosa-en-la-boca_Imagenes-de-perros-tiernos.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    <form [formGroup]="dogForm" (ngSubmit)="dogForm.valid && registerDog()">
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="nombre de la mascota"
          formControlName="nombreDog"
        />
        <mat-error *ngIf="dogForm.controls.nombreDog?.errors?.required">
          El nombre del perro es requerido.
        </mat-error>
        <mat-error *ngIf="dogForm.controls.nombreDog?.errors?.maxlength">
          La cantidad máxima de caracteres es 255.
        </mat-error>
        <mat-error *ngIf="dogForm.controls.nombreDog?.errors?.minlength">
          La cantidad mínima de caracteres es 5.
        </mat-error>
        <mat-error *ngIf="dogForm.controls.nombreDog?.errors?.backendErr">
          Ya registraste ese nombre.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Raza</mat-label>
        <mat-select formControlName = 'idRaza'>
          <mat-option *ngFor="let raza of razas" [value]="raza.id">
            {{raza.raza}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-optgroup>
      <mat-label class="sexo">Sexo</mat-label>
      
        <mat-radio-group formControlName="sexo"aria-label="sexo">
          <mat-radio-button value="1">Macho</mat-radio-button>
          <mat-radio-button value="2">Hembra</mat-radio-button>
        </mat-radio-group>
      </mat-optgroup>
<br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="fechaNacimiento">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      
      <button mat-raised-button color="primary">Registrar</button>
    </form>

    <br />
  </mat-card-content>
</mat-card>
