.example-card {
    max-width: 500px;
    max-height: max-content;
    margin-bottom: 1px;
  }
  mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .mat-radio-group{
    text-align: center;
   
  }
  .mat-optgroup{
    display: block;
  }
  .sexo
  {
    margin-right: 16px;
  }