<article class="w-full px-4 pb-16 overflow-auto pt-12 rounded-md">
  <app-modal-status
    *ngIf="onModal"
    (changueValueModal)="closeModal()"
    [status]="statusModal"
    [message]="messageModal"
    [textBtn]="textBtnModal"
  >
  </app-modal-status>
  <p class="text-[32px] font-semibold text-[#1C132D]">
    Voluntariados finalizados
  </p>
  <div
    class="w-full flex items-center mt-14 flex-col gap-4 shadow-md shadow-dimGray bg-white rounded-lg"
  >
    <div
      class="w-[360px] max-h-[400px] overflow-auto customScroll m:w-[450px] sm:w-full lg:w-[500px] xl:w-full"
    >
      <table class="w-full divide-y divide-lightGray">
        <thead class="w-full bg-darkSlateBlue">
          <tr class="text-white font-semibold text-xs sm:text-sm uppercase">
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Nombre
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Modalidad de trabajo
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Tiempo de trabajo
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Ubicación
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Recompensas
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Voluntario
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left leading-4 tracking-wider">
              Acción
            </th>
          </tr>
        </thead>
        <tbody class="w-full bg-white divide-y divide-lightGray">
          <tr *ngFor="let item of volunteeringsCompleted">
            <td class="px-6 py-4 whitespace-no-wrap">
              {{ item.voluntariado.name }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              {{ item.voluntariado.modeOfwork }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              {{ item.voluntariado.workTime }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              {{ item.voluntariado.address }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              {{ item.voluntariado.reward }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              {{ item.usuario.fullName }}
              <span>{{ item.usuario.email }}</span>
            </td>

            <td
              class="py-4 whitespace-no-wrap text-center flex items-center justify-center"
            >
              <button
                mat-icon-button
                class="btn__delete font-semibold"
                (click)="creditReward()"
              >
                <span class="tooltip"><p>Acreditar recompensa</p></span>

                <mat-icon class="text-[#00ff00] font-black">done</mat-icon>
              </button>
              <button mat-icon-button class="btn__delete font-semibold">
                <span class="tooltip"><p>Eliminar</p></span>
                <mat-icon class="text-[#ff0000] font-black">clear</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>
