
<form class="form_container" [formGroup]="myForm"  (ngSubmit)="addProduct()">
    <div class="title_container">
        <p class="title">Agregar Producto</p>
        <span class="subtitle">Ingrese los datos del nuevo producto.</span>
    </div>
    <br>
    <div class="input_container">
        <label class="input_label" for="name_field">Nombre del Producto</label>
        <input placeholder="ProductoX" title="Nombre del Producto" name="input-name" type="text" class="input_field" id="name_field" formControlName="name">
        <p class="errorInput" *ngIf="myForm.get('nombreProducto')?.touched && myForm.get('nombreProducto')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="name_field">Cantidad</label>
        <input placeholder="3" title="Cantidad" name="input-cantidad" type="number" class="input_field" id="cantidad_field" formControlName="quantity">
        <p class="errorInput" *ngIf="myForm.get('cantidad')?.touched && myForm.get('cantidad')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <!-- <label class="input_label" for="categoria_field">Categoria</label>
        <input placeholder="CategoriaX" title="Categoria" name="input-categoria" type="text" class="input_field" id="categoria_field" formControlName="categoria"> -->
        <mat-form-field>
            <mat-label>Categorias</mat-label>
            <mat-select formControlName="categories" multiple>
              <mat-option *ngFor="let c of categorias" [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        <p class="errorInput" *ngIf="myForm.get('categoria')?.touched && myForm.get('categoria')?.hasError('required')">Campo Obligatorio</p>
    </div>
  
    <div class="input_container">
        <label class="input_label" for="material_field">Tipo de Material</label>
        <input placeholder="materialX" title="Tipo de Material" name="input-material" type="text" class="input_field" id="material_field" formControlName="tipoMaterial">
        <p class="errorInput" *ngIf="myForm.get('tipoMaterial')?.touched && myForm.get('tipoMaterial')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="url_field">URL de la imagen</label>
        <input placeholder="url" title="url" name="input-url" type="url" class="input_field" id="url_field" formControlName="image">
        <p class="errorInput" *ngIf="myForm.get('urlImagen')?.touched && myForm.get('urlImagen')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="precio_field">Precio</label>
        <input placeholder="$ 1500" title="Precio" name="input-precio" type="number" class="input_field" id="precio_field" formControlName="price">
        <p class="errorInput" *ngIf="myForm.get('precio')?.touched && myForm.get('precio')?.hasError('required')">Campo Obligatorio</p>
    </div>
    <div class="input_container">
        <label class="input_label" for="password_field">Descripción</label>
        <textarea placeholder="Descripción de producto" title="Descripción del Producto" name="input-name" class="input_field input-description" id="password_field" formControlName="description"></textarea>
        <p class="errorInput" *ngIf="myForm.get('descripcion')?.touched && myForm.get('descripcion')?.hasError('required')">Campo Obligatorio</p>
    </div>
    
    <button title="Sign In" type="submit" class="sign-in_btn" [disabled]="myForm.invalid">
        <span>Agregar</span>
    </button>
</form>
