<!-- Menu ppal-->
  <nav class="menuppal">
    <div 
      class="border-circle border-yellow-500 w-6rem h-6rem m-2 surface-300 font-bold flex align-items-center justify-content-center">
      logo
    </div>
    <ul class="nav list">
      <li><a routerLink="/">Home</a></li>
      <li><a href="#cursos">Cursos</a></li>
      <li><a href="#">Alianzas</a></li>
      <ul class="dropdown" type="none">
        <li><a href="index.html">Experiencias destacadas</a>
          <ul class="cursos" type="none">
            <li><a href="#testimonios">Testimonios</a></li>
            <li><a href="">Publicaciones</a></li>
          </ul>
        </li>
      </ul>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Loguin</a></li>
    </ul>
  </nav> 



  <div class="menu-hamburguesa">
    <input id="check" type="checkbox">
    <label for="check">
      <div class="menu-hamb">
        <span class="hamburguer"></span>
      </div>
    </label>
  
    <ul class="ul-mbl">
      <li><a routerLink="/">Home</a></li>
      <li><a href="#cursos">Cursos</a></li>
      <li><a href="#">Alianzas</a></li>
      <ul class="dropdown" type="none">
        <li><a href="index.html">Exp. destacadas</a>
          <ul class="cursos" type="none">
            <li><a href="#testimonios">Testimonios</a></li>
            <li><a href="">Publicaciones</a></li>
          </ul>
        </li>
      </ul>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Loguin</a></li>
    </ul>
  </div>

