<div class="flex border-1 border-400">
    <div
        class="border-primary flex align-items-center justify-content-center h-8rem bg-white font-bold border-round m-2 ">
        <div class="border-circle border-yellow-500 w-6rem h-6rem m-2 surface-300 font-bold flex align-items-center justify-content-center">
            logo
        </div>
    </div>
    <div
        class="border-primary flex flex-row-reverse flex-grow-1 align-items-center h-8rem bg-white font-bold border-round m-2 ">


        <div
            class="border-500 surface-overlay border-2 border-round flex align-items-center justify-content-center bg-white  m-2 px-5 py-3 border-round">
            <a href="">Contacto</a>
        </div>
        <div
            class="border-500 surface-overlay border-2 border-round flex align-items-center justify-content-center bg-white  m-2 px-5 py-3 border-round">
            <a href="">Sobre Nosotros</a>
        </div>
        <div
            class="border-500 surface-overlay border-2 border-round flex align-items-center justify-content-center bg-white m-2 px-5 py-3 border-round">
            <a href="" routerLink="/all-courses">Todos los Cursos</a>
        </div>
        <div
            class="border-500 surface-overlay border-2 border-round flex align-items-center justify-content-center bg-white m-1 px-5 py-3 border-round">
            <a href="">Home</a>
        </div>
    </div>
</div>